.button {
  text-transform: uppercase; }

.button-blue {
  background-color: #2fc1db;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s; }
  .button-blue:hover {
    background-color: #25d8f6; }

@keyframes toggleFade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes fadeInOpa {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes goUp {
  0% {
    transform: translateY(-10rem); }
  100% {
    transform: translateY(0); } }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1969px 1312px #FFF , 1120px 621px #FFF , 1617px 1392px #FFF , 521px 1160px #FFF , 168px 1557px #FFF , 380px 454px #FFF , 638px 224px #FFF , 1118px 1054px #FFF , 1477px 1749px #FFF , 1670px 405px #FFF , 1196px 550px #FFF , 746px 397px #FFF , 690px 1794px #FFF , 333px 1835px #FFF , 1866px 287px #FFF , 721px 973px #FFF , 194px 592px #FFF , 705px 910px #FFF , 388px 809px #FFF , 264px 1383px #FFF , 1626px 1061px #FFF , 208px 1676px #FFF , 238px 291px #FFF , 26px 9px #FFF , 1322px 1582px #FFF , 1414px 327px #FFF , 852px 187px #FFF , 249px 956px #FFF , 1134px 899px #FFF , 1896px 508px #FFF , 1420px 237px #FFF , 1443px 1502px #FFF , 1765px 249px #FFF , 761px 708px #FFF , 1171px 1710px #FFF , 476px 777px #FFF , 961px 74px #FFF , 964px 166px #FFF , 1650px 576px #FFF , 1768px 1368px #FFF , 511px 1178px #FFF , 1973px 432px #FFF , 580px 230px #FFF , 1614px 1954px #FFF , 790px 54px #FFF , 431px 794px #FFF , 1763px 789px #FFF , 1062px 1728px #FFF , 1031px 1338px #FFF , 47px 873px #FFF , 1148px 1439px #FFF , 552px 801px #FFF , 1006px 515px #FFF , 515px 1391px #FFF , 486px 629px #FFF , 1216px 1277px #FFF , 618px 1400px #FFF , 441px 553px #FFF , 463px 539px #FFF , 1752px 1772px #FFF , 777px 1293px #FFF , 1036px 133px #FFF , 941px 113px #FFF , 1792px 1990px #FFF , 330px 1536px #FFF , 1519px 1183px #FFF , 1427px 784px #FFF , 612px 664px #FFF , 469px 393px #FFF , 1941px 844px #FFF , 1798px 389px #FFF , 1477px 1200px #FFF , 405px 537px #FFF , 3px 172px #FFF , 559px 509px #FFF , 1260px 1275px #FFF , 866px 574px #FFF , 1137px 1693px #FFF , 478px 773px #FFF , 1356px 1585px #FFF , 1023px 972px #FFF , 622px 1590px #FFF , 1577px 121px #FFF , 1303px 1326px #FFF , 485px 1030px #FFF , 497px 978px #FFF , 676px 40px #FFF , 1166px 614px #FFF , 110px 1270px #FFF , 1545px 1131px #FFF , 1284px 1492px #FFF , 1987px 889px #FFF , 636px 377px #FFF , 854px 148px #FFF , 122px 584px #FFF , 1987px 1955px #FFF , 1857px 512px #FFF , 294px 1267px #FFF , 398px 350px #FFF , 1726px 1705px #FFF , 733px 1876px #FFF , 280px 733px #FFF , 458px 1821px #FFF , 415px 1321px #FFF , 713px 1588px #FFF , 749px 956px #FFF , 396px 183px #FFF , 424px 1492px #FFF , 1456px 1009px #FFF , 960px 601px #FFF , 1410px 1095px #FFF , 1612px 1644px #FFF , 617px 1494px #FFF , 1557px 64px #FFF , 36px 270px #FFF , 1343px 296px #FFF , 1312px 1433px #FFF , 394px 491px #FFF , 231px 305px #FFF , 517px 47px #FFF , 1223px 1870px #FFF , 1411px 889px #FFF , 1779px 172px #FFF , 597px 30px #FFF , 385px 672px #FFF , 1944px 485px #FFF , 283px 446px #FFF , 614px 1000px #FFF , 359px 1809px #FFF , 30px 1719px #FFF , 1874px 1482px #FFF , 1655px 133px #FFF , 1659px 1385px #FFF , 676px 1065px #FFF , 775px 1968px #FFF , 236px 536px #FFF , 1418px 1313px #FFF , 200px 1998px #FFF , 719px 1451px #FFF , 343px 203px #FFF , 1539px 435px #FFF , 1226px 1540px #FFF , 304px 511px #FFF , 1100px 952px #FFF , 1148px 258px #FFF , 772px 469px #FFF , 1227px 810px #FFF , 1810px 1797px #FFF , 1561px 1870px #FFF , 1985px 996px #FFF , 903px 416px #FFF , 1432px 947px #FFF , 574px 1785px #FFF , 207px 1212px #FFF , 1654px 844px #FFF , 1942px 1942px #FFF , 1540px 209px #FFF , 509px 852px #FFF , 167px 1241px #FFF , 1746px 1072px #FFF , 849px 1654px #FFF , 1670px 171px #FFF , 1187px 1196px #FFF , 1184px 1786px #FFF , 499px 351px #FFF , 317px 198px #FFF , 1790px 1256px #FFF , 761px 1350px #FFF , 738px 18px #FFF , 1402px 1747px #FFF , 1262px 936px #FFF , 1638px 378px #FFF , 229px 1792px #FFF , 44px 1260px #FFF , 677px 1962px #FFF , 246px 167px #FFF , 1853px 4px #FFF , 1666px 1591px #FFF , 532px 151px #FFF , 1014px 855px #FFF , 1116px 460px #FFF , 1882px 794px #FFF , 1902px 113px #FFF , 1869px 19px #FFF , 195px 1751px #FFF , 1534px 1595px #FFF , 1222px 1787px #FFF , 734px 675px #FFF , 130px 8px #FFF , 1286px 547px #FFF , 1420px 1089px #FFF , 1121px 252px #FFF , 1210px 1411px #FFF , 1355px 707px #FFF , 116px 169px #FFF , 1638px 1096px #FFF , 1501px 37px #FFF , 1226px 595px #FFF , 1377px 1201px #FFF , 1102px 1824px #FFF , 426px 1528px #FFF , 1420px 1910px #FFF , 834px 1876px #FFF , 599px 463px #FFF , 633px 407px #FFF , 1831px 221px #FFF , 140px 443px #FFF , 2000px 997px #FFF , 1746px 1145px #FFF , 741px 1374px #FFF , 196px 475px #FFF , 1286px 168px #FFF , 1064px 795px #FFF , 797px 1224px #FFF , 975px 1202px #FFF , 1906px 640px #FFF , 1949px 696px #FFF , 1208px 1084px #FFF , 912px 1128px #FFF , 856px 703px #FFF , 11px 856px #FFF , 631px 641px #FFF , 1211px 805px #FFF , 1892px 843px #FFF , 1799px 941px #FFF , 746px 1162px #FFF , 21px 1066px #FFF , 1758px 888px #FFF , 71px 1464px #FFF , 701px 1264px #FFF , 926px 374px #FFF , 1245px 1015px #FFF , 1882px 384px #FFF , 1311px 1111px #FFF , 192px 657px #FFF , 1271px 1513px #FFF , 445px 1162px #FFF , 1225px 472px #FFF , 1798px 834px #FFF , 53px 1690px #FFF , 846px 278px #FFF , 133px 579px #FFF , 913px 1234px #FFF , 665px 694px #FFF , 1762px 319px #FFF , 697px 1234px #FFF , 537px 1501px #FFF , 382px 1648px #FFF , 1199px 546px #FFF , 1698px 99px #FFF , 874px 1509px #FFF , 514px 1138px #FFF , 34px 699px #FFF , 1642px 1341px #FFF , 144px 1763px #FFF , 1031px 1635px #FFF , 1019px 345px #FFF , 426px 498px #FFF , 379px 528px #FFF , 1672px 584px #FFF , 1217px 1137px #FFF , 726px 934px #FFF , 658px 184px #FFF , 680px 234px #FFF , 1798px 1731px #FFF , 718px 79px #FFF , 782px 139px #FFF , 66px 555px #FFF , 363px 1740px #FFF , 68px 455px #FFF , 1989px 1096px #FFF , 1347px 1658px #FFF , 1681px 1081px #FFF , 45px 112px #FFF , 1861px 1870px #FFF , 399px 138px #FFF , 1255px 1662px #FFF , 269px 1458px #FFF , 1101px 1080px #FFF , 646px 275px #FFF , 1145px 1958px #FFF , 1454px 89px #FFF , 689px 1191px #FFF , 1196px 703px #FFF , 1780px 1px #FFF , 1709px 1884px #FFF , 672px 1157px #FFF , 1667px 1710px #FFF , 1641px 1831px #FFF , 1317px 1869px #FFF , 1687px 1319px #FFF , 1649px 647px #FFF , 1371px 1793px #FFF , 1436px 1007px #FFF , 485px 423px #FFF , 751px 1626px #FFF , 816px 250px #FFF , 1135px 1114px #FFF , 1040px 991px #FFF , 389px 1685px #FFF , 703px 1030px #FFF , 1099px 110px #FFF , 942px 403px #FFF , 965px 105px #FFF , 1623px 886px #FFF , 1027px 1656px #FFF , 260px 838px #FFF , 1956px 851px #FFF , 961px 433px #FFF , 1587px 541px #FFF , 1464px 1915px #FFF , 1993px 885px #FFF , 1876px 1668px #FFF , 332px 251px #FFF , 329px 28px #FFF , 758px 410px #FFF , 1808px 1068px #FFF , 190px 1205px #FFF , 1252px 1965px #FFF , 387px 371px #FFF , 254px 9px #FFF , 1543px 1873px #FFF , 359px 385px #FFF , 126px 1749px #FFF , 700px 1618px #FFF , 200px 1953px #FFF , 958px 1574px #FFF , 554px 153px #FFF , 481px 1125px #FFF , 966px 1698px #FFF , 1461px 720px #FFF , 1923px 477px #FFF , 890px 1646px #FFF , 146px 1894px #FFF , 812px 1644px #FFF , 262px 1666px #FFF , 1991px 1431px #FFF , 1382px 983px #FFF , 352px 1952px #FFF , 1271px 139px #FFF , 1353px 1882px #FFF , 877px 774px #FFF , 968px 795px #FFF , 834px 1504px #FFF , 238px 617px #FFF , 1976px 533px #FFF , 1800px 4px #FFF , 239px 1909px #FFF , 929px 9px #FFF , 1955px 354px #FFF , 1914px 534px #FFF , 1748px 678px #FFF , 277px 1124px #FFF , 602px 400px #FFF , 882px 369px #FFF , 183px 582px #FFF , 1101px 403px #FFF , 1377px 1812px #FFF , 675px 946px #FFF , 1877px 893px #FFF , 1904px 1967px #FFF , 13px 1521px #FFF , 100px 1901px #FFF , 732px 514px #FFF , 335px 826px #FFF , 196px 215px #FFF , 1539px 1632px #FFF , 1115px 1931px #FFF , 1854px 110px #FFF , 371px 1261px #FFF , 1822px 1904px #FFF , 600px 346px #FFF , 151px 119px #FFF , 363px 1300px #FFF , 444px 1801px #FFF , 1792px 1401px #FFF , 467px 444px #FFF , 1166px 1255px #FFF , 84px 792px #FFF , 363px 553px #FFF , 823px 912px #FFF , 183px 1077px #FFF , 1226px 620px #FFF , 1834px 510px #FFF , 548px 1750px #FFF , 281px 1448px #FFF , 1383px 697px #FFF , 367px 274px #FFF , 408px 1323px #FFF , 1402px 1998px #FFF , 739px 230px #FFF , 618px 876px #FFF , 1243px 567px #FFF , 1088px 320px #FFF , 1617px 716px #FFF , 965px 348px #FFF , 1197px 1371px #FFF , 1090px 86px #FFF , 477px 820px #FFF , 1372px 1943px #FFF , 1881px 531px #FFF , 824px 1075px #FFF , 1703px 1829px #FFF , 1707px 853px #FFF , 1213px 985px #FFF , 1917px 553px #FFF , 336px 1303px #FFF , 1907px 380px #FFF , 543px 234px #FFF , 1480px 1106px #FFF , 1791px 1396px #FFF , 525px 535px #FFF , 1203px 123px #FFF , 542px 922px #FFF , 608px 1854px #FFF , 1158px 124px #FFF , 667px 831px #FFF , 1140px 1912px #FFF , 422px 195px #FFF , 824px 1510px #FFF , 960px 1551px #FFF , 744px 400px #FFF , 467px 1363px #FFF , 916px 57px #FFF , 637px 1487px #FFF , 1674px 1119px #FFF , 1862px 1162px #FFF , 1599px 344px #FFF , 1450px 1382px #FFF , 937px 1617px #FFF , 1823px 1885px #FFF , 1559px 74px #FFF , 1390px 171px #FFF , 630px 1300px #FFF , 1023px 1947px #FFF , 1442px 505px #FFF , 743px 1637px #FFF , 1041px 1485px #FFF , 1119px 626px #FFF , 1623px 1467px #FFF , 1841px 1585px #FFF , 543px 613px #FFF , 840px 1515px #FFF , 930px 1939px #FFF , 1641px 1372px #FFF , 1402px 957px #FFF , 1533px 1906px #FFF , 709px 428px #FFF , 1108px 1334px #FFF , 1249px 1473px #FFF , 852px 1033px #FFF , 1448px 1205px #FFF , 1766px 956px #FFF , 1362px 1984px #FFF , 774px 476px #FFF , 1999px 1291px #FFF , 1123px 1139px #FFF , 943px 1965px #FFF , 173px 1382px #FFF , 502px 145px #FFF , 1973px 1875px #FFF , 1322px 1929px #FFF , 1429px 1008px #FFF , 865px 1046px #FFF , 1275px 1384px #FFF , 561px 1518px #FFF , 1437px 1217px #FFF , 566px 1981px #FFF , 16px 330px #FFF , 21px 830px #FFF , 1203px 990px #FFF , 1720px 310px #FFF , 131px 1753px #FFF , 1967px 1157px #FFF , 1896px 1477px #FFF , 516px 1684px #FFF , 1986px 1455px #FFF , 1833px 1049px #FFF , 479px 321px #FFF , 1057px 1158px #FFF , 955px 271px #FFF , 558px 1177px #FFF , 563px 1274px #FFF , 1814px 1433px #FFF , 82px 1307px #FFF , 1259px 804px #FFF , 613px 1243px #FFF , 1723px 521px #FFF , 1876px 96px #FFF , 662px 240px #FFF , 1779px 762px #FFF , 1344px 615px #FFF , 1205px 1996px #FFF , 337px 192px #FFF , 998px 928px #FFF , 462px 255px #FFF , 406px 1335px #FFF , 1519px 1663px #FFF , 209px 891px #FFF , 880px 21px #FFF , 1844px 957px #FFF , 1057px 623px #FFF , 243px 151px #FFF , 290px 188px #FFF , 1023px 1309px #FFF , 851px 508px #FFF , 133px 1568px #FFF , 1699px 1047px #FFF , 594px 482px #FFF , 791px 683px #FFF , 921px 211px #FFF , 558px 554px #FFF , 901px 102px #FFF , 821px 339px #FFF , 1457px 1825px #FFF , 1637px 107px #FFF , 279px 1535px #FFF , 1599px 1291px #FFF , 136px 1484px #FFF , 1592px 66px #FFF , 525px 260px #FFF , 853px 237px #FFF , 702px 1807px #FFF , 204px 990px #FFF , 1513px 1906px #FFF , 1053px 443px #FFF , 226px 441px #FFF , 1538px 726px #FFF , 1809px 899px #FFF , 1572px 1262px #FFF , 1083px 307px #FFF , 1256px 464px #FFF , 1371px 365px #FFF , 782px 1015px #FFF , 969px 1283px #FFF , 780px 1733px #FFF , 591px 215px #FFF , 1763px 1375px #FFF , 776px 1213px #FFF , 1135px 1484px #FFF , 1146px 1641px #FFF , 695px 719px #FFF , 403px 1695px #FFF , 1709px 629px #FFF , 1388px 249px #FFF , 68px 126px #FFF , 1895px 1186px #FFF , 889px 538px #FFF , 963px 1196px #FFF , 63px 628px #FFF , 1510px 1309px #FFF , 176px 161px #FFF , 1230px 246px #FFF , 689px 1070px #FFF , 1141px 1345px #FFF , 572px 1188px #FFF , 1421px 373px #FFF , 278px 446px #FFF , 64px 306px #FFF , 1968px 1796px #FFF , 815px 171px #FFF , 56px 404px #FFF , 1047px 1390px #FFF , 762px 942px #FFF , 1303px 175px #FFF , 1383px 789px #FFF , 660px 124px #FFF , 920px 707px #FFF , 1282px 520px #FFF , 185px 47px #FFF , 147px 1838px #FFF , 1987px 605px #FFF , 1069px 1740px #FFF , 34px 894px #FFF , 1902px 852px #FFF , 1850px 128px #FFF , 1178px 1604px #FFF , 961px 682px #FFF , 1220px 1053px #FFF , 1861px 1419px #FFF , 1240px 851px #FFF , 1096px 1540px #FFF , 1263px 1668px #FFF , 881px 706px #FFF , 1695px 1031px #FFF , 1522px 1665px #FFF , 91px 1558px #FFF , 1431px 511px #FFF , 868px 1464px #FFF , 828px 798px #FFF , 40px 28px #FFF , 1651px 1045px #FFF , 967px 245px #FFF , 17px 724px #FFF , 958px 1331px #FFF , 1343px 249px #FFF , 40px 1561px #FFF , 304px 1375px #FFF , 1094px 1959px #FFF , 1719px 698px #FFF , 33px 172px #FFF , 578px 1217px #FFF , 138px 1640px #FFF , 1760px 332px #FFF , 833px 596px #FFF , 1235px 1772px #FFF , 187px 1068px #FFF , 1078px 107px #FFF , 1887px 323px #FFF , 1910px 171px #FFF , 1700px 188px #FFF , 1452px 1810px #FFF , 935px 1497px #FFF , 1679px 980px #FFF , 1418px 925px #FFF , 189px 410px #FFF , 659px 912px #FFF , 456px 584px #FFF , 250px 1732px #FFF , 387px 1287px #FFF , 392px 1895px #FFF , 901px 749px #FFF , 1080px 19px #FFF , 28px 1428px #FFF , 1311px 315px #FFF , 1312px 200px #FFF , 1222px 1346px #FFF , 784px 773px #FFF , 243px 1284px #FFF , 1924px 357px #FFF , 1164px 905px #FFF , 640px 1612px #FFF , 451px 707px #FFF , 785px 355px #FFF , 1770px 857px #FFF , 11px 1802px #FFF , 103px 997px #FFF , 1042px 331px #FFF , 305px 492px #FFF , 1326px 471px #FFF , 541px 165px #FFF , 1696px 939px #FFF , 1786px 152px #FFF , 1655px 690px #FFF , 442px 1421px #FFF , 1837px 1118px #FFF , 929px 1532px #FFF , 809px 105px #FFF , 36px 1972px #FFF , 1404px 571px #FFF , 757px 451px #FFF , 1454px 741px #FFF , 181px 1905px #FFF , 1424px 522px #FFF , 274px 907px #FFF , 676px 166px #FFF , 1772px 211px #FFF , 1252px 353px #FFF , 1993px 271px #FFF , 1639px 1779px #FFF , 517px 828px #FFF , 818px 725px #FFF , 1683px 250px #FFF , 608px 1430px #FFF , 1064px 1784px #FFF , 1829px 1166px #FFF , 342px 1669px #FFF , 1809px 1463px #FFF , 11px 774px #FFF , 49px 474px #FFF , 621px 44px #FFF , 231px 264px #FFF , 237px 140px #FFF , 1374px 1523px #FFF , 358px 1335px #FFF , 1059px 765px #FFF , 1383px 50px #FFF , 1443px 156px #FFF , 805px 562px #FFF , 1880px 1181px #FFF , 1317px 1578px #FFF , 1223px 1035px #FFF , 1326px 994px #FFF , 130px 564px #FFF , 745px 1830px #FFF , 1091px 323px #FFF , 1435px 957px #FFF , 31px 1761px #FFF , 800px 1558px #FFF , 1106px 1841px #FFF , 611px 1438px #FFF , 1052px 1048px #FFF , 200px 421px #FFF , 1679px 723px #FFF , 667px 1717px #FFF , 451px 61px #FFF , 588px 1623px #FFF , 1317px 1400px #FFF , 527px 1035px #FFF , 724px 220px #FFF;
  animation: animStar 50s linear infinite;
  position: relative;
  z-index: 2; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1969px 1312px #FFF , 1120px 621px #FFF , 1617px 1392px #FFF , 521px 1160px #FFF , 168px 1557px #FFF , 380px 454px #FFF , 638px 224px #FFF , 1118px 1054px #FFF , 1477px 1749px #FFF , 1670px 405px #FFF , 1196px 550px #FFF , 746px 397px #FFF , 690px 1794px #FFF , 333px 1835px #FFF , 1866px 287px #FFF , 721px 973px #FFF , 194px 592px #FFF , 705px 910px #FFF , 388px 809px #FFF , 264px 1383px #FFF , 1626px 1061px #FFF , 208px 1676px #FFF , 238px 291px #FFF , 26px 9px #FFF , 1322px 1582px #FFF , 1414px 327px #FFF , 852px 187px #FFF , 249px 956px #FFF , 1134px 899px #FFF , 1896px 508px #FFF , 1420px 237px #FFF , 1443px 1502px #FFF , 1765px 249px #FFF , 761px 708px #FFF , 1171px 1710px #FFF , 476px 777px #FFF , 961px 74px #FFF , 964px 166px #FFF , 1650px 576px #FFF , 1768px 1368px #FFF , 511px 1178px #FFF , 1973px 432px #FFF , 580px 230px #FFF , 1614px 1954px #FFF , 790px 54px #FFF , 431px 794px #FFF , 1763px 789px #FFF , 1062px 1728px #FFF , 1031px 1338px #FFF , 47px 873px #FFF , 1148px 1439px #FFF , 552px 801px #FFF , 1006px 515px #FFF , 515px 1391px #FFF , 486px 629px #FFF , 1216px 1277px #FFF , 618px 1400px #FFF , 441px 553px #FFF , 463px 539px #FFF , 1752px 1772px #FFF , 777px 1293px #FFF , 1036px 133px #FFF , 941px 113px #FFF , 1792px 1990px #FFF , 330px 1536px #FFF , 1519px 1183px #FFF , 1427px 784px #FFF , 612px 664px #FFF , 469px 393px #FFF , 1941px 844px #FFF , 1798px 389px #FFF , 1477px 1200px #FFF , 405px 537px #FFF , 3px 172px #FFF , 559px 509px #FFF , 1260px 1275px #FFF , 866px 574px #FFF , 1137px 1693px #FFF , 478px 773px #FFF , 1356px 1585px #FFF , 1023px 972px #FFF , 622px 1590px #FFF , 1577px 121px #FFF , 1303px 1326px #FFF , 485px 1030px #FFF , 497px 978px #FFF , 676px 40px #FFF , 1166px 614px #FFF , 110px 1270px #FFF , 1545px 1131px #FFF , 1284px 1492px #FFF , 1987px 889px #FFF , 636px 377px #FFF , 854px 148px #FFF , 122px 584px #FFF , 1987px 1955px #FFF , 1857px 512px #FFF , 294px 1267px #FFF , 398px 350px #FFF , 1726px 1705px #FFF , 733px 1876px #FFF , 280px 733px #FFF , 458px 1821px #FFF , 415px 1321px #FFF , 713px 1588px #FFF , 749px 956px #FFF , 396px 183px #FFF , 424px 1492px #FFF , 1456px 1009px #FFF , 960px 601px #FFF , 1410px 1095px #FFF , 1612px 1644px #FFF , 617px 1494px #FFF , 1557px 64px #FFF , 36px 270px #FFF , 1343px 296px #FFF , 1312px 1433px #FFF , 394px 491px #FFF , 231px 305px #FFF , 517px 47px #FFF , 1223px 1870px #FFF , 1411px 889px #FFF , 1779px 172px #FFF , 597px 30px #FFF , 385px 672px #FFF , 1944px 485px #FFF , 283px 446px #FFF , 614px 1000px #FFF , 359px 1809px #FFF , 30px 1719px #FFF , 1874px 1482px #FFF , 1655px 133px #FFF , 1659px 1385px #FFF , 676px 1065px #FFF , 775px 1968px #FFF , 236px 536px #FFF , 1418px 1313px #FFF , 200px 1998px #FFF , 719px 1451px #FFF , 343px 203px #FFF , 1539px 435px #FFF , 1226px 1540px #FFF , 304px 511px #FFF , 1100px 952px #FFF , 1148px 258px #FFF , 772px 469px #FFF , 1227px 810px #FFF , 1810px 1797px #FFF , 1561px 1870px #FFF , 1985px 996px #FFF , 903px 416px #FFF , 1432px 947px #FFF , 574px 1785px #FFF , 207px 1212px #FFF , 1654px 844px #FFF , 1942px 1942px #FFF , 1540px 209px #FFF , 509px 852px #FFF , 167px 1241px #FFF , 1746px 1072px #FFF , 849px 1654px #FFF , 1670px 171px #FFF , 1187px 1196px #FFF , 1184px 1786px #FFF , 499px 351px #FFF , 317px 198px #FFF , 1790px 1256px #FFF , 761px 1350px #FFF , 738px 18px #FFF , 1402px 1747px #FFF , 1262px 936px #FFF , 1638px 378px #FFF , 229px 1792px #FFF , 44px 1260px #FFF , 677px 1962px #FFF , 246px 167px #FFF , 1853px 4px #FFF , 1666px 1591px #FFF , 532px 151px #FFF , 1014px 855px #FFF , 1116px 460px #FFF , 1882px 794px #FFF , 1902px 113px #FFF , 1869px 19px #FFF , 195px 1751px #FFF , 1534px 1595px #FFF , 1222px 1787px #FFF , 734px 675px #FFF , 130px 8px #FFF , 1286px 547px #FFF , 1420px 1089px #FFF , 1121px 252px #FFF , 1210px 1411px #FFF , 1355px 707px #FFF , 116px 169px #FFF , 1638px 1096px #FFF , 1501px 37px #FFF , 1226px 595px #FFF , 1377px 1201px #FFF , 1102px 1824px #FFF , 426px 1528px #FFF , 1420px 1910px #FFF , 834px 1876px #FFF , 599px 463px #FFF , 633px 407px #FFF , 1831px 221px #FFF , 140px 443px #FFF , 2000px 997px #FFF , 1746px 1145px #FFF , 741px 1374px #FFF , 196px 475px #FFF , 1286px 168px #FFF , 1064px 795px #FFF , 797px 1224px #FFF , 975px 1202px #FFF , 1906px 640px #FFF , 1949px 696px #FFF , 1208px 1084px #FFF , 912px 1128px #FFF , 856px 703px #FFF , 11px 856px #FFF , 631px 641px #FFF , 1211px 805px #FFF , 1892px 843px #FFF , 1799px 941px #FFF , 746px 1162px #FFF , 21px 1066px #FFF , 1758px 888px #FFF , 71px 1464px #FFF , 701px 1264px #FFF , 926px 374px #FFF , 1245px 1015px #FFF , 1882px 384px #FFF , 1311px 1111px #FFF , 192px 657px #FFF , 1271px 1513px #FFF , 445px 1162px #FFF , 1225px 472px #FFF , 1798px 834px #FFF , 53px 1690px #FFF , 846px 278px #FFF , 133px 579px #FFF , 913px 1234px #FFF , 665px 694px #FFF , 1762px 319px #FFF , 697px 1234px #FFF , 537px 1501px #FFF , 382px 1648px #FFF , 1199px 546px #FFF , 1698px 99px #FFF , 874px 1509px #FFF , 514px 1138px #FFF , 34px 699px #FFF , 1642px 1341px #FFF , 144px 1763px #FFF , 1031px 1635px #FFF , 1019px 345px #FFF , 426px 498px #FFF , 379px 528px #FFF , 1672px 584px #FFF , 1217px 1137px #FFF , 726px 934px #FFF , 658px 184px #FFF , 680px 234px #FFF , 1798px 1731px #FFF , 718px 79px #FFF , 782px 139px #FFF , 66px 555px #FFF , 363px 1740px #FFF , 68px 455px #FFF , 1989px 1096px #FFF , 1347px 1658px #FFF , 1681px 1081px #FFF , 45px 112px #FFF , 1861px 1870px #FFF , 399px 138px #FFF , 1255px 1662px #FFF , 269px 1458px #FFF , 1101px 1080px #FFF , 646px 275px #FFF , 1145px 1958px #FFF , 1454px 89px #FFF , 689px 1191px #FFF , 1196px 703px #FFF , 1780px 1px #FFF , 1709px 1884px #FFF , 672px 1157px #FFF , 1667px 1710px #FFF , 1641px 1831px #FFF , 1317px 1869px #FFF , 1687px 1319px #FFF , 1649px 647px #FFF , 1371px 1793px #FFF , 1436px 1007px #FFF , 485px 423px #FFF , 751px 1626px #FFF , 816px 250px #FFF , 1135px 1114px #FFF , 1040px 991px #FFF , 389px 1685px #FFF , 703px 1030px #FFF , 1099px 110px #FFF , 942px 403px #FFF , 965px 105px #FFF , 1623px 886px #FFF , 1027px 1656px #FFF , 260px 838px #FFF , 1956px 851px #FFF , 961px 433px #FFF , 1587px 541px #FFF , 1464px 1915px #FFF , 1993px 885px #FFF , 1876px 1668px #FFF , 332px 251px #FFF , 329px 28px #FFF , 758px 410px #FFF , 1808px 1068px #FFF , 190px 1205px #FFF , 1252px 1965px #FFF , 387px 371px #FFF , 254px 9px #FFF , 1543px 1873px #FFF , 359px 385px #FFF , 126px 1749px #FFF , 700px 1618px #FFF , 200px 1953px #FFF , 958px 1574px #FFF , 554px 153px #FFF , 481px 1125px #FFF , 966px 1698px #FFF , 1461px 720px #FFF , 1923px 477px #FFF , 890px 1646px #FFF , 146px 1894px #FFF , 812px 1644px #FFF , 262px 1666px #FFF , 1991px 1431px #FFF , 1382px 983px #FFF , 352px 1952px #FFF , 1271px 139px #FFF , 1353px 1882px #FFF , 877px 774px #FFF , 968px 795px #FFF , 834px 1504px #FFF , 238px 617px #FFF , 1976px 533px #FFF , 1800px 4px #FFF , 239px 1909px #FFF , 929px 9px #FFF , 1955px 354px #FFF , 1914px 534px #FFF , 1748px 678px #FFF , 277px 1124px #FFF , 602px 400px #FFF , 882px 369px #FFF , 183px 582px #FFF , 1101px 403px #FFF , 1377px 1812px #FFF , 675px 946px #FFF , 1877px 893px #FFF , 1904px 1967px #FFF , 13px 1521px #FFF , 100px 1901px #FFF , 732px 514px #FFF , 335px 826px #FFF , 196px 215px #FFF , 1539px 1632px #FFF , 1115px 1931px #FFF , 1854px 110px #FFF , 371px 1261px #FFF , 1822px 1904px #FFF , 600px 346px #FFF , 151px 119px #FFF , 363px 1300px #FFF , 444px 1801px #FFF , 1792px 1401px #FFF , 467px 444px #FFF , 1166px 1255px #FFF , 84px 792px #FFF , 363px 553px #FFF , 823px 912px #FFF , 183px 1077px #FFF , 1226px 620px #FFF , 1834px 510px #FFF , 548px 1750px #FFF , 281px 1448px #FFF , 1383px 697px #FFF , 367px 274px #FFF , 408px 1323px #FFF , 1402px 1998px #FFF , 739px 230px #FFF , 618px 876px #FFF , 1243px 567px #FFF , 1088px 320px #FFF , 1617px 716px #FFF , 965px 348px #FFF , 1197px 1371px #FFF , 1090px 86px #FFF , 477px 820px #FFF , 1372px 1943px #FFF , 1881px 531px #FFF , 824px 1075px #FFF , 1703px 1829px #FFF , 1707px 853px #FFF , 1213px 985px #FFF , 1917px 553px #FFF , 336px 1303px #FFF , 1907px 380px #FFF , 543px 234px #FFF , 1480px 1106px #FFF , 1791px 1396px #FFF , 525px 535px #FFF , 1203px 123px #FFF , 542px 922px #FFF , 608px 1854px #FFF , 1158px 124px #FFF , 667px 831px #FFF , 1140px 1912px #FFF , 422px 195px #FFF , 824px 1510px #FFF , 960px 1551px #FFF , 744px 400px #FFF , 467px 1363px #FFF , 916px 57px #FFF , 637px 1487px #FFF , 1674px 1119px #FFF , 1862px 1162px #FFF , 1599px 344px #FFF , 1450px 1382px #FFF , 937px 1617px #FFF , 1823px 1885px #FFF , 1559px 74px #FFF , 1390px 171px #FFF , 630px 1300px #FFF , 1023px 1947px #FFF , 1442px 505px #FFF , 743px 1637px #FFF , 1041px 1485px #FFF , 1119px 626px #FFF , 1623px 1467px #FFF , 1841px 1585px #FFF , 543px 613px #FFF , 840px 1515px #FFF , 930px 1939px #FFF , 1641px 1372px #FFF , 1402px 957px #FFF , 1533px 1906px #FFF , 709px 428px #FFF , 1108px 1334px #FFF , 1249px 1473px #FFF , 852px 1033px #FFF , 1448px 1205px #FFF , 1766px 956px #FFF , 1362px 1984px #FFF , 774px 476px #FFF , 1999px 1291px #FFF , 1123px 1139px #FFF , 943px 1965px #FFF , 173px 1382px #FFF , 502px 145px #FFF , 1973px 1875px #FFF , 1322px 1929px #FFF , 1429px 1008px #FFF , 865px 1046px #FFF , 1275px 1384px #FFF , 561px 1518px #FFF , 1437px 1217px #FFF , 566px 1981px #FFF , 16px 330px #FFF , 21px 830px #FFF , 1203px 990px #FFF , 1720px 310px #FFF , 131px 1753px #FFF , 1967px 1157px #FFF , 1896px 1477px #FFF , 516px 1684px #FFF , 1986px 1455px #FFF , 1833px 1049px #FFF , 479px 321px #FFF , 1057px 1158px #FFF , 955px 271px #FFF , 558px 1177px #FFF , 563px 1274px #FFF , 1814px 1433px #FFF , 82px 1307px #FFF , 1259px 804px #FFF , 613px 1243px #FFF , 1723px 521px #FFF , 1876px 96px #FFF , 662px 240px #FFF , 1779px 762px #FFF , 1344px 615px #FFF , 1205px 1996px #FFF , 337px 192px #FFF , 998px 928px #FFF , 462px 255px #FFF , 406px 1335px #FFF , 1519px 1663px #FFF , 209px 891px #FFF , 880px 21px #FFF , 1844px 957px #FFF , 1057px 623px #FFF , 243px 151px #FFF , 290px 188px #FFF , 1023px 1309px #FFF , 851px 508px #FFF , 133px 1568px #FFF , 1699px 1047px #FFF , 594px 482px #FFF , 791px 683px #FFF , 921px 211px #FFF , 558px 554px #FFF , 901px 102px #FFF , 821px 339px #FFF , 1457px 1825px #FFF , 1637px 107px #FFF , 279px 1535px #FFF , 1599px 1291px #FFF , 136px 1484px #FFF , 1592px 66px #FFF , 525px 260px #FFF , 853px 237px #FFF , 702px 1807px #FFF , 204px 990px #FFF , 1513px 1906px #FFF , 1053px 443px #FFF , 226px 441px #FFF , 1538px 726px #FFF , 1809px 899px #FFF , 1572px 1262px #FFF , 1083px 307px #FFF , 1256px 464px #FFF , 1371px 365px #FFF , 782px 1015px #FFF , 969px 1283px #FFF , 780px 1733px #FFF , 591px 215px #FFF , 1763px 1375px #FFF , 776px 1213px #FFF , 1135px 1484px #FFF , 1146px 1641px #FFF , 695px 719px #FFF , 403px 1695px #FFF , 1709px 629px #FFF , 1388px 249px #FFF , 68px 126px #FFF , 1895px 1186px #FFF , 889px 538px #FFF , 963px 1196px #FFF , 63px 628px #FFF , 1510px 1309px #FFF , 176px 161px #FFF , 1230px 246px #FFF , 689px 1070px #FFF , 1141px 1345px #FFF , 572px 1188px #FFF , 1421px 373px #FFF , 278px 446px #FFF , 64px 306px #FFF , 1968px 1796px #FFF , 815px 171px #FFF , 56px 404px #FFF , 1047px 1390px #FFF , 762px 942px #FFF , 1303px 175px #FFF , 1383px 789px #FFF , 660px 124px #FFF , 920px 707px #FFF , 1282px 520px #FFF , 185px 47px #FFF , 147px 1838px #FFF , 1987px 605px #FFF , 1069px 1740px #FFF , 34px 894px #FFF , 1902px 852px #FFF , 1850px 128px #FFF , 1178px 1604px #FFF , 961px 682px #FFF , 1220px 1053px #FFF , 1861px 1419px #FFF , 1240px 851px #FFF , 1096px 1540px #FFF , 1263px 1668px #FFF , 881px 706px #FFF , 1695px 1031px #FFF , 1522px 1665px #FFF , 91px 1558px #FFF , 1431px 511px #FFF , 868px 1464px #FFF , 828px 798px #FFF , 40px 28px #FFF , 1651px 1045px #FFF , 967px 245px #FFF , 17px 724px #FFF , 958px 1331px #FFF , 1343px 249px #FFF , 40px 1561px #FFF , 304px 1375px #FFF , 1094px 1959px #FFF , 1719px 698px #FFF , 33px 172px #FFF , 578px 1217px #FFF , 138px 1640px #FFF , 1760px 332px #FFF , 833px 596px #FFF , 1235px 1772px #FFF , 187px 1068px #FFF , 1078px 107px #FFF , 1887px 323px #FFF , 1910px 171px #FFF , 1700px 188px #FFF , 1452px 1810px #FFF , 935px 1497px #FFF , 1679px 980px #FFF , 1418px 925px #FFF , 189px 410px #FFF , 659px 912px #FFF , 456px 584px #FFF , 250px 1732px #FFF , 387px 1287px #FFF , 392px 1895px #FFF , 901px 749px #FFF , 1080px 19px #FFF , 28px 1428px #FFF , 1311px 315px #FFF , 1312px 200px #FFF , 1222px 1346px #FFF , 784px 773px #FFF , 243px 1284px #FFF , 1924px 357px #FFF , 1164px 905px #FFF , 640px 1612px #FFF , 451px 707px #FFF , 785px 355px #FFF , 1770px 857px #FFF , 11px 1802px #FFF , 103px 997px #FFF , 1042px 331px #FFF , 305px 492px #FFF , 1326px 471px #FFF , 541px 165px #FFF , 1696px 939px #FFF , 1786px 152px #FFF , 1655px 690px #FFF , 442px 1421px #FFF , 1837px 1118px #FFF , 929px 1532px #FFF , 809px 105px #FFF , 36px 1972px #FFF , 1404px 571px #FFF , 757px 451px #FFF , 1454px 741px #FFF , 181px 1905px #FFF , 1424px 522px #FFF , 274px 907px #FFF , 676px 166px #FFF , 1772px 211px #FFF , 1252px 353px #FFF , 1993px 271px #FFF , 1639px 1779px #FFF , 517px 828px #FFF , 818px 725px #FFF , 1683px 250px #FFF , 608px 1430px #FFF , 1064px 1784px #FFF , 1829px 1166px #FFF , 342px 1669px #FFF , 1809px 1463px #FFF , 11px 774px #FFF , 49px 474px #FFF , 621px 44px #FFF , 231px 264px #FFF , 237px 140px #FFF , 1374px 1523px #FFF , 358px 1335px #FFF , 1059px 765px #FFF , 1383px 50px #FFF , 1443px 156px #FFF , 805px 562px #FFF , 1880px 1181px #FFF , 1317px 1578px #FFF , 1223px 1035px #FFF , 1326px 994px #FFF , 130px 564px #FFF , 745px 1830px #FFF , 1091px 323px #FFF , 1435px 957px #FFF , 31px 1761px #FFF , 800px 1558px #FFF , 1106px 1841px #FFF , 611px 1438px #FFF , 1052px 1048px #FFF , 200px 421px #FFF , 1679px 723px #FFF , 667px 1717px #FFF , 451px 61px #FFF , 588px 1623px #FFF , 1317px 1400px #FFF , 527px 1035px #FFF , 724px 220px #FFF;
    z-index: 2; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* font-family: 'Roboto', sans-serif; */
@font-face {
  font-family: Beaufort-Regular;
  src: url(../src/font/Beaufort-Regular.ttf); }

@font-face {
  font-family: Spiegel-Regular;
  src: url(../src/font/Spiegel-Regular.ttf); }

@font-face {
  font-family: Spiegel-Bold;
  src: url(../src/font/spiegel-bold.ttf); }

@font-face {
  font-family: FF-Mark-Bold;
  src: url(../src/font/FontFont_FF.Mark.Pro.Bold.otf); }

@font-face {
  font-family: FF-Mark-Medium;
  src: url(../src/font/FontFont_FF.Mark.Pro.Medium.otf); }

@font-face {
  font-family: FF-Mark;
  src: url(../src/font/FontFont_FF.Mark.Pro.otf); }

@font-face {
  font-family: FF-Mark-Hair;
  src: url(../src/font/FontFont_FF.Mark.Pro.Hairline.otf); }

body {
  font-weight: 400;
  line-height: 1.6; }

.Big-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 8rem 1fr;
  grid-template-columns: [Full-start] minmax(6rem, 1fr) [Center-start] repeat(12, [Col-start] minmax(min-content, 9.5rem) [Col-end]) [Center-end] minmax(6rem, 1fr) [Full-end]; }

.container {
  grid-column: Full-start / Full-end;
  overflow: hidden;
  display: grid;
  grid-template-rows: 8rem 0 500px 15rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #2e2e2e; }

.sub-header {
  grid-column: full-start / full-end;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); }
  .sub-header .lol-logo {
    display: inline-block;
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 12rem;
    opacity: 0;
    transform: translateY(-30%); }
    .sub-header .lol-logo__img {
      width: 100%;
      opacity: 0.4; }
  .sub-header .yasuo-heading {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .sub-header .yasuo-heading .yasuo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-65%, -55%);
      display: inline-block;
      background-image: linear-gradient(to bottom, #67471f, #cbac62);
      -webkit-background-image: -webkit-linear-gradient(to bottom, #67471f, #cbac62);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 1rem; }
    .sub-header .yasuo-heading .yasuo-round {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(140%, -55%);
      background-image: url("../src/img/yasuo.jpg");
      background-position: 87.9835% 31.3808%;
      background-size: 350%; }
      .sub-header .yasuo-heading .yasuo-round::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, rgba(103, 71, 31, 0.7), rgba(203, 172, 98, 0.7));
        -webkit-background-image: -webkit-linear-gradient(to bottom, rgba(103, 71, 31, 0.7), rgba(203, 172, 98, 0.7)); }
      .sub-header .yasuo-heading .yasuo-round__frame {
        position: absolute;
        width: 5.6rem;
        height: 5.6rem;
        top: -0.26rem;
        left: -0.26rem;
        animation: fadeInOpa linear 1.5s;
        -webkit-animation: fadeInOpa linear 1.5s;
        /* -webkit-animation: spin 2s linear infinite 1.5s;
          animation: spin 2s linear infinite 1.5s; */ }

.sub-header-line {
  grid-column: full-start / full-end; }
  .sub-header-line__img {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 2rem;
    transform-origin: center;
    animation: fadeInOpa 1.5s linear;
    -webkit-animation: fadeInOpa 1.5s linear;
    animation: goUp 1.5s linear;
    -webkit-animation: goUp 1.5s linear;
    z-index: 2; }

.trailer {
  grid-column: full-start / full-end;
  position: relative; }
  .trailer__bg-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    filter: blur(0.4rem); }
    .trailer__bg-big-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .trailer__bg-big-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 100%, transparent 0); }
  .trailer__bg-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%);
    width: calc(100% - 12rem);
    height: 100%;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
    .trailer__bg-small-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(90%); }
    .trailer__bg-small-canvas {
      border: 1px solid #7e7e7e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 3rem, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 3rem, 100% 100%, 0 100%); }
  .trailer__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 40vw;
    z-index: 2;
    text-align: center; }
    .trailer__content-img {
      width: 100%;
      opacity: 0;
      transition: all linear 0.2s; }
      .trailer__content-img.out {
        opacity: 1; }
    .trailer__content-button {
      min-width: 19.5rem;
      height: 5.6rem;
      padding: 0 4rem;
      margin-top: 1rem;
      position: relative;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
      .trailer__content-button .play-for-free {
        color: #010101;
        font-family: Spiegel-Bold, Arial, sans-serif;
        font-size: 1.3rem;
        letter-spacing: 0.1rem; }
      .trailer__content-button::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #25d8f6;
        transition: all linear 0.3s;
        z-index: -1;
        animation: changeColorAfterButton linear 0.3s 1s; }
      .trailer__content-button:hover::after {
        transform: scale(1.5);
        opacity: 0; }
      .trailer__content-button .button__canvas {
        border: 2px solid #7e7e7e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0 100%, 0 2rem);
        z-index: 3; }

.sh-footer {
  grid-column: full-start / full-end;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
  border-bottom: 1px solid #67471f;
  overflow: hidden; }
  .sh-footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    background-image: linear-gradient(to bottom, #67471f, #cbac62);
    -webkit-background-image: -webkit-linear-gradient(to bottom, #67471f, #cbac62);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem; }

.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: #7e7e7e;
  margin-left: 0.2rem; }

.main-header {
  grid-column: Full-start / Full-end;
  background-color: #0c0c0c;
  color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 10; }
  .main-header__riot-logo {
    margin-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .main-header__riot-logo-svg {
      fill: #f9f9f9; }
    .main-header__riot-logo-svg,
    .main-header__riot-logo .arrow-down-red {
      transition: all linear 0.2s; }
    .main-header__riot-logo:hover .main-header__riot-logo-svg,
    .main-header__riot-logo:hover .arrow-down-red {
      fill: red; }
  .main-header__lol-symbol {
    margin: 0 2rem;
    position: relative;
    top: 0.2rem;
    cursor: pointer; }
    .main-header__lol-symbol-logo {
      width: 4.2rem;
      height: 3rem; }
  .main-header-about {
    flex: 1;
    display: flex;
    align-items: center;
    height: 3rem; }
    .main-header-about__games {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 3rem;
      cursor: pointer; }
      .main-header-about__games-all {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        font-size: 1.8rem;
        transition: all linear 0.2s; }
      .main-header-about__games .arrow-down-games-all {
        position: relative;
        top: 0.2rem;
        transition: all linear 0.2s; }
    .main-header-about__games:hover .arrow-down-games-all,
    .main-header-about__games:hover .main-header-about__games-all {
      color: red;
      fill: red; }
    .main-header-about__content {
      flex: 1;
      height: 100%; }
      .main-header-about__content-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 100%; }
      .main-header-about__content-item {
        height: 100%;
        transition: all linear 0.2s;
        position: relative; }
        .main-header-about__content-item:hover {
          background-color: #333333;
          border-radius: 0.6rem; }
          .main-header-about__content-item:hover::before {
            transform: scaleX(1); }
          .main-header-about__content-item:hover .more {
            color: #1db2cf; }
        .main-header-about__content-item:last-child:hover .arrow-down-more {
          fill: #1db2cf; }
        .main-header-about__content-item::before {
          content: '';
          background-color: #1db2cf;
          border-radius: 00.2rem;
          position: absolute;
          left: 0;
          bottom: -2rem;
          height: 0.4rem;
          width: 100%;
          z-index: 1;
          transform: scaleX(0);
          transform-origin: left;
          transition: all cubic-bezier(1, 0, 0, 1) 0.4s; }
        .main-header-about__content-item:last-child::before {
          width: 0; }
      .main-header-about__content-link:link, .main-header-about__content-link:visited {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-decoration: none;
        min-width: 8rem;
        height: 100%;
        line-height: 3rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase; }
        .main-header-about__content-link:link .arrow-down-more, .main-header-about__content-link:visited .arrow-down-more {
          margin-left: 0rem;
          position: relative;
          top: 0.4rem; }
  .main-header .find-more {
    position: relative; }
    .main-header .find-more::after {
      content: '';
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: red;
      opacity: 0; }
    .main-header .find-more:hover .list-1 {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0); }
  .main-header .list-1 {
    position: absolute;
    top: 4.6rem;
    left: 0;
    min-width: 21rem;
    min-height: 19rem;
    list-style: none;
    background-color: #171717;
    border-radius: 0.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-top: 0.4rem solid #1db2cf;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1.5rem);
    transition: all linear 0.2s;
    z-index: 10; }
    .main-header .list-1__item {
      display: block; }
      .main-header .list-1__item:hover {
        background-color: #333333;
        border-radius: 0.6rem; }
        .main-header .list-1__item:hover .list-1__link:link,
        .main-header .list-1__item:hover .list-1__link:visited,
        .main-header .list-1__item:hover .list-1__link-icon {
          color: #1db2cf;
          fill: #1db2cf; }
    .main-header .list-1__link:link, .main-header .list-1__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      color: #d9d9d9;
      font-size: 1.3rem;
      text-decoration: none;
      padding: 0.6rem 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      transition: all linear 0.1s; }
    .main-header .list-1__link-icon {
      fill: #7e7e7e;
      width: 2.5rem;
      height: 1.25rem;
      transition: all linear 0.1s; }
    .main-header .list-1__link-icon.universe-icon {
      transform: rotate(45deg); }
  .main-header .list-2.open {
    height: 6.4rem;
    opacity: 1; }
  .main-header .list-2__item.open {
    height: 100%; }
  .main-header .list-2 {
    list-style: none;
    padding: 0 2rem 0.4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
    opacity: 0; }
    .main-header .list-2__item {
      height: 0;
      overflow: hidden; }
    .main-header .list-2__link:link, .main-header .list-2__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      text-decoration: none;
      color: #d9d9d9;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0.6rem;
      transition: all linear 0.1s; }
    .main-header .list-2__link:hover {
      background-color: #171717;
      color: #1db2cf; }
      .main-header .list-2__link:hover .list-2__link-icon {
        fill: #1db2cf; }
    .main-header .list-2__link-icon {
      fill: #7e7e7e;
      width: 1.6rem;
      height: 0.8rem;
      transition: all linear 0.1s; }
  .main-header__play {
    margin-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-header__play-languages {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .main-header__play-languages:hover .main-header__play-languages-icon {
        fill: #c28f2b; }
      .main-header__play-languages-icon {
        width: 5.25rem;
        height: 2.625rem;
        fill: #f9f9f9;
        transition: all linear 0.2s; }
      .main-header__play-languages:hover .languages-list {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0); }
      .main-header__play-languages .languages-list {
        position: absolute;
        top: 5.6rem;
        left: -8.2rem;
        min-width: 21rem;
        height: 19rem;
        list-style: none;
        background-color: #202020;
        border-radius: 0.6rem;
        padding: 2rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
        pointer-events: none;
        opacity: 0;
        transform: translateX(1.5rem);
        transition: all linear 0.2s;
        z-index: 11; }
        .main-header__play-languages .languages-list::-webkit-scrollbar {
          width: 0.6rem; }
        .main-header__play-languages .languages-list::-webkit-scrollbar-track {
          border-bottom-right-radius: 0.6rem;
          background-color: rgba(255, 255, 255, 0.1); }
        .main-header__play-languages .languages-list::-webkit-scrollbar-thumb {
          background-color: #1db2cf;
          border-top-right-radius: 0.6rem;
          border-bottom-right-radius: 0.6rem;
          box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; }
        .main-header__play-languages .languages-list .languages-item {
          display: block; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link, .main-header__play-languages .languages-list .languages-item .languages-link:visited {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: FF-Mark-Bold, Arial, sans-serif;
            color: #fff;
            font-size: 1.3rem;
            text-decoration: none;
            padding: 0.6rem 1rem;
            letter-spacing: 0.1rem;
            border-radius: 0.6rem;
            transition: all linear 0.1s; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link:hover, .main-header__play-languages .languages-list .languages-item .languages-link:visited:hover {
            background-color: #333333; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link:hover .languages-language,
          .main-header__play-languages .languages-list .languages-item .languages-link:visited:hover .languages-language {
            color: #1db2cf; }
          .main-header__play-languages .languages-list .languages-item .languages-link .languages-language {
            color: inherit; }
            .main-header__play-languages .languages-list .languages-item .languages-link .languages-language.checked {
              color: #1db2cf; }
          .main-header__play-languages .languages-list .languages-item .languages-link .languages-used {
            position: relative;
            top: 0.1rem;
            width: 2rem;
            height: 1rem;
            fill: currentColor;
            color: #1db2cf;
            opacity: 0;
            transition: all linear 0.1s; }
            .main-header__play-languages .languages-list .languages-item .languages-link .languages-used.checked {
              opacity: 1; }
    .main-header__play-sign {
      font-family: FF-Mark-Bold, Arial, sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 0.4rem 1.8rem;
      cursor: pointer;
      border-radius: 0.6rem;
      transition: all linear 0.2s; }
    .main-header__play-sign-in {
      background-color: #282828;
      margin-right: 1.4rem; }
      .main-header__play-sign-in:hover {
        color: #1db2cf; }
    .main-header__play-play-now {
      background-image: linear-gradient(135deg, #0f8ca4 30%, #1db2cf 70%);
      color: #282828;
      filter: brightness(100%);
      transition: all linear 0.2s; }
      .main-header__play-play-now:hover {
        filter: brightness(120%); }

.information {
  grid-column: Full-start / Full-end;
  background-color: #171717;
  position: relative; }
  .information-img-bg {
    position: absolute;
    width: 100%;
    height: auto; }
    .information-img-bg-img {
      width: 100%;
      height: calc(100% + 10rem);
      filter: blur(1rem); }
    .information-img-bg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.3) 100%, transparent 0); }
  .information-img {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    height: auto; }
    .information-img-img {
      width: 100%;
      height: 56.25vw;
      border-radius: 0.6rem; }
    .information-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .information-img-text {
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(-10%, -120%);
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1rem;
      color: #f9f9f9;
      text-transform: uppercase;
      letter-spacing: 0.3rem; }
      .information-img-text::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1.4em;
        height: 1px;
        margin-left: 0.5em;
        background-color: currentcolor; }

.sb-ag-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none; }
  .sb-ag-container .sb-ag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 201;
    display: flex;
    flex-direction: column; }
    .sb-ag-container .sb-ag-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 8rem;
      padding: 0 3rem; }
      .sb-ag-container .sb-ag-header__ag-back {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
        .sb-ag-container .sb-ag-header__ag-back:hover .sb-ag-header__ag-back-icon,
        .sb-ag-container .sb-ag-header__ag-back:hover .sb-ag-header__ag-back-icon-up {
          fill: red; }
        .sb-ag-container .sb-ag-header__ag-back-icon {
          fill: #f9f9f9;
          transition: all linear 0.2s; }
        .sb-ag-container .sb-ag-header__ag-back-icon-up {
          width: 1.5rem;
          height: 1.5rem;
          fill: #7e7e7e;
          margin-left: 0.2rem;
          transform: rotate(180deg);
          transition: fill linear 0.2s; }
      .sb-ag-container .sb-ag-header__close {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 0.6rem;
        transition: all linear 0.2s;
        cursor: pointer; }
        .sb-ag-container .sb-ag-header__close:hover .sb-ag-header__close-icon {
          fill: red; }
        .sb-ag-container .sb-ag-header__close-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          fill: #f9f9f9;
          width: 2rem;
          height: 2rem;
          transition: all linear 0.2s; }
    .sb-ag-container .sb-ag-body {
      flex: 1;
      width: 100%;
      padding: 0 3rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between; }
      .sb-ag-container .sb-ag-body__left {
        background-color: #0c0c0c;
        width: 50%;
        padding: 0 0.8rem;
        columns: auto 3;
        column-gap: 1rem; }
        .sb-ag-container .sb-ag-body__left-cover {
          font-size: 1.2rem;
          text-transform: uppercase;
          height: auto;
          padding-bottom: 1.6rem;
          break-inside: avoid; }
        .sb-ag-container .sb-ag-body__left-title {
          font-family: FF-Mark-Medium, Arial, sans-serif;
          color: #d1d1d1;
          background-color: #151515;
          border-radius: 0.6rem;
          padding: 0.8rem 1.6rem;
          margin-bottom: 0.4rem; }
        .sb-ag-container .sb-ag-body__left-link:link, .sb-ag-container .sb-ag-body__left-link:visited {
          display: block;
          font-family: FF-Mark, Arial, sans-serif;
          color: #a8a8a8;
          text-decoration: none;
          padding: 0.8rem 1.6rem;
          margin: 0.4rem 0;
          border-radius: 0.6rem;
          transition: all linear 0.1s; }
        .sb-ag-container .sb-ag-body__left-link:hover {
          background-color: #1b1b1b;
          color: #d1d1d1; }
        .sb-ag-container .sb-ag-body__left-item {
          color: inherit; }
      .sb-ag-container .sb-ag-body__right {
        width: 50%;
        padding: 0 0.8rem; }
        .sb-ag-container .sb-ag-body__right-main {
          width: 100%;
          display: flex;
          gap: 1.6rem; }
        .sb-ag-container .sb-ag-body__right-cover {
          width: 50%;
          cursor: pointer; }
          .sb-ag-container .sb-ag-body__right-cover:hover .sb-ag-body__right-img {
            box-shadow: 0 14px 28px rgba(255, 255, 255, 0.05), 0 10px 10px rgba(255, 255, 255, 0.02); }
        .sb-ag-container .sb-ag-body__right-img-container {
          width: 100%;
          height: fit-content; }
        .sb-ag-container .sb-ag-body__right-img {
          display: block;
          width: 100%;
          max-width: 452px;
          border-radius: 0.6rem;
          box-shadow: 0 1px 3px rgba(151, 151, 151, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .sb-ag-container .sb-ag-body__right-detailed {
          margin-top: 1.6rem; }
        .sb-ag-container .sb-ag-body__right-text-detailed {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.3rem;
          color: #d1d1d1; }

.explore-games {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.scroll {
  grid-column: Full-start / Full-end;
  content: '';
  background-color: pink;
  height: 200rem; }
