.button {
  text-transform: uppercase;
}

.button-blue {
  background-color: #2fc1db;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}
.button-blue:hover {
  background-color: #25d8f6;
}

@keyframes toggleFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOpa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes goUp {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0);
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 930px 18px #fff, 1093px 825px #fff, 646px 1430px #fff,
    1547px 1701px #fff, 852px 2px #fff, 1882px 831px #fff, 1917px 1889px #fff,
    1180px 51px #fff, 1681px 1494px #fff, 923px 1787px #fff, 276px 126px #fff,
    1248px 1442px #fff, 1950px 1473px #fff, 1296px 143px #fff, 1254px 12px #fff,
    1840px 1770px #fff, 663px 612px #fff, 832px 1229px #fff, 960px 1174px #fff,
    1263px 1920px #fff, 1667px 686px #fff, 1253px 1763px #fff, 850px 573px #fff,
    1688px 1037px #fff, 781px 1791px #fff, 586px 1985px #fff, 680px 936px #fff,
    1656px 1750px #fff, 320px 355px #fff, 54px 1681px #fff, 1944px 1776px #fff,
    1230px 715px #fff, 964px 399px #fff, 1826px 642px #fff, 992px 1008px #fff,
    347px 1438px #fff, 1668px 878px #fff, 1716px 847px #fff, 10px 1879px #fff,
    1308px 471px #fff, 1716px 751px #fff, 248px 8px #fff, 1308px 432px #fff,
    490px 1912px #fff, 1705px 673px #fff, 1326px 178px #fff, 814px 998px #fff,
    1831px 843px #fff, 1796px 496px #fff, 1463px 1317px #fff, 1859px 469px #fff,
    691px 1444px #fff, 1010px 1045px #fff, 839px 1797px #fff, 1833px 1309px #fff,
    1306px 1289px #fff, 1212px 1126px #fff, 192px 719px #fff, 1513px 777px #fff,
    744px 593px #fff, 1826px 1376px #fff, 391px 1269px #fff, 777px 1342px #fff,
    1766px 1368px #fff, 5px 1532px #fff, 873px 1074px #fff, 1686px 1247px #fff,
    733px 1821px #fff, 445px 1330px #fff, 1528px 892px #fff, 1223px 1612px #fff,
    613px 837px #fff, 1191px 506px #fff, 230px 494px #fff, 429px 1251px #fff,
    538px 972px #fff, 145px 1253px #fff, 1801px 1773px #fff, 1597px 1112px #fff,
    1379px 1274px #fff, 892px 624px #fff, 45px 1271px #fff, 1547px 298px #fff,
    1208px 715px #fff, 213px 1584px #fff, 46px 557px #fff, 720px 1567px #fff,
    780px 729px #fff, 1028px 611px #fff, 587px 1000px #fff, 956px 103px #fff,
    683px 316px #fff, 1991px 747px #fff, 1734px 1802px #fff, 520px 696px #fff,
    1379px 771px #fff, 530px 804px #fff, 587px 1719px #fff, 1063px 1587px #fff,
    1297px 1743px #fff, 546px 876px #fff, 823px 1996px #fff, 1575px 559px #fff,
    1818px 261px #fff, 1672px 1649px #fff, 66px 724px #fff, 303px 1514px #fff,
    213px 542px #fff, 394px 1480px #fff, 272px 1812px #fff, 1632px 1751px #fff,
    1814px 1053px #fff, 999px 1108px #fff, 1530px 411px #fff, 1848px 1329px #fff,
    1996px 1466px #fff, 1258px 1705px #fff, 978px 535px #fff, 424px 657px #fff,
    831px 1277px #fff, 1841px 287px #fff, 1035px 1923px #fff, 719px 191px #fff,
    153px 916px #fff, 1410px 768px #fff, 360px 1892px #fff, 800px 1312px #fff,
    1793px 23px #fff, 245px 1352px #fff, 263px 985px #fff, 163px 324px #fff,
    972px 983px #fff, 112px 1681px #fff, 305px 31px #fff, 1679px 1543px #fff,
    1415px 1324px #fff, 500px 1425px #fff, 235px 1274px #fff, 762px 1710px #fff,
    1658px 1781px #fff, 1337px 1073px #fff, 537px 69px #fff, 814px 879px #fff,
    1841px 252px #fff, 1184px 1463px #fff, 76px 1340px #fff, 636px 926px #fff,
    1863px 561px #fff, 1051px 658px #fff, 850px 1434px #fff, 858px 1583px #fff,
    521px 1167px #fff, 379px 1551px #fff, 1665px 157px #fff, 610px 576px #fff,
    768px 1541px #fff, 335px 245px #fff, 312px 276px #fff, 1013px 1175px #fff,
    655px 1127px #fff, 1830px 1895px #fff, 89px 1400px #fff, 676px 510px #fff,
    1133px 336px #fff, 959px 233px #fff, 127px 765px #fff, 1436px 1730px #fff,
    843px 1342px #fff, 134px 1421px #fff, 776px 434px #fff, 1724px 757px #fff,
    70px 1110px #fff, 1989px 1533px #fff, 671px 658px #fff, 193px 878px #fff,
    1040px 445px #fff, 1442px 518px #fff, 632px 1997px #fff, 754px 1656px #fff,
    1666px 254px #fff, 638px 1112px #fff, 778px 14px #fff, 822px 365px #fff,
    622px 430px #fff, 616px 1485px #fff, 701px 1534px #fff, 1747px 1314px #fff,
    1319px 548px #fff, 725px 1887px #fff, 169px 359px #fff, 1107px 1198px #fff,
    1784px 1281px #fff, 953px 1249px #fff, 1099px 1658px #fff, 84px 1872px #fff,
    440px 567px #fff, 771px 899px #fff, 961px 1837px #fff, 1043px 343px #fff,
    228px 862px #fff, 164px 1982px #fff, 1969px 1361px #fff, 1958px 1577px #fff,
    1805px 1866px #fff, 1045px 1168px #fff, 717px 1118px #fff,
    1706px 1946px #fff, 191px 741px #fff, 108px 1855px #fff, 406px 1925px #fff,
    1253px 975px #fff, 612px 665px #fff, 1503px 1282px #fff, 727px 506px #fff,
    1537px 1642px #fff, 1156px 1601px #fff, 526px 921px #fff, 759px 954px #fff,
    1864px 1880px #fff, 1519px 700px #fff, 895px 1673px #fff, 1661px 603px #fff,
    1707px 1596px #fff, 294px 1709px #fff, 756px 487px #fff, 1477px 538px #fff,
    1783px 1357px #fff, 1435px 1302px #fff, 632px 1588px #fff, 1538px 239px #fff,
    951px 777px #fff, 1640px 1408px #fff, 1403px 117px #fff, 85px 149px #fff,
    1556px 60px #fff, 1455px 1048px #fff, 404px 1740px #fff, 991px 702px #fff,
    1741px 1197px #fff, 1483px 493px #fff, 1894px 1498px #fff, 941px 1632px #fff,
    842px 1696px #fff, 715px 1613px #fff, 305px 1428px #fff, 1515px 85px #fff,
    165px 1135px #fff, 297px 964px #fff, 446px 1371px #fff, 1629px 1566px #fff,
    802px 1438px #fff, 413px 849px #fff, 1299px 1283px #fff, 1580px 734px #fff,
    1369px 1346px #fff, 1339px 1606px #fff, 752px 1003px #fff, 1756px 181px #fff,
    1469px 1168px #fff, 417px 538px #fff, 1616px 767px #fff, 1869px 1986px #fff,
    338px 1886px #fff, 415px 223px #fff, 76px 198px #fff, 351px 1065px #fff,
    58px 1900px #fff, 430px 271px #fff, 1978px 1381px #fff, 1023px 180px #fff,
    258px 1748px #fff, 1826px 677px #fff, 25px 233px #fff, 1160px 943px #fff,
    942px 768px #fff, 1283px 1050px #fff, 1189px 1387px #fff, 716px 1406px #fff,
    1437px 1570px #fff, 1821px 1296px #fff, 1358px 163px #fff, 15px 1006px #fff,
    1670px 1136px #fff, 670px 1882px #fff, 1145px 1446px #fff, 1657px 423px #fff,
    1914px 1835px #fff, 497px 666px #fff, 1378px 426px #fff, 633px 1698px #fff,
    185px 1702px #fff, 656px 879px #fff, 33px 1871px #fff, 610px 1968px #fff,
    390px 1377px #fff, 1424px 322px #fff, 1922px 682px #fff, 1835px 511px #fff,
    1px 737px #fff, 1153px 391px #fff, 1025px 909px #fff, 20px 518px #fff,
    1346px 910px #fff, 158px 1860px #fff, 610px 342px #fff, 1553px 1011px #fff,
    36px 39px #fff, 408px 449px #fff, 1295px 969px #fff, 1046px 1392px #fff,
    1061px 1522px #fff, 997px 795px #fff, 1884px 1157px #fff, 678px 1653px #fff,
    1831px 688px #fff, 192px 690px #fff, 66px 1673px #fff, 441px 547px #fff,
    310px 1908px #fff, 650px 952px #fff, 1749px 1440px #fff, 956px 91px #fff,
    1490px 922px #fff, 915px 1746px #fff, 1399px 1756px #fff, 472px 992px #fff,
    1736px 1131px #fff, 1808px 955px #fff, 277px 319px #fff, 1841px 104px #fff,
    1594px 1784px #fff, 1966px 1333px #fff, 1097px 234px #fff, 108px 1694px #fff,
    277px 1519px #fff, 297px 1128px #fff, 540px 79px #fff, 930px 1984px #fff,
    1244px 770px #fff, 1717px 1540px #fff, 1333px 1028px #fff, 616px 49px #fff,
    1203px 1742px #fff, 454px 1296px #fff, 1238px 1071px #fff, 514px 1504px #fff,
    1757px 5px #fff, 1996px 1494px #fff, 282px 1593px #fff, 1222px 407px #fff,
    1246px 356px #fff, 256px 1502px #fff, 1744px 1818px #fff, 1869px 1464px #fff,
    931px 226px #fff, 735px 156px #fff, 779px 1154px #fff, 557px 1587px #fff,
    1167px 773px #fff, 510px 753px #fff, 411px 868px #fff, 162px 881px #fff,
    1177px 1265px #fff, 899px 1509px #fff, 1389px 526px #fff, 734px 497px #fff,
    997px 1703px #fff, 408px 560px #fff, 1704px 1770px #fff, 1565px 1296px #fff,
    1309px 762px #fff, 852px 1630px #fff, 1027px 1126px #fff, 770px 1658px #fff,
    81px 124px #fff, 173px 898px #fff, 497px 1518px #fff, 1214px 135px #fff,
    1208px 1106px #fff, 1356px 454px #fff, 1589px 829px #fff, 47px 930px #fff,
    59px 1554px #fff, 732px 1433px #fff, 1643px 927px #fff, 1824px 1143px #fff,
    1458px 94px #fff, 1508px 163px #fff, 664px 1991px #fff, 1855px 1985px #fff,
    1000px 1025px #fff, 446px 1686px #fff, 1862px 1382px #fff, 1673px 475px #fff,
    676px 1847px #fff, 470px 264px #fff, 41px 1922px #fff, 457px 104px #fff,
    479px 752px #fff, 807px 1745px #fff, 766px 882px #fff, 319px 516px #fff,
    1610px 1655px #fff, 155px 1425px #fff, 194px 916px #fff, 181px 944px #fff,
    988px 1456px #fff, 1362px 123px #fff, 1108px 393px #fff, 477px 748px #fff,
    42px 1766px #fff, 249px 159px #fff, 602px 976px #fff, 897px 819px #fff,
    1995px 31px #fff, 1305px 317px #fff, 800px 149px #fff, 285px 716px #fff,
    1837px 1725px #fff, 1270px 183px #fff, 1690px 1689px #fff,
    1025px 1962px #fff, 1133px 1256px #fff, 1685px 827px #fff,
    1807px 1031px #fff, 1760px 1822px #fff, 1253px 1053px #fff, 1065px 76px #fff,
    844px 1623px #fff, 586px 1608px #fff, 720px 134px #fff, 1372px 1535px #fff,
    685px 254px #fff, 60px 1828px #fff, 342px 650px #fff, 1476px 919px #fff,
    1225px 1837px #fff, 813px 1391px #fff, 387px 722px #fff, 1740px 1729px #fff,
    927px 1496px #fff, 1658px 556px #fff, 309px 185px #fff, 1027px 166px #fff,
    838px 1378px #fff, 1996px 1708px #fff, 917px 363px #fff, 1829px 1470px #fff,
    1761px 106px #fff, 1028px 570px #fff, 695px 1128px #fff, 1065px 1862px #fff,
    267px 332px #fff, 1670px 390px #fff, 144px 1373px #fff, 606px 670px #fff,
    1547px 1393px #fff, 1017px 661px #fff, 934px 1550px #fff, 653px 207px #fff,
    1214px 635px #fff, 244px 498px #fff, 17px 565px #fff, 397px 619px #fff,
    204px 1774px #fff, 1434px 1644px #fff, 738px 107px #fff, 1549px 199px #fff,
    1041px 45px #fff, 818px 564px #fff, 537px 820px #fff, 941px 1182px #fff,
    1809px 842px #fff, 1935px 852px #fff, 1920px 1176px #fff, 1214px 1182px #fff,
    1257px 360px #fff, 413px 1560px #fff, 904px 1247px #fff, 536px 154px #fff,
    1262px 1767px #fff, 1691px 235px #fff, 1367px 1838px #fff, 805px 1961px #fff,
    1707px 247px #fff, 238px 422px #fff, 1578px 168px #fff, 957px 200px #fff,
    45px 420px #fff, 1272px 853px #fff, 1546px 1634px #fff, 824px 1941px #fff,
    1639px 150px #fff, 1437px 334px #fff, 108px 417px #fff, 717px 532px #fff,
    278px 1680px #fff, 469px 1106px #fff, 1101px 853px #fff, 1545px 1172px #fff,
    912px 1619px #fff, 1440px 707px #fff, 1479px 1580px #fff, 332px 1541px #fff,
    1230px 822px #fff, 1425px 1095px #fff, 532px 1147px #fff, 1881px 636px #fff,
    862px 1325px #fff, 1908px 1145px #fff, 256px 1053px #fff, 1376px 1274px #fff,
    479px 188px #fff, 1367px 1565px #fff, 1837px 409px #fff, 1956px 1426px #fff,
    664px 1494px #fff, 416px 1599px #fff, 56px 404px #fff, 971px 1097px #fff,
    1071px 646px #fff, 1299px 556px #fff, 26px 1713px #fff, 1981px 329px #fff,
    1508px 1991px #fff, 453px 1687px #fff, 49px 708px #fff, 1705px 1608px #fff,
    544px 983px #fff, 722px 1626px #fff, 1737px 441px #fff, 1566px 129px #fff,
    220px 1674px #fff, 327px 76px #fff, 1215px 495px #fff, 557px 88px #fff,
    1101px 770px #fff, 1668px 1160px #fff, 1363px 549px #fff, 1663px 938px #fff,
    1911px 876px #fff, 1082px 494px #fff, 1900px 1159px #fff, 1195px 58px #fff,
    1566px 414px #fff, 128px 630px #fff, 1335px 1008px #fff, 1773px 615px #fff,
    926px 866px #fff, 903px 528px #fff, 229px 479px #fff, 289px 1843px #fff,
    102px 1775px #fff, 443px 1132px #fff, 966px 27px #fff, 1472px 1552px #fff,
    380px 1332px #fff, 268px 213px #fff, 1560px 234px #fff, 204px 869px #fff,
    1248px 1416px #fff, 19px 118px #fff, 736px 512px #fff, 235px 441px #fff,
    1212px 1510px #fff, 1762px 232px #fff, 678px 227px #fff, 403px 1934px #fff,
    1343px 927px #fff, 989px 599px #fff, 444px 1644px #fff, 1386px 538px #fff,
    1298px 1102px #fff, 752px 243px #fff, 1658px 1109px #fff, 230px 912px #fff,
    1470px 377px #fff, 1934px 293px #fff, 615px 1198px #fff, 367px 1191px #fff,
    1527px 1442px #fff, 1542px 1213px #fff, 1625px 754px #fff, 988px 1919px #fff,
    1837px 152px #fff, 1192px 310px #fff, 1046px 912px #fff, 1656px 380px #fff,
    1052px 626px #fff, 511px 1363px #fff, 876px 312px #fff, 1425px 1686px #fff,
    901px 443px #fff, 1009px 802px #fff, 1281px 1853px #fff, 3px 1713px #fff,
    878px 1596px #fff, 169px 1500px #fff, 1185px 1964px #fff, 1945px 1362px #fff,
    1883px 434px #fff, 331px 1675px #fff, 1756px 1352px #fff, 1988px 451px #fff,
    1045px 631px #fff, 1091px 824px #fff, 1751px 1524px #fff, 439px 673px #fff,
    663px 1204px #fff, 1200px 472px #fff, 209px 797px #fff, 1852px 1393px #fff,
    1185px 570px #fff, 1627px 1320px #fff, 1842px 429px #fff, 552px 416px #fff,
    615px 588px #fff, 1813px 627px #fff, 453px 219px #fff, 1337px 1354px #fff,
    622px 1440px #fff, 1882px 582px #fff, 264px 1540px #fff, 1630px 1803px #fff,
    1922px 541px #fff, 27px 420px #fff, 245px 1164px #fff, 1652px 1444px #fff,
    43px 660px #fff, 1419px 347px #fff, 1536px 1274px #fff, 49px 1790px #fff,
    277px 1957px #fff, 468px 1204px #fff, 1862px 1674px #fff, 801px 1552px #fff,
    1057px 210px #fff, 92px 1114px #fff, 296px 890px #fff, 1664px 1457px #fff,
    675px 1231px #fff, 171px 1970px #fff, 1953px 23px #fff, 1716px 805px #fff,
    859px 1048px #fff, 852px 1066px #fff, 1921px 72px #fff, 1202px 765px #fff,
    1863px 1536px #fff, 502px 1565px #fff, 1203px 895px #fff, 1652px 1789px #fff,
    84px 967px #fff, 1351px 1259px #fff, 94px 1280px #fff, 1027px 309px #fff,
    1481px 1759px #fff, 1847px 1696px #fff, 305px 1496px #fff, 90px 638px #fff,
    184px 1252px #fff, 1382px 807px #fff, 1516px 928px #fff, 248px 1970px #fff,
    993px 1809px #fff, 1989px 208px #fff, 820px 513px #fff, 319px 1704px #fff,
    397px 1829px #fff, 76px 1820px #fff, 469px 1207px #fff, 1181px 184px #fff,
    1809px 1421px #fff, 884px 382px #fff, 933px 335px #fff, 1548px 1517px #fff,
    1582px 1319px #fff, 488px 1828px #fff, 725px 287px #fff, 1862px 1168px #fff,
    1943px 27px #fff, 1111px 443px #fff, 1316px 310px #fff, 1475px 1648px #fff,
    883px 660px #fff, 383px 247px #fff, 452px 578px #fff, 1461px 60px #fff,
    509px 474px #fff, 1374px 406px #fff, 567px 1926px #fff, 1758px 1442px #fff,
    1577px 783px #fff, 632px 1718px #fff, 309px 718px #fff, 447px 1693px #fff,
    1027px 735px #fff, 533px 278px #fff, 738px 1421px #fff, 745px 55px #fff;
  animation: animStar 50s linear infinite;
  position: relative;
  z-index: 2;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 930px 18px #fff, 1093px 825px #fff, 646px 1430px #fff,
    1547px 1701px #fff, 852px 2px #fff, 1882px 831px #fff, 1917px 1889px #fff,
    1180px 51px #fff, 1681px 1494px #fff, 923px 1787px #fff, 276px 126px #fff,
    1248px 1442px #fff, 1950px 1473px #fff, 1296px 143px #fff, 1254px 12px #fff,
    1840px 1770px #fff, 663px 612px #fff, 832px 1229px #fff, 960px 1174px #fff,
    1263px 1920px #fff, 1667px 686px #fff, 1253px 1763px #fff, 850px 573px #fff,
    1688px 1037px #fff, 781px 1791px #fff, 586px 1985px #fff, 680px 936px #fff,
    1656px 1750px #fff, 320px 355px #fff, 54px 1681px #fff, 1944px 1776px #fff,
    1230px 715px #fff, 964px 399px #fff, 1826px 642px #fff, 992px 1008px #fff,
    347px 1438px #fff, 1668px 878px #fff, 1716px 847px #fff, 10px 1879px #fff,
    1308px 471px #fff, 1716px 751px #fff, 248px 8px #fff, 1308px 432px #fff,
    490px 1912px #fff, 1705px 673px #fff, 1326px 178px #fff, 814px 998px #fff,
    1831px 843px #fff, 1796px 496px #fff, 1463px 1317px #fff, 1859px 469px #fff,
    691px 1444px #fff, 1010px 1045px #fff, 839px 1797px #fff, 1833px 1309px #fff,
    1306px 1289px #fff, 1212px 1126px #fff, 192px 719px #fff, 1513px 777px #fff,
    744px 593px #fff, 1826px 1376px #fff, 391px 1269px #fff, 777px 1342px #fff,
    1766px 1368px #fff, 5px 1532px #fff, 873px 1074px #fff, 1686px 1247px #fff,
    733px 1821px #fff, 445px 1330px #fff, 1528px 892px #fff, 1223px 1612px #fff,
    613px 837px #fff, 1191px 506px #fff, 230px 494px #fff, 429px 1251px #fff,
    538px 972px #fff, 145px 1253px #fff, 1801px 1773px #fff, 1597px 1112px #fff,
    1379px 1274px #fff, 892px 624px #fff, 45px 1271px #fff, 1547px 298px #fff,
    1208px 715px #fff, 213px 1584px #fff, 46px 557px #fff, 720px 1567px #fff,
    780px 729px #fff, 1028px 611px #fff, 587px 1000px #fff, 956px 103px #fff,
    683px 316px #fff, 1991px 747px #fff, 1734px 1802px #fff, 520px 696px #fff,
    1379px 771px #fff, 530px 804px #fff, 587px 1719px #fff, 1063px 1587px #fff,
    1297px 1743px #fff, 546px 876px #fff, 823px 1996px #fff, 1575px 559px #fff,
    1818px 261px #fff, 1672px 1649px #fff, 66px 724px #fff, 303px 1514px #fff,
    213px 542px #fff, 394px 1480px #fff, 272px 1812px #fff, 1632px 1751px #fff,
    1814px 1053px #fff, 999px 1108px #fff, 1530px 411px #fff, 1848px 1329px #fff,
    1996px 1466px #fff, 1258px 1705px #fff, 978px 535px #fff, 424px 657px #fff,
    831px 1277px #fff, 1841px 287px #fff, 1035px 1923px #fff, 719px 191px #fff,
    153px 916px #fff, 1410px 768px #fff, 360px 1892px #fff, 800px 1312px #fff,
    1793px 23px #fff, 245px 1352px #fff, 263px 985px #fff, 163px 324px #fff,
    972px 983px #fff, 112px 1681px #fff, 305px 31px #fff, 1679px 1543px #fff,
    1415px 1324px #fff, 500px 1425px #fff, 235px 1274px #fff, 762px 1710px #fff,
    1658px 1781px #fff, 1337px 1073px #fff, 537px 69px #fff, 814px 879px #fff,
    1841px 252px #fff, 1184px 1463px #fff, 76px 1340px #fff, 636px 926px #fff,
    1863px 561px #fff, 1051px 658px #fff, 850px 1434px #fff, 858px 1583px #fff,
    521px 1167px #fff, 379px 1551px #fff, 1665px 157px #fff, 610px 576px #fff,
    768px 1541px #fff, 335px 245px #fff, 312px 276px #fff, 1013px 1175px #fff,
    655px 1127px #fff, 1830px 1895px #fff, 89px 1400px #fff, 676px 510px #fff,
    1133px 336px #fff, 959px 233px #fff, 127px 765px #fff, 1436px 1730px #fff,
    843px 1342px #fff, 134px 1421px #fff, 776px 434px #fff, 1724px 757px #fff,
    70px 1110px #fff, 1989px 1533px #fff, 671px 658px #fff, 193px 878px #fff,
    1040px 445px #fff, 1442px 518px #fff, 632px 1997px #fff, 754px 1656px #fff,
    1666px 254px #fff, 638px 1112px #fff, 778px 14px #fff, 822px 365px #fff,
    622px 430px #fff, 616px 1485px #fff, 701px 1534px #fff, 1747px 1314px #fff,
    1319px 548px #fff, 725px 1887px #fff, 169px 359px #fff, 1107px 1198px #fff,
    1784px 1281px #fff, 953px 1249px #fff, 1099px 1658px #fff, 84px 1872px #fff,
    440px 567px #fff, 771px 899px #fff, 961px 1837px #fff, 1043px 343px #fff,
    228px 862px #fff, 164px 1982px #fff, 1969px 1361px #fff, 1958px 1577px #fff,
    1805px 1866px #fff, 1045px 1168px #fff, 717px 1118px #fff,
    1706px 1946px #fff, 191px 741px #fff, 108px 1855px #fff, 406px 1925px #fff,
    1253px 975px #fff, 612px 665px #fff, 1503px 1282px #fff, 727px 506px #fff,
    1537px 1642px #fff, 1156px 1601px #fff, 526px 921px #fff, 759px 954px #fff,
    1864px 1880px #fff, 1519px 700px #fff, 895px 1673px #fff, 1661px 603px #fff,
    1707px 1596px #fff, 294px 1709px #fff, 756px 487px #fff, 1477px 538px #fff,
    1783px 1357px #fff, 1435px 1302px #fff, 632px 1588px #fff, 1538px 239px #fff,
    951px 777px #fff, 1640px 1408px #fff, 1403px 117px #fff, 85px 149px #fff,
    1556px 60px #fff, 1455px 1048px #fff, 404px 1740px #fff, 991px 702px #fff,
    1741px 1197px #fff, 1483px 493px #fff, 1894px 1498px #fff, 941px 1632px #fff,
    842px 1696px #fff, 715px 1613px #fff, 305px 1428px #fff, 1515px 85px #fff,
    165px 1135px #fff, 297px 964px #fff, 446px 1371px #fff, 1629px 1566px #fff,
    802px 1438px #fff, 413px 849px #fff, 1299px 1283px #fff, 1580px 734px #fff,
    1369px 1346px #fff, 1339px 1606px #fff, 752px 1003px #fff, 1756px 181px #fff,
    1469px 1168px #fff, 417px 538px #fff, 1616px 767px #fff, 1869px 1986px #fff,
    338px 1886px #fff, 415px 223px #fff, 76px 198px #fff, 351px 1065px #fff,
    58px 1900px #fff, 430px 271px #fff, 1978px 1381px #fff, 1023px 180px #fff,
    258px 1748px #fff, 1826px 677px #fff, 25px 233px #fff, 1160px 943px #fff,
    942px 768px #fff, 1283px 1050px #fff, 1189px 1387px #fff, 716px 1406px #fff,
    1437px 1570px #fff, 1821px 1296px #fff, 1358px 163px #fff, 15px 1006px #fff,
    1670px 1136px #fff, 670px 1882px #fff, 1145px 1446px #fff, 1657px 423px #fff,
    1914px 1835px #fff, 497px 666px #fff, 1378px 426px #fff, 633px 1698px #fff,
    185px 1702px #fff, 656px 879px #fff, 33px 1871px #fff, 610px 1968px #fff,
    390px 1377px #fff, 1424px 322px #fff, 1922px 682px #fff, 1835px 511px #fff,
    1px 737px #fff, 1153px 391px #fff, 1025px 909px #fff, 20px 518px #fff,
    1346px 910px #fff, 158px 1860px #fff, 610px 342px #fff, 1553px 1011px #fff,
    36px 39px #fff, 408px 449px #fff, 1295px 969px #fff, 1046px 1392px #fff,
    1061px 1522px #fff, 997px 795px #fff, 1884px 1157px #fff, 678px 1653px #fff,
    1831px 688px #fff, 192px 690px #fff, 66px 1673px #fff, 441px 547px #fff,
    310px 1908px #fff, 650px 952px #fff, 1749px 1440px #fff, 956px 91px #fff,
    1490px 922px #fff, 915px 1746px #fff, 1399px 1756px #fff, 472px 992px #fff,
    1736px 1131px #fff, 1808px 955px #fff, 277px 319px #fff, 1841px 104px #fff,
    1594px 1784px #fff, 1966px 1333px #fff, 1097px 234px #fff, 108px 1694px #fff,
    277px 1519px #fff, 297px 1128px #fff, 540px 79px #fff, 930px 1984px #fff,
    1244px 770px #fff, 1717px 1540px #fff, 1333px 1028px #fff, 616px 49px #fff,
    1203px 1742px #fff, 454px 1296px #fff, 1238px 1071px #fff, 514px 1504px #fff,
    1757px 5px #fff, 1996px 1494px #fff, 282px 1593px #fff, 1222px 407px #fff,
    1246px 356px #fff, 256px 1502px #fff, 1744px 1818px #fff, 1869px 1464px #fff,
    931px 226px #fff, 735px 156px #fff, 779px 1154px #fff, 557px 1587px #fff,
    1167px 773px #fff, 510px 753px #fff, 411px 868px #fff, 162px 881px #fff,
    1177px 1265px #fff, 899px 1509px #fff, 1389px 526px #fff, 734px 497px #fff,
    997px 1703px #fff, 408px 560px #fff, 1704px 1770px #fff, 1565px 1296px #fff,
    1309px 762px #fff, 852px 1630px #fff, 1027px 1126px #fff, 770px 1658px #fff,
    81px 124px #fff, 173px 898px #fff, 497px 1518px #fff, 1214px 135px #fff,
    1208px 1106px #fff, 1356px 454px #fff, 1589px 829px #fff, 47px 930px #fff,
    59px 1554px #fff, 732px 1433px #fff, 1643px 927px #fff, 1824px 1143px #fff,
    1458px 94px #fff, 1508px 163px #fff, 664px 1991px #fff, 1855px 1985px #fff,
    1000px 1025px #fff, 446px 1686px #fff, 1862px 1382px #fff, 1673px 475px #fff,
    676px 1847px #fff, 470px 264px #fff, 41px 1922px #fff, 457px 104px #fff,
    479px 752px #fff, 807px 1745px #fff, 766px 882px #fff, 319px 516px #fff,
    1610px 1655px #fff, 155px 1425px #fff, 194px 916px #fff, 181px 944px #fff,
    988px 1456px #fff, 1362px 123px #fff, 1108px 393px #fff, 477px 748px #fff,
    42px 1766px #fff, 249px 159px #fff, 602px 976px #fff, 897px 819px #fff,
    1995px 31px #fff, 1305px 317px #fff, 800px 149px #fff, 285px 716px #fff,
    1837px 1725px #fff, 1270px 183px #fff, 1690px 1689px #fff,
    1025px 1962px #fff, 1133px 1256px #fff, 1685px 827px #fff,
    1807px 1031px #fff, 1760px 1822px #fff, 1253px 1053px #fff, 1065px 76px #fff,
    844px 1623px #fff, 586px 1608px #fff, 720px 134px #fff, 1372px 1535px #fff,
    685px 254px #fff, 60px 1828px #fff, 342px 650px #fff, 1476px 919px #fff,
    1225px 1837px #fff, 813px 1391px #fff, 387px 722px #fff, 1740px 1729px #fff,
    927px 1496px #fff, 1658px 556px #fff, 309px 185px #fff, 1027px 166px #fff,
    838px 1378px #fff, 1996px 1708px #fff, 917px 363px #fff, 1829px 1470px #fff,
    1761px 106px #fff, 1028px 570px #fff, 695px 1128px #fff, 1065px 1862px #fff,
    267px 332px #fff, 1670px 390px #fff, 144px 1373px #fff, 606px 670px #fff,
    1547px 1393px #fff, 1017px 661px #fff, 934px 1550px #fff, 653px 207px #fff,
    1214px 635px #fff, 244px 498px #fff, 17px 565px #fff, 397px 619px #fff,
    204px 1774px #fff, 1434px 1644px #fff, 738px 107px #fff, 1549px 199px #fff,
    1041px 45px #fff, 818px 564px #fff, 537px 820px #fff, 941px 1182px #fff,
    1809px 842px #fff, 1935px 852px #fff, 1920px 1176px #fff, 1214px 1182px #fff,
    1257px 360px #fff, 413px 1560px #fff, 904px 1247px #fff, 536px 154px #fff,
    1262px 1767px #fff, 1691px 235px #fff, 1367px 1838px #fff, 805px 1961px #fff,
    1707px 247px #fff, 238px 422px #fff, 1578px 168px #fff, 957px 200px #fff,
    45px 420px #fff, 1272px 853px #fff, 1546px 1634px #fff, 824px 1941px #fff,
    1639px 150px #fff, 1437px 334px #fff, 108px 417px #fff, 717px 532px #fff,
    278px 1680px #fff, 469px 1106px #fff, 1101px 853px #fff, 1545px 1172px #fff,
    912px 1619px #fff, 1440px 707px #fff, 1479px 1580px #fff, 332px 1541px #fff,
    1230px 822px #fff, 1425px 1095px #fff, 532px 1147px #fff, 1881px 636px #fff,
    862px 1325px #fff, 1908px 1145px #fff, 256px 1053px #fff, 1376px 1274px #fff,
    479px 188px #fff, 1367px 1565px #fff, 1837px 409px #fff, 1956px 1426px #fff,
    664px 1494px #fff, 416px 1599px #fff, 56px 404px #fff, 971px 1097px #fff,
    1071px 646px #fff, 1299px 556px #fff, 26px 1713px #fff, 1981px 329px #fff,
    1508px 1991px #fff, 453px 1687px #fff, 49px 708px #fff, 1705px 1608px #fff,
    544px 983px #fff, 722px 1626px #fff, 1737px 441px #fff, 1566px 129px #fff,
    220px 1674px #fff, 327px 76px #fff, 1215px 495px #fff, 557px 88px #fff,
    1101px 770px #fff, 1668px 1160px #fff, 1363px 549px #fff, 1663px 938px #fff,
    1911px 876px #fff, 1082px 494px #fff, 1900px 1159px #fff, 1195px 58px #fff,
    1566px 414px #fff, 128px 630px #fff, 1335px 1008px #fff, 1773px 615px #fff,
    926px 866px #fff, 903px 528px #fff, 229px 479px #fff, 289px 1843px #fff,
    102px 1775px #fff, 443px 1132px #fff, 966px 27px #fff, 1472px 1552px #fff,
    380px 1332px #fff, 268px 213px #fff, 1560px 234px #fff, 204px 869px #fff,
    1248px 1416px #fff, 19px 118px #fff, 736px 512px #fff, 235px 441px #fff,
    1212px 1510px #fff, 1762px 232px #fff, 678px 227px #fff, 403px 1934px #fff,
    1343px 927px #fff, 989px 599px #fff, 444px 1644px #fff, 1386px 538px #fff,
    1298px 1102px #fff, 752px 243px #fff, 1658px 1109px #fff, 230px 912px #fff,
    1470px 377px #fff, 1934px 293px #fff, 615px 1198px #fff, 367px 1191px #fff,
    1527px 1442px #fff, 1542px 1213px #fff, 1625px 754px #fff, 988px 1919px #fff,
    1837px 152px #fff, 1192px 310px #fff, 1046px 912px #fff, 1656px 380px #fff,
    1052px 626px #fff, 511px 1363px #fff, 876px 312px #fff, 1425px 1686px #fff,
    901px 443px #fff, 1009px 802px #fff, 1281px 1853px #fff, 3px 1713px #fff,
    878px 1596px #fff, 169px 1500px #fff, 1185px 1964px #fff, 1945px 1362px #fff,
    1883px 434px #fff, 331px 1675px #fff, 1756px 1352px #fff, 1988px 451px #fff,
    1045px 631px #fff, 1091px 824px #fff, 1751px 1524px #fff, 439px 673px #fff,
    663px 1204px #fff, 1200px 472px #fff, 209px 797px #fff, 1852px 1393px #fff,
    1185px 570px #fff, 1627px 1320px #fff, 1842px 429px #fff, 552px 416px #fff,
    615px 588px #fff, 1813px 627px #fff, 453px 219px #fff, 1337px 1354px #fff,
    622px 1440px #fff, 1882px 582px #fff, 264px 1540px #fff, 1630px 1803px #fff,
    1922px 541px #fff, 27px 420px #fff, 245px 1164px #fff, 1652px 1444px #fff,
    43px 660px #fff, 1419px 347px #fff, 1536px 1274px #fff, 49px 1790px #fff,
    277px 1957px #fff, 468px 1204px #fff, 1862px 1674px #fff, 801px 1552px #fff,
    1057px 210px #fff, 92px 1114px #fff, 296px 890px #fff, 1664px 1457px #fff,
    675px 1231px #fff, 171px 1970px #fff, 1953px 23px #fff, 1716px 805px #fff,
    859px 1048px #fff, 852px 1066px #fff, 1921px 72px #fff, 1202px 765px #fff,
    1863px 1536px #fff, 502px 1565px #fff, 1203px 895px #fff, 1652px 1789px #fff,
    84px 967px #fff, 1351px 1259px #fff, 94px 1280px #fff, 1027px 309px #fff,
    1481px 1759px #fff, 1847px 1696px #fff, 305px 1496px #fff, 90px 638px #fff,
    184px 1252px #fff, 1382px 807px #fff, 1516px 928px #fff, 248px 1970px #fff,
    993px 1809px #fff, 1989px 208px #fff, 820px 513px #fff, 319px 1704px #fff,
    397px 1829px #fff, 76px 1820px #fff, 469px 1207px #fff, 1181px 184px #fff,
    1809px 1421px #fff, 884px 382px #fff, 933px 335px #fff, 1548px 1517px #fff,
    1582px 1319px #fff, 488px 1828px #fff, 725px 287px #fff, 1862px 1168px #fff,
    1943px 27px #fff, 1111px 443px #fff, 1316px 310px #fff, 1475px 1648px #fff,
    883px 660px #fff, 383px 247px #fff, 452px 578px #fff, 1461px 60px #fff,
    509px 474px #fff, 1374px 406px #fff, 567px 1926px #fff, 1758px 1442px #fff,
    1577px 783px #fff, 632px 1718px #fff, 309px 718px #fff, 447px 1693px #fff,
    1027px 735px #fff, 533px 278px #fff, 738px 1421px #fff, 745px 55px #fff;
  z-index: 2;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* font-family: 'Roboto', sans-serif; */
@font-face {
  font-family: Beaufort-Regular;
  src: url(../src/font/Beaufort-Regular.ttf);
}

@font-face {
  font-family: Spiegel-Regular;
  src: url(../src/font/Spiegel-Regular.ttf);
}

@font-face {
  font-family: Spiegel-Bold;
  src: url(../src/font/spiegel-bold.ttf);
}

@font-face {
  font-family: FF-Mark-Bold;
  src: url(../src/font/FontFont_FF.Mark.Pro.Bold.otf);
}

body {
  font-weight: 400;
  line-height: 1.6;
}

.Big-container {
  display: grid;
  grid-template-rows: 1fr 8rem 1fr;
  grid-template-columns: [Full-start] minmax(6rem, 1fr) [Center-start] repeat(
      12,
      [Col-start] minmax(min-content, 9.5rem) [Col-end]
    ) [Center-end] minmax(6rem, 1fr) [Full-end];
}

.container {
  grid-column: Full-start / Full-end;
  overflow: hidden;
  display: grid;
  grid-template-rows: 8rem 0 500px 16rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 9.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #2e2e2e;
}

.sub-header {
  grid-column: full-start / full-end;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.sub-header .lol-logo {
  display: inline-block;
  width: 8rem;
  position: absolute;
  top: 50%;
  left: 12rem;
  opacity: 0;
  transform: translateY(-30%);
}
.sub-header .lol-logo__img {
  width: 100%;
  opacity: 0.4;
}
.sub-header .yasuo-heading {
  font-family: Beaufort-Regular, Arial, sans-serif;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-header .yasuo-heading .yasuo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -55%);
  display: inline-block;
  background-image: linear-gradient(to bottom, #67471f, #cbac62);
  -webkit-background-image: -webkit-linear-gradient(
    to bottom,
    #67471f,
    #cbac62
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1rem;
}
.sub-header .yasuo-heading .yasuo-round {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(140%, -55%);
  background-image: url('../src/img/yasuo.jpg');
  background-position: 87.9835% 31.3808%;
  background-size: 350%;
}
.sub-header .yasuo-heading .yasuo-round::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    rgba(103, 71, 31, 0.7),
    rgba(203, 172, 98, 0.7)
  );
  -webkit-background-image: -webkit-linear-gradient(
    to bottom,
    rgba(103, 71, 31, 0.7),
    rgba(203, 172, 98, 0.7)
  );
}
.sub-header .yasuo-heading .yasuo-round__frame {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  top: -0.26rem;
  left: -0.26rem;
  animation: fadeInOpa linear 1.5s;
  -webkit-animation: fadeInOpa linear 1.5s;
  /* -webkit-animation: spin 2s linear infinite 1.5s;
          animation: spin 2s linear infinite 1.5s; */
}

.sub-header-line {
  grid-column: full-start / full-end;
}
.sub-header-line__img {
  width: 100%;
  position: relative;
  right: 0;
  bottom: 2rem;
  transform-origin: center;
  animation: fadeInOpa 1.5s linear;
  -webkit-animation: fadeInOpa 1.5s linear;
  animation: goUp 1.5s linear;
  -webkit-animation: goUp 1.5s linear;
  z-index: 2;
}

.trailer {
  grid-column: full-start / full-end;
  position: relative;
}
.trailer__bg-big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  filter: blur(10px);
}
.trailer__bg-big-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.trailer__bg-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
  width: calc(100% - 12rem);
  height: 100%;
  z-index: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.trailer__bg-small-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(105%);
}
.trailer__bg-small-canvas {
  border: 1px solid #7e7e7e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 3rem, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - 3rem) 0,
    100% 3rem,
    100% 100%,
    0 100%
  );
}
.trailer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 40vw;
  z-index: 2;
  text-align: center;
}
.trailer__content-img {
  width: 100%;
  opacity: 0;
  transition: all linear 0.2s;
}
.trailer__content-img.out {
  opacity: 1;
}
.trailer__content-button {
  min-width: 19.5rem;
  height: 5.6rem;
  padding: 0 4rem;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.trailer__content-button .play-for-free {
  color: #010101;
  font-family: Spiegel-Bold, Arial, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.trailer__content-button::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25d8f6;
  transition: all linear 0.3s;
  z-index: -1;
  animation: changeColorAfterButton linear 0.3s 1s;
}
.trailer__content-button:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.trailer__content-button .button__canvas {
  border: 2px solid #7e7e7e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    2rem 0,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    0 100%,
    0 2rem
  );
  z-index: 3;
}

.sh-footer {
  grid-column: full-start / full-end;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
  border-bottom: 1px solid #67471f;
  overflow: hidden;
}
.sh-footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -16%);
  background-image: linear-gradient(to bottom, #67471f, #cbac62);
  -webkit-background-image: -webkit-linear-gradient(
    to bottom,
    #67471f,
    #cbac62
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-family: Beaufort-Regular, Arial, sans-serif;
  font-size: 6rem;
}

.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: #7e7e7e;
  margin-left: 0.2rem;
}

.main-header {
  grid-column: Full-start / Full-end;
  background-color: #0c0c0c;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.main-header__riot-logo {
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-header__riot-logo-svg {
  fill: #f9f9f9;
}
.main-header__riot-logo-svg,
.main-header__riot-logo .arrow-down-red {
  transition: all linear 0.2s;
}
.main-header__riot-logo:hover .main-header__riot-logo-svg,
.main-header__riot-logo:hover .arrow-down-red {
  fill: red;
}
.main-header__lol-symbol {
  margin: 0 2rem;
  position: relative;
  top: 0.2rem;
  cursor: pointer;
}
.main-header__lol-symbol-logo {
  width: 4.2rem;
  height: 3rem;
}
.main-header-about {
  flex: 1;
  display: flex;
  align-items: center;
  height: 3rem;
}
.main-header-about__games {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  cursor: pointer;
}
.main-header-about__games-all {
  font-family: FF-Mark-Bold, Arial, sans-serif;
  font-size: 1.8rem;
  transition: all linear 0.2s;
}
.main-header-about__games .arrow-down-games-all {
  position: relative;
  top: 0.2rem;
  transition: all linear 0.2s;
}
.main-header-about__games:hover .arrow-down-games-all,
.main-header-about__games:hover .main-header-about__games-all {
  color: red;
  fill: red;
}
.main-header-about__content {
  flex: 1;
  height: 100%;
}
.main-header-about__content-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}
.main-header-about__content-item {
  height: 100%;
  transition: all linear 0.2s;
  position: relative;
}
.main-header-about__content-item:hover {
  background-color: #333333;
  border-radius: 0.6rem;
}
.main-header-about__content-item:hover::before {
  transform: scaleX(1);
}
.main-header-about__content-item:hover .more {
  color: #1db2cf;
}
.main-header-about__content-item:last-child:hover .arrow-down-more {
  fill: #1db2cf;
}
.main-header-about__content-item::before {
  content: '';
  background-color: #1db2cf;
  border-radius: 00.2rem;
  position: absolute;
  left: 0;
  bottom: -2rem;
  height: 0.4rem;
  width: 100%;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
}
.main-header-about__content-item:last-child::before {
  width: 0;
}
.main-header-about__content-link:link,
.main-header-about__content-link:visited {
  font-family: FF-Mark-Bold, Arial, sans-serif;
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  min-width: 8rem;
  height: 100%;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.main-header-about__content-link:link .arrow-down-more,
.main-header-about__content-link:visited .arrow-down-more {
  margin-left: 0rem;
  position: relative;
  top: 0.4rem;
}
.main-header .find-more {
  position: relative;
}
.main-header .find-more::after {
  content: '';
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: red;
  opacity: 0;
}
.main-header .find-more:hover .list-1 {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.main-header .list-1 {
  position: absolute;
  top: 4.6rem;
  left: 0;
  min-width: 21rem;
  min-height: 19rem;
  list-style: none;
  background-color: #171717;
  border-radius: 0.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-top: 0.4rem solid #1db2cf;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-1.5rem);
  transition: all linear 0.2s;
  z-index: 10;
}
.main-header .list-1__item {
  display: block;
}
.main-header .list-1__item:hover {
  background-color: #333333;
  border-radius: 0.6rem;
}
.main-header .list-1__item:hover .list-1__link:link,
.main-header .list-1__item:hover .list-1__link:visited,
.main-header .list-1__item:hover .list-1__link-icon {
  color: #1db2cf;
  fill: #1db2cf;
}
.main-header .list-1__link:link,
.main-header .list-1__link:visited {
  display: block;
  font-family: FF-Mark-Bold, Arial, sans-serif;
  color: #d9d9d9;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.6rem 1rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  transition: all linear 0.1s;
}
.main-header .list-1__link-icon {
  fill: #7e7e7e;
  width: 2.5rem;
  height: 1.25rem;
  transition: all linear 0.1s;
}
.main-header .list-1__link-icon.universe-icon {
  transform: rotate(45deg);
}
.main-header .list-2.open {
  height: 6.4rem;
  opacity: 1;
}
.main-header .list-2__item.open {
  height: 100%;
}
.main-header .list-2 {
  list-style: none;
  padding: 0 2rem 0.4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
  opacity: 0;
}
.main-header .list-2__item {
  height: 0;
  overflow: hidden;
}
.main-header .list-2__link:link,
.main-header .list-2__link:visited {
  display: block;
  font-family: FF-Mark-Bold, Arial, sans-serif;
  text-decoration: none;
  color: #d9d9d9;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.6rem;
  transition: all linear 0.1s;
}
.main-header .list-2__link:hover {
  background-color: #171717;
  color: #1db2cf;
}
.main-header .list-2__link:hover .list-2__link-icon {
  fill: #1db2cf;
}
.main-header .list-2__link-icon {
  fill: #7e7e7e;
  width: 1.6rem;
  height: 0.8rem;
  transition: all linear 0.1s;
}
.main-header__play {
  margin-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__play-languages {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-header__play-languages-icon {
  width: 5.25rem;
  height: 2.625rem;
  fill: #f9f9f9;
  transition: all linear 0.2s;
}
.main-header__play-languages-icon:hover {
  fill: #c28f2b;
}
.main-header__play-sign {
  font-family: FF-Mark-Bold, Arial, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0.4rem 1.8rem;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all linear 0.2s;
}
.main-header__play-sign-in {
  background-color: #282828;
  margin-right: 1.4rem;
}
.main-header__play-sign-in:hover {
  color: #1db2cf;
}
.main-header__play-play-now {
  background-image: linear-gradient(135deg, #0f8ca4 30%, #1db2cf 70%);
  color: #282828;
  filter: brightness(100%);
  transition: all linear 0.2s;
}
.main-header__play-play-now:hover {
  filter: brightness(120%);
}

.information {
  grid-column: Full-start / Full-end;
  background-color: #171717;
  position: relative;
}
.information-img-bg {
  position: absolute;
  width: 100%;
  height: auto;
}
.information-img-bg-img {
  width: 100%;
  height: calc(100% + 10rem);
  filter: blur(1rem);
}
.information-img-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.3) 100%,
    transparent 0
  );
}
.information-img {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: auto;
}
.information-img-img {
  width: 100%;
  height: 56.25vw;
  border-radius: 0.6rem;
}
.information-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.information-img-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-90deg) translate(-10%, -120%);
  font-family: Spiegel-Bold, Arial, sans-serif;
  font-size: 1rem;
  color: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.information-img-text::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.4em;
  height: 1px;
  margin-left: 0.5em;
  background-color: currentcolor;
}

.scroll {
  grid-column: Full-start / Full-end;
  content: '';
  background-color: pink;
  height: 200rem;
}
