@keyframes fadeInOpa {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes goUp {
  0% {
    transform: translateY(-9rem); }
  100% {
    transform: translateY(0); } }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1668px 827px #FFF , 1143px 655px #FFF , 1035px 625px #FFF , 662px 284px #FFF , 562px 778px #FFF , 1003px 80px #FFF , 727px 109px #FFF , 247px 1392px #FFF , 418px 1797px #FFF , 253px 1930px #FFF , 1133px 94px #FFF , 1718px 401px #FFF , 477px 317px #FFF , 77px 256px #FFF , 691px 85px #FFF , 1008px 919px #FFF , 225px 316px #FFF , 33px 371px #FFF , 99px 1502px #FFF , 28px 650px #FFF , 1635px 1932px #FFF , 1189px 1199px #FFF , 1862px 694px #FFF , 1551px 426px #FFF , 317px 537px #FFF , 1940px 1394px #FFF , 449px 544px #FFF , 1600px 649px #FFF , 1387px 861px #FFF , 144px 839px #FFF , 1121px 582px #FFF , 739px 1980px #FFF , 241px 19px #FFF , 1368px 1859px #FFF , 1472px 1433px #FFF , 1516px 1558px #FFF , 664px 1492px #FFF , 1339px 1408px #FFF , 1776px 511px #FFF , 1014px 461px #FFF , 1995px 650px #FFF , 784px 611px #FFF , 1312px 1423px #FFF , 58px 570px #FFF , 314px 1935px #FFF , 711px 1214px #FFF , 294px 1824px #FFF , 400px 748px #FFF , 887px 1002px #FFF , 1299px 1821px #FFF , 1049px 522px #FFF , 116px 185px #FFF , 384px 234px #FFF , 687px 253px #FFF , 1900px 348px #FFF , 1496px 1718px #FFF , 281px 378px #FFF , 753px 419px #FFF , 14px 1935px #FFF , 1305px 1192px #FFF , 353px 1364px #FFF , 511px 1771px #FFF , 1715px 1403px #FFF , 1130px 142px #FFF , 1292px 1947px #FFF , 1995px 1078px #FFF , 430px 463px #FFF , 133px 1637px #FFF , 185px 1010px #FFF , 23px 90px #FFF , 350px 1036px #FFF , 279px 1512px #FFF , 1491px 1071px #FFF , 387px 1595px #FFF , 525px 735px #FFF , 1582px 1403px #FFF , 723px 988px #FFF , 280px 1134px #FFF , 961px 247px #FFF , 1184px 910px #FFF , 942px 708px #FFF , 1405px 657px #FFF , 269px 1236px #FFF , 729px 1813px #FFF , 299px 1593px #FFF , 179px 423px #FFF , 639px 775px #FFF , 1676px 1704px #FFF , 1965px 1819px #FFF , 1371px 1916px #FFF , 681px 125px #FFF , 1771px 1244px #FFF , 368px 1910px #FFF , 300px 831px #FFF , 1575px 59px #FFF , 1365px 185px #FFF , 204px 118px #FFF , 245px 1329px #FFF , 1191px 1563px #FFF , 27px 482px #FFF , 118px 1771px #FFF , 1977px 1386px #FFF , 177px 373px #FFF , 722px 1987px #FFF , 1381px 1811px #FFF , 1311px 312px #FFF , 401px 1325px #FFF , 1661px 410px #FFF , 633px 522px #FFF , 292px 843px #FFF , 463px 482px #FFF , 595px 546px #FFF , 1300px 1358px #FFF , 612px 599px #FFF , 1557px 1135px #FFF , 70px 1469px #FFF , 506px 1486px #FFF , 364px 951px #FFF , 1642px 602px #FFF , 1125px 121px #FFF , 1369px 1478px #FFF , 258px 1101px #FFF , 1297px 506px #FFF , 1415px 1655px #FFF , 929px 1862px #FFF , 1493px 1945px #FFF , 767px 40px #FFF , 641px 497px #FFF , 1356px 1367px #FFF , 1985px 585px #FFF , 73px 477px #FFF , 1250px 1575px #FFF , 190px 1786px #FFF , 728px 1648px #FFF , 424px 610px #FFF , 504px 166px #FFF , 1006px 1979px #FFF , 1078px 150px #FFF , 335px 515px #FFF , 954px 750px #FFF , 104px 96px #FFF , 1851px 1906px #FFF , 892px 979px #FFF , 200px 1565px #FFF , 1124px 1269px #FFF , 1925px 783px #FFF , 119px 443px #FFF , 431px 1633px #FFF , 44px 453px #FFF , 226px 445px #FFF , 984px 1061px #FFF , 887px 1924px #FFF , 710px 603px #FFF , 1828px 1046px #FFF , 593px 480px #FFF , 1241px 1474px #FFF , 389px 1976px #FFF , 57px 1291px #FFF , 1031px 958px #FFF , 200px 377px #FFF , 175px 39px #FFF , 794px 1364px #FFF , 883px 640px #FFF , 1773px 1870px #FFF , 1130px 1569px #FFF , 240px 659px #FFF , 253px 264px #FFF , 1248px 1914px #FFF , 210px 1332px #FFF , 1253px 1290px #FFF , 704px 1285px #FFF , 1765px 1262px #FFF , 309px 1028px #FFF , 573px 74px #FFF , 1640px 777px #FFF , 1503px 298px #FFF , 791px 815px #FFF , 1140px 231px #FFF , 157px 108px #FFF , 1769px 1732px #FFF , 1285px 1327px #FFF , 276px 1098px #FFF , 1105px 1654px #FFF , 1902px 399px #FFF , 1270px 277px #FFF , 1649px 946px #FFF , 1779px 405px #FFF , 518px 238px #FFF , 1858px 1123px #FFF , 191px 1438px #FFF , 1917px 677px #FFF , 416px 592px #FFF , 1865px 1278px #FFF , 1926px 989px #FFF , 1830px 1460px #FFF , 1971px 467px #FFF , 1646px 383px #FFF , 1802px 1446px #FFF , 1145px 674px #FFF , 1053px 1828px #FFF , 529px 765px #FFF , 150px 877px #FFF , 1805px 69px #FFF , 826px 630px #FFF , 482px 1596px #FFF , 1773px 1787px #FFF , 1181px 1669px #FFF , 440px 1990px #FFF , 1174px 214px #FFF , 581px 1799px #FFF , 867px 1447px #FFF , 1845px 851px #FFF , 764px 227px #FFF , 817px 1435px #FFF , 36px 1110px #FFF , 872px 1083px #FFF , 119px 1463px #FFF , 876px 862px #FFF , 1863px 705px #FFF , 43px 1756px #FFF , 1995px 1871px #FFF , 819px 1163px #FFF , 1587px 1189px #FFF , 685px 1617px #FFF , 302px 134px #FFF , 1254px 1774px #FFF , 1820px 896px #FFF , 1671px 1860px #FFF , 414px 960px #FFF , 1202px 1541px #FFF , 714px 1582px #FFF , 17px 1650px #FFF , 1914px 1011px #FFF , 295px 840px #FFF , 1681px 1940px #FFF , 1680px 1834px #FFF , 303px 1981px #FFF , 401px 258px #FFF , 889px 1881px #FFF , 1984px 369px #FFF , 1231px 1954px #FFF , 1842px 1726px #FFF , 1384px 1765px #FFF , 439px 1003px #FFF , 1256px 507px #FFF , 1632px 1409px #FFF , 1233px 1161px #FFF , 335px 1605px #FFF , 1739px 868px #FFF , 173px 1047px #FFF , 1997px 668px #FFF , 912px 397px #FFF , 1553px 1529px #FFF , 1657px 1530px #FFF , 1320px 867px #FFF , 950px 890px #FFF , 34px 1842px #FFF , 1513px 567px #FFF , 1288px 132px #FFF , 1560px 1156px #FFF , 430px 1649px #FFF , 7px 1154px #FFF , 484px 1277px #FFF , 1891px 1653px #FFF , 1192px 1143px #FFF , 1923px 1732px #FFF , 693px 1324px #FFF , 1742px 243px #FFF , 15px 1042px #FFF , 1832px 1847px #FFF , 813px 420px #FFF , 1289px 27px #FFF , 1536px 66px #FFF , 819px 1273px #FFF , 1482px 1839px #FFF , 326px 1719px #FFF , 415px 1702px #FFF , 1359px 1072px #FFF , 959px 1780px #FFF , 1095px 1775px #FFF , 298px 1203px #FFF , 553px 97px #FFF , 1023px 63px #FFF , 859px 668px #FFF , 1043px 1410px #FFF , 1905px 1692px #FFF , 250px 1807px #FFF , 300px 1814px #FFF , 1304px 827px #FFF , 1121px 45px #FFF , 1072px 1378px #FFF , 1431px 815px #FFF , 731px 464px #FFF , 1488px 1870px #FFF , 607px 1627px #FFF , 1547px 1843px #FFF , 1845px 122px #FFF , 899px 867px #FFF , 1572px 1907px #FFF , 79px 1143px #FFF , 1695px 536px #FFF , 495px 1437px #FFF , 1412px 1271px #FFF , 858px 303px #FFF , 1181px 485px #FFF , 545px 1264px #FFF , 290px 1264px #FFF , 1531px 816px #FFF , 1752px 184px #FFF , 1393px 1741px #FFF , 485px 1460px #FFF , 681px 1600px #FFF , 1763px 767px #FFF , 1414px 1350px #FFF , 1445px 1731px #FFF , 1118px 364px #FFF , 228px 474px #FFF , 1075px 1674px #FFF , 1838px 1546px #FFF , 246px 386px #FFF , 1839px 838px #FFF , 802px 114px #FFF , 1981px 243px #FFF , 948px 583px #FFF , 679px 22px #FFF , 43px 162px #FFF , 511px 886px #FFF , 346px 1393px #FFF , 1363px 200px #FFF , 996px 1783px #FFF , 509px 1721px #FFF , 645px 423px #FFF , 1499px 522px #FFF , 778px 413px #FFF , 1884px 369px #FFF , 1359px 1135px #FFF , 1738px 798px #FFF , 1245px 143px #FFF , 505px 29px #FFF , 1319px 1953px #FFF , 1635px 933px #FFF , 1346px 526px #FFF , 600px 689px #FFF , 997px 1171px #FFF , 56px 1190px #FFF , 1413px 495px #FFF , 47px 124px #FFF , 694px 1693px #FFF , 1613px 1564px #FFF , 1309px 734px #FFF , 1651px 1439px #FFF , 1381px 447px #FFF , 758px 1685px #FFF , 718px 1933px #FFF , 449px 874px #FFF , 149px 1343px #FFF , 166px 1178px #FFF , 1672px 1238px #FFF , 735px 478px #FFF , 1121px 1922px #FFF , 868px 1683px #FFF , 372px 1312px #FFF , 1947px 1981px #FFF , 395px 1897px #FFF , 723px 1477px #FFF , 959px 42px #FFF , 1805px 185px #FFF , 518px 1158px #FFF , 482px 1367px #FFF , 1484px 186px #FFF , 1798px 1228px #FFF , 681px 1621px #FFF , 1113px 1296px #FFF , 1194px 212px #FFF , 1414px 22px #FFF , 1320px 871px #FFF , 342px 846px #FFF , 1787px 1886px #FFF , 717px 1300px #FFF , 1850px 1128px #FFF , 136px 1850px #FFF , 1977px 1922px #FFF , 831px 1784px #FFF , 645px 1483px #FFF , 1338px 783px #FFF , 367px 1192px #FFF , 1196px 1637px #FFF , 134px 1072px #FFF , 1943px 339px #FFF , 660px 15px #FFF , 998px 1742px #FFF , 1753px 1920px #FFF , 1423px 1602px #FFF , 538px 1346px #FFF , 241px 1710px #FFF , 336px 464px #FFF , 1401px 1929px #FFF , 1440px 425px #FFF , 1648px 598px #FFF , 58px 1745px #FFF , 765px 1395px #FFF , 1034px 675px #FFF , 1168px 1235px #FFF , 62px 1278px #FFF , 274px 1344px #FFF , 860px 1931px #FFF , 201px 147px #FFF , 246px 1957px #FFF , 415px 1752px #FFF , 11px 700px #FFF , 98px 1160px #FFF , 1659px 979px #FFF , 226px 1935px #FFF , 1300px 1783px #FFF , 1968px 519px #FFF , 909px 1220px #FFF , 422px 66px #FFF , 1367px 1402px #FFF , 1735px 948px #FFF , 689px 412px #FFF , 1471px 419px #FFF , 503px 655px #FFF , 1535px 1788px #FFF , 94px 1094px #FFF , 297px 805px #FFF , 828px 1704px #FFF , 1502px 476px #FFF , 1702px 102px #FFF , 601px 467px #FFF , 775px 1407px #FFF , 130px 1712px #FFF , 1459px 259px #FFF , 186px 411px #FFF , 1161px 1782px #FFF , 1591px 1855px #FFF , 330px 910px #FFF , 1302px 1472px #FFF , 1749px 1183px #FFF , 1734px 949px #FFF , 1828px 84px #FFF , 1622px 1852px #FFF , 1334px 1448px #FFF , 549px 58px #FFF , 1620px 156px #FFF , 775px 381px #FFF , 1237px 1157px #FFF , 1646px 1310px #FFF , 1370px 684px #FFF , 1200px 1960px #FFF , 1440px 1634px #FFF , 1500px 144px #FFF , 1502px 1494px #FFF , 285px 1951px #FFF , 126px 684px #FFF , 1220px 1825px #FFF , 400px 7px #FFF , 865px 274px #FFF , 1294px 1166px #FFF , 1967px 722px #FFF , 1793px 11px #FFF , 1909px 588px #FFF , 1393px 1690px #FFF , 1382px 1838px #FFF , 838px 34px #FFF , 1203px 1054px #FFF , 373px 1717px #FFF , 1254px 951px #FFF , 1526px 98px #FFF , 932px 968px #FFF , 1900px 338px #FFF , 779px 830px #FFF , 1808px 1199px #FFF , 765px 173px #FFF , 1348px 1448px #FFF , 1321px 981px #FFF , 781px 252px #FFF , 1609px 1491px #FFF , 201px 1574px #FFF , 1743px 1747px #FFF , 1725px 492px #FFF , 306px 773px #FFF , 284px 1163px #FFF , 1914px 84px #FFF , 660px 447px #FFF , 1210px 488px #FFF , 155px 1604px #FFF , 1365px 1985px #FFF , 1492px 765px #FFF , 1989px 559px #FFF , 1944px 11px #FFF , 1939px 267px #FFF , 477px 442px #FFF , 291px 1338px #FFF , 587px 564px #FFF , 695px 1967px #FFF , 897px 761px #FFF , 248px 798px #FFF , 834px 766px #FFF , 867px 1155px #FFF , 919px 1064px #FFF , 414px 1294px #FFF , 1877px 351px #FFF , 794px 262px #FFF , 673px 920px #FFF , 52px 1328px #FFF , 852px 1957px #FFF , 360px 674px #FFF , 1302px 126px #FFF , 1534px 422px #FFF , 1286px 900px #FFF , 1921px 817px #FFF , 162px 1875px #FFF , 230px 938px #FFF , 968px 978px #FFF , 1041px 529px #FFF , 633px 1373px #FFF , 116px 104px #FFF , 1403px 524px #FFF , 1852px 953px #FFF , 156px 916px #FFF , 734px 1076px #FFF , 1888px 1740px #FFF , 19px 1303px #FFF , 123px 173px #FFF , 942px 1157px #FFF , 564px 1920px #FFF , 1394px 268px #FFF , 591px 718px #FFF , 1670px 557px #FFF , 238px 69px #FFF , 1282px 591px #FFF , 847px 628px #FFF , 287px 688px #FFF , 362px 1225px #FFF , 1922px 1809px #FFF , 1269px 163px #FFF , 1600px 1046px #FFF , 742px 530px #FFF , 1722px 1968px #FFF , 379px 739px #FFF , 1820px 761px #FFF , 135px 1455px #FFF , 624px 836px #FFF , 1507px 1680px #FFF , 1849px 432px #FFF , 665px 1200px #FFF , 851px 1931px #FFF , 152px 1564px #FFF , 1517px 748px #FFF , 1149px 1191px #FFF , 1817px 835px #FFF , 959px 1583px #FFF , 320px 1632px #FFF , 1269px 383px #FFF , 1673px 1516px #FFF , 1382px 1135px #FFF , 446px 492px #FFF , 69px 1658px #FFF , 1821px 1045px #FFF , 116px 1365px #FFF , 121px 619px #FFF , 1968px 240px #FFF , 195px 847px #FFF , 395px 295px #FFF , 819px 1491px #FFF , 1409px 810px #FFF , 1360px 707px #FFF , 483px 1529px #FFF , 1682px 293px #FFF , 453px 123px #FFF , 1124px 832px #FFF , 1209px 46px #FFF , 398px 1967px #FFF , 230px 984px #FFF , 1200px 1011px #FFF , 1922px 99px #FFF , 183px 756px #FFF , 697px 88px #FFF , 1628px 873px #FFF , 74px 1159px #FFF , 811px 287px #FFF , 180px 354px #FFF , 1061px 895px #FFF , 199px 1044px #FFF , 1815px 1664px #FFF , 1177px 66px #FFF , 1600px 1892px #FFF , 449px 993px #FFF , 6px 520px #FFF , 1431px 1227px #FFF , 53px 1928px #FFF , 1150px 50px #FFF , 869px 963px #FFF , 236px 907px #FFF , 1949px 1771px #FFF , 1658px 537px #FFF , 585px 1416px #FFF , 1800px 46px #FFF , 694px 1902px #FFF , 89px 1303px #FFF , 460px 1954px #FFF , 431px 1632px #FFF , 1912px 1463px #FFF , 1121px 1360px #FFF , 1017px 1117px #FFF , 1101px 805px #FFF , 805px 1519px #FFF , 1510px 19px #FFF , 1116px 817px #FFF , 1511px 1143px #FFF , 46px 183px #FFF , 649px 1447px #FFF , 1448px 1042px #FFF , 1784px 628px #FFF , 1954px 92px #FFF , 358px 1074px #FFF , 528px 267px #FFF , 1961px 1677px #FFF , 1969px 432px #FFF , 1596px 407px #FFF , 961px 1278px #FFF , 498px 1575px #FFF , 1905px 2px #FFF , 1115px 216px #FFF , 70px 1670px #FFF , 460px 1999px #FFF , 1461px 952px #FFF , 774px 192px #FFF , 1693px 850px #FFF , 1489px 420px #FFF , 621px 1221px #FFF , 1807px 1570px #FFF , 1484px 1168px #FFF , 1668px 183px #FFF , 1555px 1349px #FFF , 549px 1721px #FFF , 1714px 1425px #FFF , 456px 1682px #FFF , 1843px 1551px #FFF , 499px 360px #FFF , 210px 1517px #FFF , 1857px 15px #FFF , 1841px 1696px #FFF , 1570px 1369px #FFF , 1198px 823px #FFF , 1087px 1319px #FFF , 1565px 1506px #FFF , 313px 1794px #FFF , 1386px 1742px #FFF , 1722px 1568px #FFF , 1950px 214px #FFF , 472px 766px #FFF , 1110px 1235px #FFF , 605px 1836px #FFF , 378px 1597px #FFF , 119px 1650px #FFF , 969px 382px #FFF , 70px 280px #FFF , 68px 1353px #FFF , 1826px 1637px #FFF , 1916px 126px #FFF , 1855px 898px #FFF , 1527px 52px #FFF , 975px 1287px #FFF , 902px 1456px #FFF , 1725px 1677px #FFF , 1218px 269px #FFF , 1553px 848px #FFF , 1583px 915px #FFF , 501px 1122px #FFF , 654px 1838px #FFF , 1890px 290px #FFF , 1124px 746px #FFF , 624px 1160px #FFF , 1173px 696px #FFF , 911px 590px #FFF , 436px 899px #FFF , 1421px 1867px #FFF , 1900px 1931px #FFF , 366px 1837px #FFF , 937px 969px #FFF , 1804px 646px #FFF , 136px 1512px #FFF , 1122px 1703px #FFF , 825px 265px #FFF , 927px 251px #FFF , 637px 792px #FFF , 800px 1190px #FFF , 1947px 1862px #FFF , 1565px 956px #FFF , 100px 779px #FFF , 635px 131px #FFF , 1010px 1361px #FFF , 412px 294px #FFF , 1020px 923px #FFF , 1298px 1437px #FFF , 189px 1598px #FFF , 103px 984px #FFF , 1775px 1774px #FFF , 587px 549px #FFF;
  animation: animStar 50s linear infinite;
  position: relative;
  z-index: 2; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1668px 827px #FFF , 1143px 655px #FFF , 1035px 625px #FFF , 662px 284px #FFF , 562px 778px #FFF , 1003px 80px #FFF , 727px 109px #FFF , 247px 1392px #FFF , 418px 1797px #FFF , 253px 1930px #FFF , 1133px 94px #FFF , 1718px 401px #FFF , 477px 317px #FFF , 77px 256px #FFF , 691px 85px #FFF , 1008px 919px #FFF , 225px 316px #FFF , 33px 371px #FFF , 99px 1502px #FFF , 28px 650px #FFF , 1635px 1932px #FFF , 1189px 1199px #FFF , 1862px 694px #FFF , 1551px 426px #FFF , 317px 537px #FFF , 1940px 1394px #FFF , 449px 544px #FFF , 1600px 649px #FFF , 1387px 861px #FFF , 144px 839px #FFF , 1121px 582px #FFF , 739px 1980px #FFF , 241px 19px #FFF , 1368px 1859px #FFF , 1472px 1433px #FFF , 1516px 1558px #FFF , 664px 1492px #FFF , 1339px 1408px #FFF , 1776px 511px #FFF , 1014px 461px #FFF , 1995px 650px #FFF , 784px 611px #FFF , 1312px 1423px #FFF , 58px 570px #FFF , 314px 1935px #FFF , 711px 1214px #FFF , 294px 1824px #FFF , 400px 748px #FFF , 887px 1002px #FFF , 1299px 1821px #FFF , 1049px 522px #FFF , 116px 185px #FFF , 384px 234px #FFF , 687px 253px #FFF , 1900px 348px #FFF , 1496px 1718px #FFF , 281px 378px #FFF , 753px 419px #FFF , 14px 1935px #FFF , 1305px 1192px #FFF , 353px 1364px #FFF , 511px 1771px #FFF , 1715px 1403px #FFF , 1130px 142px #FFF , 1292px 1947px #FFF , 1995px 1078px #FFF , 430px 463px #FFF , 133px 1637px #FFF , 185px 1010px #FFF , 23px 90px #FFF , 350px 1036px #FFF , 279px 1512px #FFF , 1491px 1071px #FFF , 387px 1595px #FFF , 525px 735px #FFF , 1582px 1403px #FFF , 723px 988px #FFF , 280px 1134px #FFF , 961px 247px #FFF , 1184px 910px #FFF , 942px 708px #FFF , 1405px 657px #FFF , 269px 1236px #FFF , 729px 1813px #FFF , 299px 1593px #FFF , 179px 423px #FFF , 639px 775px #FFF , 1676px 1704px #FFF , 1965px 1819px #FFF , 1371px 1916px #FFF , 681px 125px #FFF , 1771px 1244px #FFF , 368px 1910px #FFF , 300px 831px #FFF , 1575px 59px #FFF , 1365px 185px #FFF , 204px 118px #FFF , 245px 1329px #FFF , 1191px 1563px #FFF , 27px 482px #FFF , 118px 1771px #FFF , 1977px 1386px #FFF , 177px 373px #FFF , 722px 1987px #FFF , 1381px 1811px #FFF , 1311px 312px #FFF , 401px 1325px #FFF , 1661px 410px #FFF , 633px 522px #FFF , 292px 843px #FFF , 463px 482px #FFF , 595px 546px #FFF , 1300px 1358px #FFF , 612px 599px #FFF , 1557px 1135px #FFF , 70px 1469px #FFF , 506px 1486px #FFF , 364px 951px #FFF , 1642px 602px #FFF , 1125px 121px #FFF , 1369px 1478px #FFF , 258px 1101px #FFF , 1297px 506px #FFF , 1415px 1655px #FFF , 929px 1862px #FFF , 1493px 1945px #FFF , 767px 40px #FFF , 641px 497px #FFF , 1356px 1367px #FFF , 1985px 585px #FFF , 73px 477px #FFF , 1250px 1575px #FFF , 190px 1786px #FFF , 728px 1648px #FFF , 424px 610px #FFF , 504px 166px #FFF , 1006px 1979px #FFF , 1078px 150px #FFF , 335px 515px #FFF , 954px 750px #FFF , 104px 96px #FFF , 1851px 1906px #FFF , 892px 979px #FFF , 200px 1565px #FFF , 1124px 1269px #FFF , 1925px 783px #FFF , 119px 443px #FFF , 431px 1633px #FFF , 44px 453px #FFF , 226px 445px #FFF , 984px 1061px #FFF , 887px 1924px #FFF , 710px 603px #FFF , 1828px 1046px #FFF , 593px 480px #FFF , 1241px 1474px #FFF , 389px 1976px #FFF , 57px 1291px #FFF , 1031px 958px #FFF , 200px 377px #FFF , 175px 39px #FFF , 794px 1364px #FFF , 883px 640px #FFF , 1773px 1870px #FFF , 1130px 1569px #FFF , 240px 659px #FFF , 253px 264px #FFF , 1248px 1914px #FFF , 210px 1332px #FFF , 1253px 1290px #FFF , 704px 1285px #FFF , 1765px 1262px #FFF , 309px 1028px #FFF , 573px 74px #FFF , 1640px 777px #FFF , 1503px 298px #FFF , 791px 815px #FFF , 1140px 231px #FFF , 157px 108px #FFF , 1769px 1732px #FFF , 1285px 1327px #FFF , 276px 1098px #FFF , 1105px 1654px #FFF , 1902px 399px #FFF , 1270px 277px #FFF , 1649px 946px #FFF , 1779px 405px #FFF , 518px 238px #FFF , 1858px 1123px #FFF , 191px 1438px #FFF , 1917px 677px #FFF , 416px 592px #FFF , 1865px 1278px #FFF , 1926px 989px #FFF , 1830px 1460px #FFF , 1971px 467px #FFF , 1646px 383px #FFF , 1802px 1446px #FFF , 1145px 674px #FFF , 1053px 1828px #FFF , 529px 765px #FFF , 150px 877px #FFF , 1805px 69px #FFF , 826px 630px #FFF , 482px 1596px #FFF , 1773px 1787px #FFF , 1181px 1669px #FFF , 440px 1990px #FFF , 1174px 214px #FFF , 581px 1799px #FFF , 867px 1447px #FFF , 1845px 851px #FFF , 764px 227px #FFF , 817px 1435px #FFF , 36px 1110px #FFF , 872px 1083px #FFF , 119px 1463px #FFF , 876px 862px #FFF , 1863px 705px #FFF , 43px 1756px #FFF , 1995px 1871px #FFF , 819px 1163px #FFF , 1587px 1189px #FFF , 685px 1617px #FFF , 302px 134px #FFF , 1254px 1774px #FFF , 1820px 896px #FFF , 1671px 1860px #FFF , 414px 960px #FFF , 1202px 1541px #FFF , 714px 1582px #FFF , 17px 1650px #FFF , 1914px 1011px #FFF , 295px 840px #FFF , 1681px 1940px #FFF , 1680px 1834px #FFF , 303px 1981px #FFF , 401px 258px #FFF , 889px 1881px #FFF , 1984px 369px #FFF , 1231px 1954px #FFF , 1842px 1726px #FFF , 1384px 1765px #FFF , 439px 1003px #FFF , 1256px 507px #FFF , 1632px 1409px #FFF , 1233px 1161px #FFF , 335px 1605px #FFF , 1739px 868px #FFF , 173px 1047px #FFF , 1997px 668px #FFF , 912px 397px #FFF , 1553px 1529px #FFF , 1657px 1530px #FFF , 1320px 867px #FFF , 950px 890px #FFF , 34px 1842px #FFF , 1513px 567px #FFF , 1288px 132px #FFF , 1560px 1156px #FFF , 430px 1649px #FFF , 7px 1154px #FFF , 484px 1277px #FFF , 1891px 1653px #FFF , 1192px 1143px #FFF , 1923px 1732px #FFF , 693px 1324px #FFF , 1742px 243px #FFF , 15px 1042px #FFF , 1832px 1847px #FFF , 813px 420px #FFF , 1289px 27px #FFF , 1536px 66px #FFF , 819px 1273px #FFF , 1482px 1839px #FFF , 326px 1719px #FFF , 415px 1702px #FFF , 1359px 1072px #FFF , 959px 1780px #FFF , 1095px 1775px #FFF , 298px 1203px #FFF , 553px 97px #FFF , 1023px 63px #FFF , 859px 668px #FFF , 1043px 1410px #FFF , 1905px 1692px #FFF , 250px 1807px #FFF , 300px 1814px #FFF , 1304px 827px #FFF , 1121px 45px #FFF , 1072px 1378px #FFF , 1431px 815px #FFF , 731px 464px #FFF , 1488px 1870px #FFF , 607px 1627px #FFF , 1547px 1843px #FFF , 1845px 122px #FFF , 899px 867px #FFF , 1572px 1907px #FFF , 79px 1143px #FFF , 1695px 536px #FFF , 495px 1437px #FFF , 1412px 1271px #FFF , 858px 303px #FFF , 1181px 485px #FFF , 545px 1264px #FFF , 290px 1264px #FFF , 1531px 816px #FFF , 1752px 184px #FFF , 1393px 1741px #FFF , 485px 1460px #FFF , 681px 1600px #FFF , 1763px 767px #FFF , 1414px 1350px #FFF , 1445px 1731px #FFF , 1118px 364px #FFF , 228px 474px #FFF , 1075px 1674px #FFF , 1838px 1546px #FFF , 246px 386px #FFF , 1839px 838px #FFF , 802px 114px #FFF , 1981px 243px #FFF , 948px 583px #FFF , 679px 22px #FFF , 43px 162px #FFF , 511px 886px #FFF , 346px 1393px #FFF , 1363px 200px #FFF , 996px 1783px #FFF , 509px 1721px #FFF , 645px 423px #FFF , 1499px 522px #FFF , 778px 413px #FFF , 1884px 369px #FFF , 1359px 1135px #FFF , 1738px 798px #FFF , 1245px 143px #FFF , 505px 29px #FFF , 1319px 1953px #FFF , 1635px 933px #FFF , 1346px 526px #FFF , 600px 689px #FFF , 997px 1171px #FFF , 56px 1190px #FFF , 1413px 495px #FFF , 47px 124px #FFF , 694px 1693px #FFF , 1613px 1564px #FFF , 1309px 734px #FFF , 1651px 1439px #FFF , 1381px 447px #FFF , 758px 1685px #FFF , 718px 1933px #FFF , 449px 874px #FFF , 149px 1343px #FFF , 166px 1178px #FFF , 1672px 1238px #FFF , 735px 478px #FFF , 1121px 1922px #FFF , 868px 1683px #FFF , 372px 1312px #FFF , 1947px 1981px #FFF , 395px 1897px #FFF , 723px 1477px #FFF , 959px 42px #FFF , 1805px 185px #FFF , 518px 1158px #FFF , 482px 1367px #FFF , 1484px 186px #FFF , 1798px 1228px #FFF , 681px 1621px #FFF , 1113px 1296px #FFF , 1194px 212px #FFF , 1414px 22px #FFF , 1320px 871px #FFF , 342px 846px #FFF , 1787px 1886px #FFF , 717px 1300px #FFF , 1850px 1128px #FFF , 136px 1850px #FFF , 1977px 1922px #FFF , 831px 1784px #FFF , 645px 1483px #FFF , 1338px 783px #FFF , 367px 1192px #FFF , 1196px 1637px #FFF , 134px 1072px #FFF , 1943px 339px #FFF , 660px 15px #FFF , 998px 1742px #FFF , 1753px 1920px #FFF , 1423px 1602px #FFF , 538px 1346px #FFF , 241px 1710px #FFF , 336px 464px #FFF , 1401px 1929px #FFF , 1440px 425px #FFF , 1648px 598px #FFF , 58px 1745px #FFF , 765px 1395px #FFF , 1034px 675px #FFF , 1168px 1235px #FFF , 62px 1278px #FFF , 274px 1344px #FFF , 860px 1931px #FFF , 201px 147px #FFF , 246px 1957px #FFF , 415px 1752px #FFF , 11px 700px #FFF , 98px 1160px #FFF , 1659px 979px #FFF , 226px 1935px #FFF , 1300px 1783px #FFF , 1968px 519px #FFF , 909px 1220px #FFF , 422px 66px #FFF , 1367px 1402px #FFF , 1735px 948px #FFF , 689px 412px #FFF , 1471px 419px #FFF , 503px 655px #FFF , 1535px 1788px #FFF , 94px 1094px #FFF , 297px 805px #FFF , 828px 1704px #FFF , 1502px 476px #FFF , 1702px 102px #FFF , 601px 467px #FFF , 775px 1407px #FFF , 130px 1712px #FFF , 1459px 259px #FFF , 186px 411px #FFF , 1161px 1782px #FFF , 1591px 1855px #FFF , 330px 910px #FFF , 1302px 1472px #FFF , 1749px 1183px #FFF , 1734px 949px #FFF , 1828px 84px #FFF , 1622px 1852px #FFF , 1334px 1448px #FFF , 549px 58px #FFF , 1620px 156px #FFF , 775px 381px #FFF , 1237px 1157px #FFF , 1646px 1310px #FFF , 1370px 684px #FFF , 1200px 1960px #FFF , 1440px 1634px #FFF , 1500px 144px #FFF , 1502px 1494px #FFF , 285px 1951px #FFF , 126px 684px #FFF , 1220px 1825px #FFF , 400px 7px #FFF , 865px 274px #FFF , 1294px 1166px #FFF , 1967px 722px #FFF , 1793px 11px #FFF , 1909px 588px #FFF , 1393px 1690px #FFF , 1382px 1838px #FFF , 838px 34px #FFF , 1203px 1054px #FFF , 373px 1717px #FFF , 1254px 951px #FFF , 1526px 98px #FFF , 932px 968px #FFF , 1900px 338px #FFF , 779px 830px #FFF , 1808px 1199px #FFF , 765px 173px #FFF , 1348px 1448px #FFF , 1321px 981px #FFF , 781px 252px #FFF , 1609px 1491px #FFF , 201px 1574px #FFF , 1743px 1747px #FFF , 1725px 492px #FFF , 306px 773px #FFF , 284px 1163px #FFF , 1914px 84px #FFF , 660px 447px #FFF , 1210px 488px #FFF , 155px 1604px #FFF , 1365px 1985px #FFF , 1492px 765px #FFF , 1989px 559px #FFF , 1944px 11px #FFF , 1939px 267px #FFF , 477px 442px #FFF , 291px 1338px #FFF , 587px 564px #FFF , 695px 1967px #FFF , 897px 761px #FFF , 248px 798px #FFF , 834px 766px #FFF , 867px 1155px #FFF , 919px 1064px #FFF , 414px 1294px #FFF , 1877px 351px #FFF , 794px 262px #FFF , 673px 920px #FFF , 52px 1328px #FFF , 852px 1957px #FFF , 360px 674px #FFF , 1302px 126px #FFF , 1534px 422px #FFF , 1286px 900px #FFF , 1921px 817px #FFF , 162px 1875px #FFF , 230px 938px #FFF , 968px 978px #FFF , 1041px 529px #FFF , 633px 1373px #FFF , 116px 104px #FFF , 1403px 524px #FFF , 1852px 953px #FFF , 156px 916px #FFF , 734px 1076px #FFF , 1888px 1740px #FFF , 19px 1303px #FFF , 123px 173px #FFF , 942px 1157px #FFF , 564px 1920px #FFF , 1394px 268px #FFF , 591px 718px #FFF , 1670px 557px #FFF , 238px 69px #FFF , 1282px 591px #FFF , 847px 628px #FFF , 287px 688px #FFF , 362px 1225px #FFF , 1922px 1809px #FFF , 1269px 163px #FFF , 1600px 1046px #FFF , 742px 530px #FFF , 1722px 1968px #FFF , 379px 739px #FFF , 1820px 761px #FFF , 135px 1455px #FFF , 624px 836px #FFF , 1507px 1680px #FFF , 1849px 432px #FFF , 665px 1200px #FFF , 851px 1931px #FFF , 152px 1564px #FFF , 1517px 748px #FFF , 1149px 1191px #FFF , 1817px 835px #FFF , 959px 1583px #FFF , 320px 1632px #FFF , 1269px 383px #FFF , 1673px 1516px #FFF , 1382px 1135px #FFF , 446px 492px #FFF , 69px 1658px #FFF , 1821px 1045px #FFF , 116px 1365px #FFF , 121px 619px #FFF , 1968px 240px #FFF , 195px 847px #FFF , 395px 295px #FFF , 819px 1491px #FFF , 1409px 810px #FFF , 1360px 707px #FFF , 483px 1529px #FFF , 1682px 293px #FFF , 453px 123px #FFF , 1124px 832px #FFF , 1209px 46px #FFF , 398px 1967px #FFF , 230px 984px #FFF , 1200px 1011px #FFF , 1922px 99px #FFF , 183px 756px #FFF , 697px 88px #FFF , 1628px 873px #FFF , 74px 1159px #FFF , 811px 287px #FFF , 180px 354px #FFF , 1061px 895px #FFF , 199px 1044px #FFF , 1815px 1664px #FFF , 1177px 66px #FFF , 1600px 1892px #FFF , 449px 993px #FFF , 6px 520px #FFF , 1431px 1227px #FFF , 53px 1928px #FFF , 1150px 50px #FFF , 869px 963px #FFF , 236px 907px #FFF , 1949px 1771px #FFF , 1658px 537px #FFF , 585px 1416px #FFF , 1800px 46px #FFF , 694px 1902px #FFF , 89px 1303px #FFF , 460px 1954px #FFF , 431px 1632px #FFF , 1912px 1463px #FFF , 1121px 1360px #FFF , 1017px 1117px #FFF , 1101px 805px #FFF , 805px 1519px #FFF , 1510px 19px #FFF , 1116px 817px #FFF , 1511px 1143px #FFF , 46px 183px #FFF , 649px 1447px #FFF , 1448px 1042px #FFF , 1784px 628px #FFF , 1954px 92px #FFF , 358px 1074px #FFF , 528px 267px #FFF , 1961px 1677px #FFF , 1969px 432px #FFF , 1596px 407px #FFF , 961px 1278px #FFF , 498px 1575px #FFF , 1905px 2px #FFF , 1115px 216px #FFF , 70px 1670px #FFF , 460px 1999px #FFF , 1461px 952px #FFF , 774px 192px #FFF , 1693px 850px #FFF , 1489px 420px #FFF , 621px 1221px #FFF , 1807px 1570px #FFF , 1484px 1168px #FFF , 1668px 183px #FFF , 1555px 1349px #FFF , 549px 1721px #FFF , 1714px 1425px #FFF , 456px 1682px #FFF , 1843px 1551px #FFF , 499px 360px #FFF , 210px 1517px #FFF , 1857px 15px #FFF , 1841px 1696px #FFF , 1570px 1369px #FFF , 1198px 823px #FFF , 1087px 1319px #FFF , 1565px 1506px #FFF , 313px 1794px #FFF , 1386px 1742px #FFF , 1722px 1568px #FFF , 1950px 214px #FFF , 472px 766px #FFF , 1110px 1235px #FFF , 605px 1836px #FFF , 378px 1597px #FFF , 119px 1650px #FFF , 969px 382px #FFF , 70px 280px #FFF , 68px 1353px #FFF , 1826px 1637px #FFF , 1916px 126px #FFF , 1855px 898px #FFF , 1527px 52px #FFF , 975px 1287px #FFF , 902px 1456px #FFF , 1725px 1677px #FFF , 1218px 269px #FFF , 1553px 848px #FFF , 1583px 915px #FFF , 501px 1122px #FFF , 654px 1838px #FFF , 1890px 290px #FFF , 1124px 746px #FFF , 624px 1160px #FFF , 1173px 696px #FFF , 911px 590px #FFF , 436px 899px #FFF , 1421px 1867px #FFF , 1900px 1931px #FFF , 366px 1837px #FFF , 937px 969px #FFF , 1804px 646px #FFF , 136px 1512px #FFF , 1122px 1703px #FFF , 825px 265px #FFF , 927px 251px #FFF , 637px 792px #FFF , 800px 1190px #FFF , 1947px 1862px #FFF , 1565px 956px #FFF , 100px 779px #FFF , 635px 131px #FFF , 1010px 1361px #FFF , 412px 294px #FFF , 1020px 923px #FFF , 1298px 1437px #FFF , 189px 1598px #FFF , 103px 984px #FFF , 1775px 1774px #FFF , 587px 549px #FFF;
    z-index: 2; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.button {
  border: none;
  outline: none;
  text-transform: uppercase; }

.button-blue {
  background-color: #2fc1db;
  transition: all linear 0.2s;
  cursor: pointer; }
  .button-blue:hover {
    background-color: #25d8f6; }

.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: #7e7e7e;
  margin-left: 0.2rem;
  transition: all linear 0.2s; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@font-face {
  font-family: Beaufort-Regular;
  src: url(../src/font/Beaufort-Regular.ttf); }

@font-face {
  font-family: Spiegel-Regular;
  src: url(../src/font/Spiegel-Regular.ttf); }

@font-face {
  font-family: Spiegel-Bold;
  src: url(../src/font/spiegel-bold.ttf); }

@font-face {
  font-family: FF-Mark-Bold;
  src: url(../src/font/FontFont_FF.Mark.Pro.Bold.otf); }

@font-face {
  font-family: FF-Mark-Medium;
  src: url(../src/font/FontFont_FF.Mark.Pro.Medium.otf); }

@font-face {
  font-family: FF-Mark;
  src: url(../src/font/FontFont_FF.Mark.Pro.otf); }

@font-face {
  font-family: FF-Mark-Hair;
  src: url(../src/font/FontFont_FF.Mark.Pro.Hairline.otf); }

body {
  font-weight: 400;
  line-height: 1.4; }

.container {
  display: grid;
  grid-template-rows: 8rem 0 500px 15rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #2e2e2e;
  overflow: hidden; }

.sub-header {
  grid-column: full-start / full-end;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: 1;
  position: relative; }
  .sub-header .yasuo-heading {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    animation: fadeInOpa linear 1.5s;
    -webkit-animation: fadeInOpa 1.5s;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .sub-header .yasuo-heading .yasuo {
      background-image: linear-gradient(to bottom, #67471f, #cbac62);
      -webkit-background-image: -webkit-linear-gradient(to bottom, #67471f, #cbac62);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 1rem;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-65%, -55%); }
    .sub-header .yasuo-heading .yasuo-round {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transform: translate(140%, -55%);
      background-image: url("../src/img/yasuo.jpg");
      background-position: 87.9835% 31.3808%;
      background-size: 350%;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%; }
      .sub-header .yasuo-heading .yasuo-round::before {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        display: block;
        background-image: linear-gradient(to bottom, rgba(103, 71, 31, 0.7), rgba(203, 172, 98, 0.7));
        -webkit-background-image: -webkit-linear-gradient(to bottom, rgba(103, 71, 31, 0.7), rgba(203, 172, 98, 0.7)); }
      .sub-header .yasuo-heading .yasuo-round__frame {
        width: 5.6rem;
        height: 5.6rem;
        position: absolute;
        display: block;
        top: -0.26rem;
        left: -0.26rem; }

.sub-header-line {
  grid-column: full-start / full-end;
  text-align: center; }
  .sub-header-line__img {
    width: 100%;
    max-width: 130rem;
    z-index: 2;
    transform-origin: center;
    animation: goUp 1s linear, fadeInOpa 1s linear;
    -webkit-animation: goUp 1s linear, fadeInOpa 1s linear;
    position: relative;
    bottom: 2rem; }

.trailer__bg-big,
.trailer__bg-big-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0; }

.trailer {
  grid-column: full-start / full-end;
  position: relative; }
  .trailer__bg-big {
    overflow: hidden;
    z-index: 0;
    filter: blur(0.4rem); }
    .trailer__bg-big-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .trailer__bg-big-overlay {
      background-color: rgba(0, 0, 0, 0.8); }
  .trailer__bg-small {
    width: calc(100% - 12rem);
    max-width: 160rem;
    height: 100%;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%); }
    .trailer__bg-small-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(90%); }
    .trailer__bg-small-canvas {
      border: 1px solid #7e7e7e;
      z-index: 2;
      clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 3rem, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 3rem, 100% 100%, 0 100%);
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .trailer__content {
    width: 50rem;
    text-align: center;
    z-index: 2;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%); }
    .trailer__content-img {
      width: 100%;
      transition: all linear 0.2s; }
    .trailer__content-button {
      min-width: 19.5rem;
      height: 5.6rem;
      padding: 0 4rem;
      margin-top: 1rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      position: relative; }
      .trailer__content-button .play-for-free {
        color: #010101;
        font-family: Spiegel-Bold, Arial, sans-serif;
        font-size: 1.3rem;
        letter-spacing: 0.1rem; }
      .trailer__content-button::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #25d8f6;
        z-index: -1;
        transition: all linear 0.3s;
        animation: changeColorAfterButton linear 0.3s 1s;
        -webkit-animation: changeColorAfterButton linear 0.3s 1s; }
      .trailer__content-button:hover::after {
        transform: scale(1.5);
        opacity: 0; }
      .trailer__content-button .button__canvas {
        border: 2px solid #7e7e7e;
        z-index: 3;
        clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0 100%, 0 2rem);
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.sh-footer {
  grid-column: full-start / full-end;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border-bottom: 1px solid #67471f;
  overflow: hidden;
  position: relative; }
  .sh-footer-text {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #67471f, #cbac62);
    -webkit-background-image: -webkit-linear-gradient(to bottom, #67471f, #cbac62);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%); }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0c0c0c;
  color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: sticky;
  top: -1px;
  left: 0; }
  .main-header__riot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .main-header__riot-logo-svg {
      fill: #f9f9f9;
      transition: all linear 0.2s; }
    .main-header__riot-logo:hover .main-header__riot-logo-svg,
    .main-header__riot-logo:hover .arrow-down-red {
      fill: red; }
  .main-header__lol-symbol {
    margin: 0 2rem;
    position: relative;
    top: 0.2rem;
    cursor: pointer; }
    .main-header__lol-symbol-logo {
      width: 4.2rem;
      height: 3rem; }
  .main-header-about {
    flex: 1;
    display: flex;
    align-items: center;
    height: 3rem; }
    .main-header-about__games {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 3rem;
      cursor: pointer; }
      .main-header-about__games-all {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        font-size: 1.8rem;
        transition: all linear 0.2s; }
      .main-header-about__games .arrow-down-games-all {
        position: relative;
        top: 0.2rem;
        transition: all linear 0.2s; }
    .main-header-about__games:hover .arrow-down-games-all,
    .main-header-about__games:hover .main-header-about__games-all {
      color: red;
      fill: red; }
    .main-header-about__content {
      flex: 1;
      height: 100%; }
      .main-header-about__content-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 100%; }
      .main-header-about__content-item {
        height: 100%;
        transition: all linear 0.2s;
        position: relative; }
        .main-header-about__content-item:hover {
          background-color: #333333;
          border-radius: 0.6rem; }
          .main-header-about__content-item:hover::before {
            transform: scaleX(1); }
          .main-header-about__content-item:hover .more {
            color: #1db2cf; }
        .main-header-about__content-item:last-child:hover .arrow-down-more {
          fill: #1db2cf; }
        .main-header-about__content-item::before {
          content: '';
          background-color: #1db2cf;
          border-radius: 00.2rem;
          position: absolute;
          left: 0;
          bottom: -2rem;
          height: 0.4rem;
          width: 100%;
          z-index: 1;
          transform: scaleX(0);
          transform-origin: left;
          transition: all cubic-bezier(1, 0, 0, 1) 0.4s; }
        .main-header-about__content-item:last-child::before {
          width: 0; }
      .main-header-about__content-link:link, .main-header-about__content-link:visited {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-decoration: none;
        min-width: 8rem;
        height: 100%;
        line-height: 3rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase; }
        .main-header-about__content-link:link .arrow-down-more, .main-header-about__content-link:visited .arrow-down-more {
          margin-left: 0rem;
          position: relative;
          top: 0.4rem; }
  .main-header .find-more {
    position: relative; }
    .main-header .find-more::after {
      content: '';
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: red;
      opacity: 0; }
    .main-header .find-more:hover .list-1 {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0); }
  .main-header .list-1 {
    position: absolute;
    top: 4.6rem;
    left: 0;
    min-width: 21rem;
    min-height: 19rem;
    list-style: none;
    background-color: #171717;
    border-radius: 0.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-top: 0.4rem solid #1db2cf;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1.5rem);
    transition: all linear 0.2s;
    z-index: 10; }
    .main-header .list-1__item {
      display: block; }
      .main-header .list-1__item:hover {
        background-color: #333333;
        border-radius: 0.6rem; }
        .main-header .list-1__item:hover .list-1__link:link,
        .main-header .list-1__item:hover .list-1__link:visited,
        .main-header .list-1__item:hover .list-1__link-icon {
          color: #1db2cf;
          fill: #1db2cf; }
    .main-header .list-1__link:link, .main-header .list-1__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      color: #d9d9d9;
      font-size: 1.3rem;
      text-decoration: none;
      padding: 0.6rem 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      transition: all linear 0.1s; }
    .main-header .list-1__link-icon {
      fill: #7e7e7e;
      width: 2.5rem;
      height: 1.25rem;
      transition: all linear 0.1s; }
    .main-header .list-1__link-icon.universe-icon {
      transform: rotate(45deg); }
  .main-header .list-2.open {
    height: 6.4rem;
    opacity: 1; }
  .main-header .list-2__item.open {
    height: 100%; }
  .main-header .list-2 {
    list-style: none;
    padding: 0 2rem 0.4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
    opacity: 0; }
    .main-header .list-2__item {
      height: 0;
      overflow: hidden; }
    .main-header .list-2__link:link, .main-header .list-2__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      text-decoration: none;
      color: #d9d9d9;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0.6rem;
      transition: all linear 0.1s; }
    .main-header .list-2__link:hover {
      background-color: #171717;
      color: #1db2cf; }
      .main-header .list-2__link:hover .list-2__link-icon {
        fill: #1db2cf; }
    .main-header .list-2__link-icon {
      fill: #7e7e7e;
      width: 1.6rem;
      height: 0.8rem;
      transition: all linear 0.1s; }
  .main-header__play {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-header__play-languages {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .main-header__play-languages:hover .main-header__play-languages-icon {
        fill: #c28f2b; }
      .main-header__play-languages-icon {
        width: 5.25rem;
        height: 2.625rem;
        fill: #f9f9f9;
        transition: all linear 0.2s; }
      .main-header__play-languages:hover .languages-list {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0); }
      .main-header__play-languages .languages-list {
        position: absolute;
        top: 5.6rem;
        left: -8.2rem;
        min-width: 21rem;
        height: 19rem;
        list-style: none;
        background-color: #202020;
        border-radius: 0.6rem;
        padding: 2rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
        pointer-events: none;
        opacity: 0;
        transform: translateX(1.5rem);
        transition: all linear 0.2s;
        z-index: 11; }
        .main-header__play-languages .languages-list::-webkit-scrollbar {
          width: 0.6rem; }
        .main-header__play-languages .languages-list::-webkit-scrollbar-track {
          border-bottom-right-radius: 0.6rem;
          background-color: rgba(255, 255, 255, 0.1); }
        .main-header__play-languages .languages-list::-webkit-scrollbar-thumb {
          background-color: #1db2cf;
          border-top-right-radius: 0.6rem;
          border-bottom-right-radius: 0.6rem;
          box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; }
        .main-header__play-languages .languages-list .languages-item {
          display: block; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link, .main-header__play-languages .languages-list .languages-item .languages-link:visited {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: FF-Mark-Bold, Arial, sans-serif;
            color: #fff;
            font-size: 1.3rem;
            text-decoration: none;
            padding: 0.6rem 1rem;
            letter-spacing: 0.1rem;
            border-radius: 0.6rem;
            transition: all linear 0.1s; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link:hover, .main-header__play-languages .languages-list .languages-item .languages-link:visited:hover {
            background-color: #333333; }
          .main-header__play-languages .languages-list .languages-item .languages-link:link:hover .languages-language,
          .main-header__play-languages .languages-list .languages-item .languages-link:visited:hover .languages-language {
            color: #1db2cf; }
          .main-header__play-languages .languages-list .languages-item .languages-link .languages-language {
            color: inherit; }
            .main-header__play-languages .languages-list .languages-item .languages-link .languages-language.checked {
              color: #1db2cf; }
          .main-header__play-languages .languages-list .languages-item .languages-link .languages-used {
            position: relative;
            top: 0.1rem;
            width: 2rem;
            height: 1rem;
            fill: currentColor;
            color: #1db2cf;
            opacity: 0;
            transition: all linear 0.1s; }
            .main-header__play-languages .languages-list .languages-item .languages-link .languages-used.checked {
              opacity: 1; }
    .main-header__play-sign {
      font-family: FF-Mark-Bold, Arial, sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 0.4rem 1.8rem;
      cursor: pointer;
      border-radius: 0.6rem;
      transition: all linear 0.2s; }
    .main-header__play-sign-in {
      background-color: #282828;
      margin-right: 1.4rem; }
      .main-header__play-sign-in:hover {
        color: #1db2cf; }
    .main-header__play-play-now {
      background-image: linear-gradient(135deg, #0f8ca4 30%, #1db2cf 70%);
      color: #282828;
      filter: brightness(100%);
      transition: all linear 0.2s; }
      .main-header__play-play-now:hover {
        filter: brightness(120%); }

.information {
  grid-column: Full-start / Full-end;
  background-color: #171717;
  position: relative; }
  .information-img-bg {
    width: 100%;
    height: auto; }
    .information-img-bg-img {
      width: 100%;
      height: calc(100% + 10rem);
      filter: blur(1rem); }
    .information-img-bg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.3) 100%, transparent 0); }
  .information-img {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    height: auto; }
    .information-img-img {
      width: 100%;
      height: 56.25vw;
      border-radius: 0.6rem; }
    .information-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.1) 100%, transparent 0); }
    .information-img-text {
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(-10%, -120%);
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1rem;
      color: #f9f9f9;
      text-transform: uppercase;
      letter-spacing: 0.3rem; }
      .information-img-text::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1.4em;
        height: 1px;
        margin-left: 0.5rem;
        background-color: currentcolor; }

.champion-list {
  width: 14rem;
  height: 6rem;
  background-color: transparent;
  color: #f9f9f9;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid currentColor;
  border-radius: 0.6rem;
  cursor: pointer; }
  .champion-list:hover .view-all-champions {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0); }
  .champion-list:hover .champion-list__title {
    color: #07efef; }
  .champion-list__wrap {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .champion-list__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor; }
  .champion-list__title {
    font-family: Spiegel-Bold, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    z-index: 1; }
    .champion-list__title::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.4em;
      height: 1px;
      margin-right: 0.7rem;
      background-color: currentcolor; }
    .champion-list__title::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.4em;
      height: 1px;
      margin-left: 0.5rem;
      background-color: currentcolor; }
  .champion-list .view-all-champions {
    position: absolute;
    width: 16rem;
    height: 50%;
    top: 6.5rem;
    left: -1rem;
    border: 1px solid #f9f9f9;
    border: 1px solid #00cfcf;
    border-radius: 0.6rem;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-3rem);
    transition: all linear 0.2s; }
    .champion-list .view-all-champions__title {
      color: #00cfcf;
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }

.information-yasuo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

.abilities {
  grid-column: Full-start / Full-end;
  background-color: #fff; }

.sb-ag-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none; }
  .sb-ag-container .sb-ag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 201;
    display: flex;
    flex-direction: column; }
    .sb-ag-container .sb-ag-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 8rem;
      padding: 0 3rem; }
      .sb-ag-container .sb-ag-header__ag-back {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
        .sb-ag-container .sb-ag-header__ag-back:hover .sb-ag-header__ag-back-icon,
        .sb-ag-container .sb-ag-header__ag-back:hover .sb-ag-header__ag-back-icon-up {
          fill: red; }
        .sb-ag-container .sb-ag-header__ag-back-icon {
          fill: #f9f9f9;
          transition: all linear 0.2s; }
        .sb-ag-container .sb-ag-header__ag-back-icon-up {
          width: 1.5rem;
          height: 1.5rem;
          fill: #7e7e7e;
          margin-left: 0.2rem;
          transform: rotate(180deg);
          transition: fill linear 0.2s; }
      .sb-ag-container .sb-ag-header__close {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 0.6rem;
        transition: all linear 0.2s;
        cursor: pointer; }
        .sb-ag-container .sb-ag-header__close:hover .sb-ag-header__close-icon {
          fill: red; }
        .sb-ag-container .sb-ag-header__close-icon {
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          fill: #f9f9f9;
          width: 2rem;
          height: 2rem;
          transition: all linear 0.2s; }
    .sb-ag-container .sb-ag-body {
      flex: 1;
      width: 100%;
      padding: 0 3rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between; }
      .sb-ag-container .sb-ag-body__left {
        background-color: #0c0c0c;
        width: 50%;
        padding: 0 0.8rem;
        columns: auto 3;
        column-gap: 1rem; }
        .sb-ag-container .sb-ag-body__left-cover {
          font-size: 1.2rem;
          text-transform: uppercase;
          height: auto;
          padding-bottom: 1.6rem;
          break-inside: avoid; }
        .sb-ag-container .sb-ag-body__left-title {
          font-family: FF-Mark-Medium, Arial, sans-serif;
          color: #d1d1d1;
          background-color: #151515;
          border-radius: 0.6rem;
          padding: 0.8rem 1.6rem;
          margin-bottom: 0.4rem; }
        .sb-ag-container .sb-ag-body__left-link:link, .sb-ag-container .sb-ag-body__left-link:visited {
          display: block;
          font-family: FF-Mark, Arial, sans-serif;
          color: #a8a8a8;
          text-decoration: none;
          padding: 0.8rem 1.6rem;
          margin: 0.4rem 0;
          border-radius: 0.6rem;
          transition: all linear 0.1s; }
        .sb-ag-container .sb-ag-body__left-link:hover {
          background-color: #1b1b1b;
          color: #d1d1d1; }
        .sb-ag-container .sb-ag-body__left-item {
          color: inherit; }
      .sb-ag-container .sb-ag-body__right {
        width: 50%;
        padding: 0 0.8rem; }
        .sb-ag-container .sb-ag-body__right-main {
          width: 100%;
          display: flex;
          gap: 1.6rem; }
        .sb-ag-container .sb-ag-body__right-cover {
          width: 50%;
          cursor: pointer; }
          .sb-ag-container .sb-ag-body__right-cover:hover .sb-ag-body__right-img {
            box-shadow: 0 14px 28px rgba(255, 255, 255, 0.05), 0 10px 10px rgba(255, 255, 255, 0.02); }
        .sb-ag-container .sb-ag-body__right-img-container {
          width: 100%;
          height: fit-content; }
        .sb-ag-container .sb-ag-body__right-img {
          display: block;
          width: 100%;
          max-width: 452px;
          border-radius: 0.6rem;
          box-shadow: 0 1px 3px rgba(151, 151, 151, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .sb-ag-container .sb-ag-body__right-detailed {
          margin-top: 1.6rem; }
        .sb-ag-container .sb-ag-body__right-text-detailed {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.3rem;
          color: #d1d1d1; }

.explore-games-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none; }
  .explore-games-container .explore-games {
    width: 100%;
    min-height: 32rem;
    max-height: 62rem;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column; }
    .explore-games-container .explore-games__header {
      text-transform: uppercase;
      color: #f9f9f9;
      height: 7.2rem;
      padding: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .explore-games-container .explore-games__header-riot {
        margin: 0 1.6rem;
        cursor: pointer; }
        .explore-games-container .explore-games__header-riot-games {
          font-family: FF-Mark-Bold, Arial, sans-serif;
          font-size: 2rem; }
      .explore-games-container .explore-games__header-more {
        margin-right: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .explore-games-container .explore-games__header-more-visit {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.1rem;
          padding: 0.43rem 1.2rem;
          margin-right: 1rem;
          position: relative;
          top: 0.1rem;
          border-radius: 0.6rem;
          transition: background-color linear 0.1s; }
          .explore-games-container .explore-games__header-more-visit:hover {
            background-color: #383838; }
        .explore-games-container .explore-games__header-more-visit, .explore-games-container .explore-games__header-more-close {
          cursor: pointer; }
        .explore-games-container .explore-games__header-more-close {
          width: 2.4rem;
          height: 2.4rem;
          background-color: #383838;
          border-radius: 0.6rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          justify-content: space-around; }
          .explore-games-container .explore-games__header-more-close-icon {
            width: 1.6rem;
            height: 1.6rem;
            fill: #fff; }
    .explore-games-container .explore-games__body {
      flex: 1;
      padding: 0 3.2rem 3.2rem;
      display: grid;
      grid-gap: 0.8rem;
      grid-template-columns: repeat(8, 1fr); }
      .explore-games-container .explore-games__body .egbl-poster:link,
      .explore-games-container .explore-games__body .egbl-poster:visited {
        text-decoration: none; }
      .explore-games-container .explore-games__body .egbl-poster:hover .egbl-poster__poster-img {
        box-shadow: 0 14px 20px rgba(255, 255, 255, 0.05), 0 10px 10px rgba(255, 255, 255, 0.08); }
      .explore-games-container .explore-games__body .egbl-poster__poster-img {
        width: 100%;
        height: auto;
        border-radius: 0.4rem;
        box-shadow: 0 1px 3px rgba(115, 115, 115, 0.12), 0 1px 2px rgba(136, 136, 136, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .explore-games-container .explore-games__body .egbl-poster__description {
        margin-top: 1rem; }
        .explore-games-container .explore-games__body .egbl-poster__description-text {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.1rem;
          color: #d1d1d1; }
      .explore-games-container .explore-games__body .egbl-poster__download {
        fill: #d1d1d1;
        margin-top: 0.8rem;
        display: flex;
        gap: 0.8rem; }
    .explore-games-container .explore-games__body--1 {
      grid-column: span 2; }
    .explore-games-container .explore-games__body--2 {
      grid-column: span 2; }

.scroll {
  grid-column: Full-start / Full-end;
  content: '';
  background-color: pink;
  height: 200rem; }
