*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  overflow-x: hidden;
}

@font-face {
  font-family: Beaufort-Bold;
  src: url(../src/font/Beaufort-Bold.ttf);
}

@font-face {
  font-family: Beaufort-Regular;
  src: url(../src/font/Beaufort-Regular.ttf);
}

@font-face {
  font-family: Spiegel-Regular;
  src: url(../src/font/Spiegel-Regular.ttf);
}

@font-face {
  font-family: Spiegel-Bold;
  src: url(../src/font/spiegel-bold.ttf);
}

@font-face {
  font-family: FF-Mark-Bold;
  src: url(../src/font/FontFont_FF.Mark.Pro.Bold.otf);
}

@font-face {
  font-family: FF-Mark-Medium;
  src: url(../src/font/FontFont_FF.Mark.Pro.Medium.otf);
}

@font-face {
  font-family: FF-Mark;
  src: url(../src/font/FontFont_FF.Mark.Pro.otf);
}

@font-face {
  font-family: FF-Mark-Hair;
  src: url(../src/font/FontFont_FF.Mark.Pro.Hairline.otf);
}

body {
  font-weight: 400;
  line-height: 1.4;

  position: relative;

  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 8rem 0 500px 15rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 9.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  background-color: rgb(46, 46, 46);

  overflow: hidden;

  // 640px
  @media only screen and (max-width: 40em) {
    grid-template-rows: 6rem 0 500px 13.5rem;
  }

  display: none;
}

// 1340px
// @media only screen and (max-width: 83.75em) {
//   bottom: 1.9rem;
// }

// 1240px
// @media only screen and (max-width: 77.5em) {
//   bottom: 2rem;
// }

// 1140px
// @media only screen and (max-width: 71.25em) {
//   bottom: 1.9rem;
// }

// // 1040px
// @media only screen and (max-width: 65em) {
//   bottom: 1.8rem;
// }

// // 940px
// @media only screen and (max-width: 58.75em) {
//   bottom: 1.7rem;
// }

// // 840px
// @media only screen and (max-width: 52.5em) {
//   bottom: 1.6rem;
// }

// // 740px
// @media only screen and (max-width: 46.25em) {
//   bottom: 1.5rem;
// }

// // 640px
// @media only screen and (max-width: 40em) {
//   bottom: 1.4rem;
// }

// // 540px
// @media only screen and (max-width: 33.75em) {
//   bottom: 1.3rem;
// }

// // 440px
// @media only screen and (max-width: 27.5em) {
//   bottom: 1.2rem;
// }

// // 340px
// @media only screen and (max-width: 21.25em) {
//   bottom: 1.1rem;
// }
