.information {
  grid-column: Full-start / Full-end;
  background-color: $color-layer;
  position: relative;

  //background image
  &-img-bg {
    width: 100%;
    height: auto;

    &-img {
      width: 100%;
      height: calc(100% + 10rem);
      filter: blur(1rem);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.3) 100%,
        transparent 0
      );
    }
  }

  // Main image //////////////////////////
  &-img {
    // display: none;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    height: auto;

    &-img {
      width: 100%;
      height: 56.25vw;
      border-radius: 0.6rem;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 20%,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 0
      );
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(-10%, -120%);
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1rem;
      color: $header-text-color;
      text-transform: uppercase;
      letter-spacing: 0.3rem;

      &::after {
        @include line-after;
      }
    }
  }
}

.champion-list {
  width: 14rem;
  height: 6rem;
  background-color: transparent;
  color: $header-text-color;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid currentColor;
  border-radius: 0.6rem;
  cursor: pointer;

  &:hover {
    .view-all-champions {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .champion-list__title {
      color: rgb(7, 239, 239);
    }
  }

  &__wrap {
    height: 100%;
    margin: 0 auto;
    @include flex-align;
    justify-content: space-evenly;
    flex-direction: column;
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor;
  }

  &__title {
    font-family: Spiegel-Bold, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    z-index: 1;

    &::before {
      @include line-before;
    }

    &::after {
      @include line-after;
    }
  }

  .view-all-champions {
    position: absolute;
    width: 16rem;
    height: 50%;
    top: 6.5rem;
    left: -1rem;
    border: 1px solid $header-text-color;
    border: 1px solid rgb(0, 207, 207);
    border-radius: 0.6rem;
    background-color: rgb(44, 44, 44);
    @include flex-around;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-3rem);
    transition: all linear 0.2s;

    &__title {
      color: rgb(0, 207, 207);
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }
  }
}

// Yasuo
.information-yasuo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
