// Config
@import './configuration/config.scss';

// Utility
@import './utility/mixin.scss';
@import './utility/keyframes.scss';
@import './utility/help-functions.scss';
@import './utility/useful.scss';

// Base
@import './base.scss';

// Sub website
@import './subHeader/sub-header.scss';
@import './subHeader/trailer.scss';
@import './subHeader/sh-footer.scss';

// Main website {
// // Main header
@import './main/mainHeader/main.scss';

@import './main/mainHeader/left.scss';
@import './main/mainHeader/center.scss';
@import './main/mainHeader/right.scss';

@import './main/mainHeader/navbar1.scss';
@import './main/mainHeader/navbar2.scss';

@import './main/mainHeader/menu.scss';

// //
@import './main/information.scss';

// //
@import './main/abilities.scss';
// }

// Components
@import './sidebar/sb-all-games.scss';
@import './sidebar/sb-explore-games.scss';

// Test
.scroll {
  grid-column: Full-start / Full-end;
  content: '';
  background-color: pink;
  height: 200rem;
}
