.abilities {
  width: 100%;
  min-height: 65rem;
  background-color: $header-bg-color;
  padding-top: 6rem;
  position: relative;

  @mixin abilities-min-height($width, $min-height) {
    @media only screen and (max-width: $width) {
      min-height: $min-height;
    }
  }
  @include abilities-min-height($px1140, 100rem);
  @include abilities-min-height($px940, 93.6rem);
  @include abilities-min-height($px840, 87.6rem);
  @include abilities-min-height($px740, 82.6rem);
  @include abilities-min-height(40.5em, 84.6rem); // 648px
  @include abilities-min-height($px640, 76.6rem);

  &-icon,
  &__overlay,
  &__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-icon {
    height: calc(100% - 3rem);
    fill: $background-icon-color;
  }

  &__overlay {
    max-width: 160rem;
    @include full-dimension;

    &-text {
      transform: rotate(-90deg) translate(246%, -30%);
      @include text-rotate;

      @media only screen and (max-width: $px640) {
        top: 60%;
        left: -2.2rem;
        transform: rotate(-90deg) translate(286%, -30%);
      }

      &::after {
        @include line-after;
      }
    }
  }

  &__content {
    width: calc(100% - 12rem);
    max-width: 120rem;
    height: 100%;

    @media only screen and (max-width: $px640) {
      width: calc(100% - 6rem);
    }

    &-header {
      color: $header-text-color;

      &-ab {
        font-style: italic;
        font-size: 6rem;
        line-height: 0.8;
        letter-spacing: 0.4rem;
        margin-right: 2rem;
        @include use-font(Beaufort-Bold);

        @mixin header-font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include header-font-size($px1140, 4.6rem);
        @include header-font-size($px840, 4rem);
        @include header-font-size($px640, 3rem);
      }

      @media only screen and (max-width: $px1140) {
        text-align: center;
        margin-top: 4rem;
      }
    }

    &-body {
      width: 100%;
      min-height: 56.25%;
      display: flex;

      @media only screen and (max-width: $px1140) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &-skills {
        flex: 1;
      }

      &-video {
        flex: 1;
        position: relative;
        @include flex-align-center;

        @media only screen and (max-width: $px1140) {
          width: 100%;
          margin-top: 4rem;
          justify-content: space-around;
        }

        &-img,
        &-s {
          width: 100%;
          height: 84%;

          @media only screen and (max-width: $px1140) {
            width: 100%;
          }

          @mixin video-dimension($width, $height) {
            @media only screen and (max-width: $width) {
              height: $height;
            }
          }
          @include video-dimension($px1240, 74%);
          @include video-dimension($px1140, 43rem);
          @include video-dimension($px940, 37rem);
          @include video-dimension($px840, 32rem);
          @include video-dimension($px740, 27rem);
          @include video-dimension($px440, 23rem);
        }

        &-img {
          background-image: url("/src/assets/img/skills/yasuo-samurai.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }

        &-s {
          object-fit: cover;
          -webkit-object-fit: cover;
          object-position: center;
          -webkit-object-position: center;
          transition: all ease 0.24s;
          position: absolute;
        }

        &-overlay {
          width: calc(100% - 2rem);
          height: calc(84% + 2rem);
          border: 1px solid $main-border;
          z-index: 10;
          @include absolute-position(-50%, -50%);

          @media only screen and (max-width: $px1240) {
            height: calc(74% + 2rem);
          }
          @media only screen and (max-width: $px1140) {
            width: calc(100% - 2rem);
            height: calc(100% + 2rem);
          }

          button {
            color: $header-text-color;
            font-size: 1rem;
            padding: 0.6rem 1rem;
            top: 1.8rem;
            right: 1rem;
            position: absolute;
            box-shadow: 0 2px 4px $header-bg-color;
            @include flex-align-center;
            @include use-font(FF-Mark);

            svg {
              fill: $header-text-color;
            }
          }
        }
      }
    }

    &-footer {
      top: 49.5rem;
      @include use-font(Gloria Hallelujah);

      @mixin footer-top($width, $top) {
        @media only screen and (max-width: $width) {
          top: $top;
        }
      }
      @include footer-top($px1140, 85.5rem);
      @include footer-top($px940, 79rem);
      @include footer-top($px840, 74rem);
      @include footer-top($px740, 69rem);
      @include footer-top(40.5em, 71rem); // 648px
      @include footer-top($px640, 64rem);

      &::before {
        width: calc(100% - 10rem);
        height: 1px;
        background-color: $main-border;
        bottom: -5rem;
        @include absolute-position-x-axis;
        @include pseudo-element-features;
      }
    }
  }
}

.ab__skills {
  padding-top: 8rem;
  position: relative;
  justify-content: flex-start;
  @include flex-align-center;

  @media only screen and (max-width: $px1140) {
    padding-top: 4rem;
    justify-content: center;
  }
  @media only screen and (max-width: $px640) {
    padding-top: 3rem;
  }

  &-progress {
    width: 100%;
    height: 1px;
    background-color: $main-border;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include display-responsive($px1140, none);

    &-circle {
      border: 1px solid $color-ab;
      border-radius: 50%;
      transition: all ease 0.4s;
      top: -0.7rem;
      left: calc(100%);
      position: absolute;
      justify-content: center;
      @include square-dimension(1.4rem);
      @include flex-align-center;
    }
  }

  &-skill {
    width: 6rem;
    height: 11rem;
    margin: 0 1.8rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    @include flex-align-center;

    @media only screen and (max-width: $px840) {
      width: 5rem;
    }
    @media only screen and (max-width: $px640) {
      width: 4rem;
      height: 8.6rem;
    }
    @media only screen and (max-width: $px440) {
      margin: 0 0.8rem;
    }

    &:hover {
      .ab__skills-skill-img {
        margin-top: 1.5rem;
        transform: scale(1.05);
      }
      .ab__skills-skill-dot {
        background-color: rgb(203, 165, 95);
      }
    }

    &.active {
      .ab__skills-skill-img {
        margin-top: 1rem;
        outline-offset: 0.5rem;
        outline: 0.1rem solid $color-ab;
        filter: brightness(1);
      }
      .ab__skills-skill-dot {
        background-color: rgb(203, 165, 95);
      }
    }

    &-img {
      width: 100%;
      margin-top: 2rem;
      transition: all ease 0.24s;
      filter: brightness(0.75);
    }

    &-dot {
      border-radius: 50%;
      background-color: rgb(96, 96, 96);
      transition: all ease 0.2s;
      top: 0.3rem;
      position: relative;
      @include square-dimension(0.8rem);

      @media only screen and (max-width: $px1140) {
        display: none;
      }
    }
  }
}

.ab__skills-desc {
  height: 14rem;
  position: relative;

  @mixin desc-height($width, $height) {
    @media only screen and (max-width: $width) {
      height: $height;
    }
  }
  @include desc-height($px640, 16rem);
  @include desc-height($px440, 20rem);

  &-s {
    padding: 4rem 12rem 4rem 4rem;
    transition: all ease 0.3s;
    top: 0;
    left: 0;
    position: absolute;
    @include use-font(Spiegel-Regular);

    @media only screen and (max-width: $px1140) {
      text-align: center;
    }

    @mixin desc-padding($width, $padding) {
      @media only screen and (max-width: $width) {
        padding: $padding;
      }
    }
    @include desc-padding($px1240, 4rem 8rem 4rem 4rem);
    @include desc-padding($px1140, 0 0 4rem);
    @include desc-padding($px940, 0 3rem 4rem);
    @include desc-padding($px840, 0 1rem 4rem);

    &-small {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.2rem;
      @include display-responsive($px1140, none);
    }

    &-big {
      color: $header-text-color;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      margin: 0.6rem 0;
      @include use-font(Spiegel-Bold);
    }

    &-medium {
      font-size: 1.4rem;
      color: $header-navbar-color;
    }
  }

  &-loading {
    @media only screen and (max-width: $px640) {
      @include absolute-position(-50%, -75%);
    }
  }

  &-error {
    flex-direction: column;
    @include flex-align-center;
    @include absolute-position(-50%, -50%);

    @media only screen and (max-width: $px640) {
      @include absolute-position(-50%, -75%);
    }

    img {
      margin-top: 2rem;

      @media only screen and (max-width: $px1140) {
        margin-top: 0;
      }
    }
  }
}
