.footer__1 {
  background-color: rgb(6, 28, 37);
  padding: 1.2rem 0;
  border-top: 1px solid $main-border;
  border-bottom: 1px solid $main-border;
  justify-content: center;
  @include flex-align-center;

  @media only screen and (max-width: $px940) {
    padding: 1.6rem 0;
  }

  &-content {
    width: calc(100% - 12rem);
    max-width: 136rem;
    color: #d1dade;
    justify-content: space-between;
    @include flex-align-center;

    @media only screen and (max-width: $px940) {
      flex-direction: column;
    }
    @media only screen and (max-width: $px640) {
      width: calc(100% - 4rem);
    }

    &--1 {
      flex-shrink: 0;
      font-size: 1.6rem;
      @include use-font(Beaufort-Regular);
    }

    &--2 {
      font-size: 1.2rem;
      text-align: center;
      margin: 0 2rem;
      @include use-font(Spiegel-Regular);

      @media only screen and (max-width: $px940) {
        margin: 0.8rem 0;
      }
    }

    &--3 {
      justify-content: space-around;
      @include flex-align-center;

      & > * {
        cursor: pointer;
        filter: brightness(0.85);
        transition: all ease 0.2s;

        &:hover {
          filter: brightness(1);
        }
      }

      &-AS {
        width: 11rem;
      }
      &-GL {
        width: 14rem;
      }
    }
  }
}

.footer__2 {
  background-color: #292929;
  padding: 2.2rem 0;
  justify-content: center;
  @include flex-align-center;

  @media only screen and (max-width: $px940) {
    padding: 1.6rem 0;
  }

  &-content {
    width: calc(100% - 12rem);
    max-width: 120rem;
    list-style: none;
    justify-content: space-between;
    @include flex-align-center;

    @media only screen and (max-width: $px940) {
      flex-direction: column;
    }

    & > * {
      font-size: 1.3rem;
      @include use-font(FF-Mark);

      @media only screen and (max-width: $px940) {
        margin: 1.2rem 0;
      }
    }

    &-link {
      color: $header-text-color;
      text-decoration: none;
      text-align: center;
      padding: 0.8rem 1.6rem;
      border-radius: 0.6rem;
      transition: all ease 0.2s;
      cursor: pointer;

      @media only screen and (max-width: $px1140) {
        font-size: 1.2rem;
        padding: 0.8rem;
      }

      &:hover {
        background-color: #404040;
      }
    }
  }
}

.footer__3 {
  background-color: #111111;
  flex-direction: column;
  justify-content: center;
  @include flex-align-center;

  &-social {
    min-width: 22rem;
    padding: 2.4rem 0 1rem;
  }

  &-riot {
    padding: 2.4rem 0 2rem;

    &-icon {
      fill: #737373;
    }
  }

  &-copyright {
    max-width: 64rem;
    color: #7e7e7e;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 6rem;
    @include use-font(FF-Mark);

    @media only screen and (max-width: $px340) {
      margin: 0 4rem;
    }
  }

  &-privacy {
    list-style: none;
    padding: 2.4rem 0 2.8rem;
    justify-content: space-between;
    @include flex-align-center;

    @media only screen and (max-width: $px640) {
      flex-direction: column;

      &-item:nth-child(2) {
        margin: 2rem 0;
      }
    }

    &-link,
    &-link:visited,
    &-link:active {
      font-size: 1.3rem;
      color: #fff;
      padding: 0.8rem 1.6rem;
      border-radius: 0.6rem;
      text-decoration: none;
      transition: all linear 0.1s;
      @include use-font(FF-Mark);

      &:hover {
        background-color: #323232;
      }
    }
  }

  &-rating {
    display: flex;
    background-color: #323232;
    padding: 0.8rem 1.2rem;
    margin: 0 2rem 3.6rem;
    border-radius: 0.6rem;

    @media only screen and (max-width: $px440) {
      width: calc(100% - 4rem);
      margin: 0 0 3.6rem;
    }

    &-rate {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      list-style: none;
      margin-left: 1.2rem;

      &-item {
        color: #fff;
        font-size: 1.3rem;
        @include use-font(FF-Mark);

        @mixin rate-font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include rate-font-size($px440, 1.2rem);
        @include rate-font-size($px440, 1.1rem);

        span {
          @include display-responsive($px440, none);
        }
      }
    }
  }
}

.author__techs {
  background-color: #292929;
  padding: 2rem 0;
  justify-content: center;
  @include flex-align-center;

  @media only screen and (max-width: $px940) {
    padding: 1.6rem 0;
  }

  &-list {
    width: calc(100% - 12rem);
    max-width: 70rem;
    list-style: none;
    justify-content: space-between;
    @include flex-align-center;

    @media only screen and (max-width: $px440) {
      width: calc(100% - 8rem);
    }
    @media only screen and (max-width: $px340) {
      width: calc(100% - 4rem);
    }

    svg {
      @include square-dimension(3rem);

      @media only screen and (max-width: $px940) {
        @include square-dimension(2.6rem);
      }
      @media only screen and (max-width: $px440) {
        @include square-dimension(2.2rem);
      }
    }
  }
}

.author__who {
  background-color: #111111;
  padding-bottom: 2.4rem;
  @include use-font(Spiegel-Regular);

  &-contacts {
    padding: 2.4rem 0 1rem;
    max-width: 26.4rem;
    margin: 0 auto;
  }

  &-bio {
    color: #7e7e7e;
    text-align: center;
    margin-top: 0.6rem;
  }

  &-name {
    font-size: 1.4rem;

    @media only screen and (max-width: $px440) {
      font-size: 1.3rem;
    }
  }

  &-quote {
    font-size: 1.2rem;

    @media only screen and (max-width: $px440) {
      font-size: 1.1rem;
    }
  }
}
