.gallery__container {
  width: 100%;
  height: 56vw;
  max-height: 90rem;
  background-color: #0c0c0c;
  position: relative;
  justify-content: center;
  @include flex-align-center;

  @mixin container-height($width, $height) {
    @media only screen and (max-width: $width) {
      height: $height;
    }
  }
  @include container-height($px740, 70vw);
  @include container-height($px540, 80vw);
  @include container-height($px440, 85vw);

  &-sub {
    height: 2vh;
    background-color: #0c0c0c;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    @include display-responsive($px1240, block);
  }
}

.gallery {
  display: grid;
  width: calc(100% - 12rem);
  max-width: 146rem;
  height: 77.78%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  position: relative;

  @mixin gallery-width($width, $width_d, $grid-gap) {
    @media only screen and (max-width: $width) {
      width: $width_d;
      grid-gap: $grid-gap;
    }
  }
  @include gallery-width($px840, calc(100% - 6rem), 0.7rem);
  @include gallery-width($px640, calc(100% - 2rem), 0.4rem);

  &__quote {
    @include text-rotate;
    transform: rotate(-90deg) translate(0, -11rem);

    &::after {
      @include line-after;
    }

    @media only screen and (max-width: $px840) {
      transform: rotate(-90deg) translate(0, -10rem);
    }
    @media only screen and (max-width: $px640) {
      top: unset;
      bottom: -2.2rem;
      transform: unset;
    }
  }

  &__image {
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;

    img {
      object-fit: cover;
      @include full-dimension;
    }

    &:hover {
      transform: scale(1.02);

      .gallery__image-overlay {
        @include show;
      }
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #c4b998;
      transition: all ease 0.2s;
      text-align: center;
      justify-content: center;
      @include flex-align-center;
      @include full-dimension;
      @include absolute-position(-50%, -50%);
      @include hide;

      &-title {
        font-size: 1.1rem;
        color: #d4ccb2;
        letter-spacing: 0.2rem;
        @include use-font(Beaufort-Regular);

        @mixin font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include font-size($px1040, 1rem);
        @include font-size($px640, 0.8rem);
      }
    }

    @mixin image-position($grid-row, $grid-column) {
      grid-row: $grid-row;
      grid-column: $grid-column;
    }
    &--0 {
      @include image-position(4 / span 2, 4 / span 2);
    }
    &--1 {
      @include image-position(1 / span 4, 1 / span 3);
    }
    &--2 {
      @include image-position(1 / span 3, 4 / span 2);
    }
    &--3 {
      @include image-position(1 / span 5, 6 / span 1);
    }
    &--4 {
      @include image-position(1 / span 2, 7 / span 2);
    }
    &--5 {
      @include image-position(5 / span 4, 1 / span 2);
    }
    &--6 {
      @include image-position(5 / span 4, 3 / span 1);
    }
    &--7 {
      @include image-position(6 / span 3, 4 / span 3);
    }
    &--8 {
      @include image-position(3 / span 6, 7 / span 2);
    }
  }
}

.gallery-chosen {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  @include full-dimension;

  &-image {
    margin-top: 10rem;
    @include square-dimension(20rem);
  }
}
