.gallery__container {
  background-color: #0c0c0c;
  padding: 7rem 0;
  position: relative;

  @media only screen and (max-width: $px640) {
    padding: 4rem 0 5rem;
  }

  &-sub {
    width: 100%;
    height: 2rem;
    background-color: #c08389;
    margin: 3.4rem 0 1rem;
    opacity: 0.6;
    position: relative;

    &::after {
      width: 100%;
      height: 1px;
      background-color: #c08389;
      bottom: -1rem;
      opacity: 0.6;
      @include pseudo-element-features;
    }

    @media only screen and (max-width: $px640) {
      margin: 3rem 0 1rem;
    }
  }
}

.gallery__wrapper {
  width: calc(100% - 12rem);
  max-width: 148rem;
  margin: 0 auto;

  @media only screen and (max-width: $px640) {
    width: calc(100% - 2rem);
  }
}

.gallery__title {
  color: $header-text-color;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  @include use-font(Spiegel-Bold);

  &::after {
    @include line-after;
  }

  @media only screen and (max-width: $px1040) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: $px640) {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
  }
  @media only screen and (max-width: $px440) {
    font-size: 1rem;
  }
}

.gallery {
  width: 100%;
  padding-top: 46%;
  position: relative;

  &__loading {
    @include diagonal-wipe-loading($px1040);
  }

  &__error {
    @include img-error-column;
    @include img-error-responsive($px1140, 5.4rem, 1.2rem);
  }

  &__images {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    @include full-dimension;
    @include absolute-position(-50%, -50%);

    @media only screen and (max-width: $px1040) {
      grid-gap: 0.7rem;
    }
    @media only screen and (max-width: $px640) {
      grid-gap: 0.4rem;
    }
  }

  &__image {
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;

    img {
      object-fit: cover;
      @include full-dimension;
    }

    &:hover {
      transform: scale(1.02);

      .gallery__image-overlay {
        @include show;
      }
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #c4b998;
      transition: all ease 0.2s;
      text-align: center;
      justify-content: center;
      @include flex-align-center;
      @include full-dimension;
      @include absolute-position(-50%, -50%);
      @include hide;

      &-title {
        font-size: 1.1rem;
        color: #d4ccb2;
        letter-spacing: 0.2rem;
        @include use-font(Beaufort-Regular);

        @mixin font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include font-size($px1040, 1rem);
        @include font-size($px640, 0.8rem);
        @include font-size($px440, 0.6rem);
      }
    }

    @mixin image-position($grid-row, $grid-column) {
      grid-row: $grid-row;
      grid-column: $grid-column;
    }
    &--0 {
      @include image-position(4 / span 2, 4 / span 2);
    }
    &--1 {
      @include image-position(1 / span 4, 1 / span 3);
    }
    &--2 {
      @include image-position(1 / span 3, 4 / span 2);
    }
    &--3 {
      @include image-position(1 / span 5, 6 / span 1);
    }
    &--4 {
      @include image-position(1 / span 2, 7 / span 2);
    }
    &--5 {
      @include image-position(5 / span 4, 1 / span 2);
    }
    &--6 {
      @include image-position(5 / span 4, 3 / span 1);
    }
    &--7 {
      @include image-position(6 / span 3, 4 / span 3);
    }
    &--8 {
      @include image-position(3 / span 6, 7 / span 2);
    }
  }

  &__quote {
    position: unset;
    margin-top: 6rem;

    @media only screen and (max-width: $px640) {
      margin-top: 4rem;
    }

    .quote-part-who {
      color: #c08389;
    }
  }
}
