.ruined {
  width: 100%;
  background-color: #0c0c0c;
  padding: 6rem 0 7rem;
  position: relative;

  @media only screen and (max-width: $px640) {
    padding: 4rem 0 5rem;
  }

  &__king {
    height: 100%;
    transform: translate(-6rem, -2rem) scale(1.2);
    @include display-responsive($px640, none);

    @mixin king-transform($width, $x-translate, $y-translate, $scale) {
      @media only screen and (max-width: $width) {
        transform: translate($x-translate, $y-translate) scale($scale);
      }
    }
    @include king-transform($px1440, -7rem, -2rem, 1.2);
    @include king-transform($px1340, -8rem, -2rem, 1.2);
    @include king-transform($px1240, -9rem, -2rem, 1.2);
    @include king-transform($px1140, -10rem, -2rem, 1.2);
    @include king-transform($px1040, -11rem, -2rem, 1.2);
    @include king-transform($px940, -12rem, -2rem, 1.2);
    @include king-transform($px840, -13rem, -2rem, 1.2);
    @include king-transform($px740, -14rem, -2rem, 1.2);
    @include king-transform($px640, -15rem, -2rem, 1.2);

    &-veigo {
      height: 100%;
    }

    &-helper {
      transform: translate(-33.5rem, 2.6rem) scale(0.35);
      @include king-transform(43.3125em, 19.8rem, -3.7rem, 0.35); // 693px
      @include king-transform($px640, -33.5rem, 2.6rem, 0.35);
      @include king-transform(38.3125em, 19.8rem, -3.7rem, 0.35); // 613px
    }
  }

  &__banner-cover {
    width: calc(100% - 12rem);
    max-width: 146rem;
    height: 64rem;
    margin: 0 auto 0;
    position: relative;

    @media only screen and (max-width: $px440) {
      width: calc(100% - 4rem);
      height: 60rem;
    }
    @media only screen and (max-width: $px340) {
      width: calc(100% - 4rem);
      height: 46rem;
    }
  }

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 39%;
    height: 20%;
    background-color: rgb(12, 47, 63);
    color: $header-text-color;
    padding-left: 3rem;
    padding-right: 7rem;
    left: -2rem;
    bottom: 0;
    position: absolute;
    @include use-font(Spiegel-Regular);
    @include display-responsive($px840, none);

    @mixin banner-look($width, $height, $padding-left, $padding-right) {
      @media only screen and (max-width: $width) {
        height: $height;
        padding-left: $padding-left;
        padding-right: $padding-right;
      }
    }
    @include banner-look($px1140, 18%, 3rem, 5rem);
    @include banner-look($px1040, 18%, 2.6rem, 4rem);
    @include banner-look($px940, 16%, 2.6rem, 3rem);

    &-title {
      font-size: 2.2rem;
      margin-bottom: 0.6rem;

      @media only screen and (max-width: $px1140) {
        font-size: 2rem;
      }
      @media only screen and (max-width: $px940) {
        font-size: 1.8rem;
      }
    }

    &-desc {
      font-size: 1.4rem;

      @media only screen and (max-width: $px1140) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: $px940) {
        font-size: 1rem;
        @include use-font(Spiegel-Bold);
      }
    }
  }

  &__bg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
    @include full-dimension;
    @include absolute-position(-50%, -50%);

    @mixin bg-clip-path($width, $left) {
      @media only screen and (max-width: $width) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, $left 100%);
      }
    }
    @include bg-clip-path($px840, 26%);
    @include bg-clip-path($px740, 30%);
    @include bg-clip-path($px640, 0);

    &-loading {
      @include diagonal-wipe-loading($px1040);
    }

    &-error {
      @include img-error-column;
      @include img-error-responsive($px1140, 5.4rem, 1.2rem);
    }

    &-image-wrapper {
      @include full-dimension;
      position: relative;
    }

    &-image {
      object-fit: cover;
      background-origin: left;
      @include full-dimension;
    }
  }

  &__bg-border {
    width: calc(100% + 2rem);
    height: calc(100% - 2rem);
    border: 1px solid $main-border;
    pointer-events: none;
    @include absolute-position(-50%, -50%);

    button {
      background-color: #49d8b4;
      pointer-events: all;
      @include absolute-position(-50%, 160%);

      &:hover {
        background-color: #4de5bf;
      }
    }
  }

  .ruined-sub {
    width: 100vw;
    height: 2rem;
    background-color: rgb(12, 47, 63);
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 4.4rem);

    &::after {
      width: 100%;
      height: 1px;
      background-color: inherit;
      bottom: -1rem;
      @include pseudo-element-features;
    }
  }

  &-quote {
    margin-top: 10rem;
    position: relative;

    @media only screen and (max-width: $px640) {
      margin-top: 8rem;
    }

    .quote-part-who {
      color: #2da887;
    }
  }
}
