.skins2 {
  $border-color: #909090;

  width: 100%;
  background-color: $header-bg-color;
  padding: 7rem 0;
  position: relative;

  @media only screen and (max-width: $px640) {
    padding: 3rem 0 5rem;
  }

  &-mobile-slider-header {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05rem;
    margin: 0.4rem 0 2rem;
    display: none;
    @include display-responsive($px1040, block);
    @include use-font(Beaufort-Bold);

    @media only screen and (max-width: $px640) {
      font-size: 2rem;
    }
  }

  &-overlay-text {
    left: 50%;
    transform: rotate(-90deg) translate(40%, -700%);
    @include text-rotate;
    @include display-responsive($px640, none);

    @mixin overlay-text-translate-x($width, $x-translate) {
      @media only screen and (max-width: $width) {
        transform: rotate(-90deg) translate($x-translate, -700%);
      }
    }
    @include overlay-text-translate-x($px1040, 30%);
    @include overlay-text-translate-x($px940, 20%);
    @include overlay-text-translate-x($px840, 10%);

    &::after {
      @include line-after;
    }
  }

  &-imgs {
    width: calc(100% - 12rem);
    max-width: 128rem;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width: $px640) {
      width: 100%;
    }

    &-overlay {
      display: flex;
      flex-direction: column;
      width: 34%;
      width: 41rem;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 10;
      @include display-responsive($px1040, none);
    }
  }

  &-img-wrapper {
    width: 100%;
    padding-top: calc((151.5 / 256 * 100%));
    position: relative;

    .skins2-img-loading {
      @include diagonal-wipe-loading($px1140);
    }

    .skins2-img-error {
      @include img-error-column;

      @media only screen and (max-width: $px1140) {
        img {
          width: 5.4rem;
        }
        button {
          font-size: 1.2rem;
        }
      }
    }

    .skins2-img {
      // As default img --> inline --> so div is longer than img
      display: block;
      width: 100%;
      top: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;

      &.active {
        z-index: 1;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  &-header {
    color: $header-text-color;
    font-size: 4rem;
    text-transform: uppercase;
    font-style: italic;
    line-height: 0.85;
    letter-spacing: 0.05rem;
    margin: 4rem 4rem 0;
    padding: 2rem;
    border-bottom: 0.5px solid $border-color;
    @include use-font(Beaufort-Bold);
  }

  &-slider {
    flex: 1;
    width: calc(100% + 1.5rem);
    top: 0;
    bottom: 0;
    position: relative;
    overflow-y: hidden;

    ul {
      list-style: none;
      transition: all ease 0.4s;
      @include full-dimension;
    }

    li {
      width: 100%;
      height: 10rem;
      padding-left: 6rem;
      transition: all ease 0.4s;

      &:hover .skins2-button:not(.active) {
        filter: brightness(1);

        .skins2-button__image {
          filter: brightness(0.8);
          transform: scale(1.07);
        }
      }
    }
  }

  &-button {
    display: block;
    transition: all ease 0.2s;
    cursor: pointer;
    @include full-dimension;
    @include flex-align-center;

    &:not(.active) {
      filter: brightness(0.6);

      .skins2-button__image {
        margin-left: 2rem;
        @include square-dimension(6rem);
      }
    }

    &.active &__name {
      background-size:
        calc(100% - 2.4rem) 0.3px,
        100% 0.3px,
        0.3px calc(100% - 2.4rem);
      background-position:
        left 0 top 0,
        left 0 bottom 0,
        right 0 bottom 0;

      &::after {
        @include button-border(2.6rem, $border-color);
      }
    }

    &__image {
      object-fit: cover;
      transition: all ease 0.4s;
      @include square-dimension(10rem);
    }

    &__name {
      $lg: linear-gradient($border-color, $border-color);
      flex: 1;
      height: calc(100% - 0.8rem);
      color: #fff;
      line-height: 1.28571;
      letter-spacing: 0.1rem;
      margin-right: 0.4rem;
      position: relative;
      overflow: hidden;
      background: $lg, $lg, $lg;
      background-repeat: no-repeat;
      background-size:
        0 0,
        0 0,
        0 0;
      background-position:
        left 0 top 0,
        left 0 bottom 0,
        right 0 bottom 0;
      transition: background-size ease 0.24s;
      @include use-font(Spiegel-Regular);
      @include flex-align-center;

      &::after {
        top: 0;
        right: 1.1rem;
        @include button-border(0, $border-color);
        transform: skew(45deg) !important;
        width: 0.05rem !important;
        transition: all ease 0.24s !important;
      }

      p {
        margin: 2rem;
        font-size: 1.4rem;
      }
    }
  }

  &-quote {
    position: relative;
    margin-top: 5rem;

    @media only screen and (max-width: $px1040) {
      margin-top: 2rem;
    }
  }
}

.skins2-mobile-slider {
  width: calc(100% - 12rem);
  margin: 0 auto;
  overflow: hidden;
  display: none;

  @media only screen and (max-width: $px1040) {
    display: block;
  }
  @media only screen and (max-width: $px640) {
    width: 100%;
  }

  &__list {
    list-style: none;
    transition: all ease 0.4s;
    flex-wrap: nowrap;
    @include full-dimension;
    @include flex-align-center;
  }

  &__item {
    flex-shrink: 0;
    width: 11rem;
    min-height: 15.6rem;
    padding: 2.5rem 0.5rem;
    cursor: pointer;

    &:not(.active) {
      .skins2-mobile-slider__image,
      .skins2-mobile-slider__name {
        filter: brightness(0.6);
      }
    }

    &.active {
      &:hover .skins2-mobile-slider__image {
        filter: brightness(1);
      }
      .skins2-mobile-slider__image-overlay {
        display: block;
      }
    }

    &:hover {
      .skins2-mobile-slider__image {
        filter: brightness(0.8);
      }
      .skins2-mobile-slider__name {
        filter: brightness(1);
      }
    }
  }

  &__image {
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    transition: all ease 0.24s;
    @include square-dimension(6rem);

    img {
      object-fit: cover;
      transition: all ease 0.24s;
      @include full-dimension;
    }

    &-overlay {
      $border-color: #d0a85c;
      $lg: linear-gradient($border-color, $border-color);
      background: $lg, $lg, $lg, $lg, $lg, $lg;
      background-repeat: no-repeat;
      background-size:
        calc(100% - 1.6rem) 0.9px,
        0.9px calc(100% - 1.6rem),
        100% 0.9px,
        0.9px 100%;
      background-position:
        left 0 top 0,
        right 0 top 1.6rem,
        right 0 bottom 0,
        left 0 bottom 0;
      overflow: hidden;
      display: none;
      @include square-dimension(calc(100% + 0.8rem));
      @include absolute-position(-50%, -50%);

      &::before {
        top: 0;
        right: 0.6rem;
        @include button-border(1.8rem, $border-color);
        width: 1.5px !important;
        transform: skew(45deg) !important;
      }
    }
  }

  &__name {
    width: 100%;
    color: $header-text-color;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.15em;
    margin-top: 1rem;
    transition: all ease 0.2s;
    @include use-font(Spiegel-Regular);
  }
}
