// Fonts
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
// Import loria Hallelujah --> Support many devices

$fonts: (
  Beaufort-Bold: "Beaufort-Bold.ttf",
  Beaufort-Regular: "Beaufort-Regular.ttf",
  Spiegel-Bold: "spiegel-bold.ttf",
  Spiegel-Regular: "Spiegel-Regular.ttf",
  FF-Mark-Bold: "FontFont_FF.Mark.Pro.Bold.otf",
  FF-Mark-Medium: "FontFont_FF.Mark.Pro.Medium.otf",
  FF-Mark: "FontFont_FF.Mark.Pro.otf",
  FF-Mark-Hair: "FontFont_FF.Mark.Pro.Hairline.otf",
);

@each $font-family, $endpoint in $fonts {
  @font-face {
    font-family: $font-family;
    src: url("/src/assets/font/#{$endpoint}");
  }
}

// Colors
$color-primary-dark: #67471f;
$color-primary-light: #d8ae4d;
$color-globe: #c28f2b;
$color-story: #d0a85c;
$color-ab: #ddb05d;

$button-color-blue: #2fc1db;
$button-color-blue-hover: #25d8f6;
$color-button-blue: #1db2cf;
$color-button-blue-dark: #0f8ca4;

$text-color: #010101;
$header-bg-color: #0c0c0c;
$color-layer: #171717;
$color-button-grey: #282828;
$bg-link-header: #333;
$main-border: rgba(255, 255, 255, 0.2);
$arrow-color: #7e7e7e;
$header-navbar-color: #d9d9d9;
$header-text-color: #f9f9f9;

$main-header-riot-logo: rgb(222, 0, 0);

// Prepare for Responsive
// @media only screen and (max-width: $width) {}
$px1340: 83.75em;
$px1240: 77.5em;
$px1140: 71.25em;
$px1040: 65em;
$px940: 58.75em;
$px840: 52.5em;
$px740: 46.25em;
$px640: 40em;
$px540: 33.75em;
$px440: 27.5em;
$px340: 21.25em;

// Utils
$square_05: -0.5rem;
$square_02: -0.2rem;
