.abilities {
  width: 100%;
  min-height: 65rem;
  background-color: $header-bg-color;
  padding-top: 6rem;

  position: relative;

  // 1140px
  @media only screen and (max-width: 71.25em) {
    min-height: 100rem;
  }

  // 940px
  @media only screen and (max-width: 58.75em) {
    min-height: 93.6rem;
  }

  // 840px
  @media only screen and (max-width: 52.5em) {
    min-height: 87.6rem;
  }

  // 740px
  @media only screen and (max-width: 46.25em) {
    min-height: 82.6rem;
  }

  // 648px
  @media only screen and (max-width: 40.5em) {
    min-height: 84.6rem;
  }

  // 640px
  @media only screen and (max-width: 40em) {
    min-height: 75.6rem;
  }

  // 624px
  @media only screen and (max-width: 39em) {
    min-height: 77.6rem;
  }

  &-icon,
  &__overlay,
  &__content {
    @include abs;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-icon {
    height: calc(100% - 3rem);
    fill: rgb(7, 18, 26);
    fill: #0e1922;
    // fill: #0b1b27;
  }

  &__overlay {
    @include dimension100;
    max-width: 160rem;

    &-text {
      @include text-rotate;
      transform: rotate(-90deg) translate(270%, -30%);

      // 640px
      @media only screen and (max-width: 40em) {
        top: 60%;
        left: -2.2rem;
        transform: rotate(-90deg) translate(430%, -30%);
      }

      &::after {
        @include line-after;
      }
    }
  }

  &__content {
    width: calc(100% - 12rem);
    max-width: 120rem;
    height: 100%;

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 6rem);
    }

    &-header {
      color: $header-text-color;
      opacity: 0;
      transform: translateX(40rem);
      transition: all linear 0.4s;

      &.scroll {
        opacity: 1;
        transform: translateX(0);
      }

      &-ab {
        font-family: Beaufort-Bold, serif;
        font-style: italic;
        font-size: 6rem;
        line-height: 0.8;
        letter-spacing: 0.4rem;
        margin-right: 2rem;

        // 1140px
        @media only screen and (max-width: 71.25em) {
          font-size: 4.6rem;
        }

        // 840px
        @media only screen and (max-width: 52.5em) {
          font-size: 4rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          font-size: 3rem;
        }
      }

      // 1140px
      @media only screen and (max-width: 71.25em) {
        text-align: center;
        margin-top: 4rem;
      }
    }

    &-body {
      display: flex;

      width: 100%;
      min-height: 56.25%;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &-skills {
        flex: 1;

        .ab__skills {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          padding-top: 8rem;

          position: relative;

          // 1140px
          @media only screen and (max-width: 71.25em) {
            padding-top: 4rem;
            justify-content: center;
          }

          // 640px
          @media only screen and (max-width: 40em) {
            padding-top: 3rem;
          }

          &-progress {
            width: 100%;
            height: 1px;
            background-color: $main-border;
            z-index: 1;

            position: absolute;
            bottom: 0;
            left: 0;

            // 1140px
            @media only screen and (max-width: 71.25em) {
              display: none;
            }

            &-circle {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 1.4rem;
              height: 1.4rem;
              border: 1px solid $color-ab;
              border-radius: 50%;
              transition: all linear 0.4s;

              position: absolute;
              top: -0.7rem;
              left: 13.7rem;

              &.active {
                .ab__skills-progress-bar {
                  transform-origin: center bottom;
                  animation: fadeInOpa linear 1s forwards;
                }

                .ab__skills-progress-dot {
                  animation: fadeInOpa linear 1s forwards;
                }
              }
            }

            &-bar {
              width: 0.1rem;
              height: 1.6rem;
              background-color: $color-ab;
              transform: translateX(-50%);

              position: absolute;
              top: -1.8rem;
              left: 50%;
            }

            &-dot {
              width: 0.7rem;
              height: 0.7rem;
              background-color: $color-ab;
              border-radius: 50%;
            }
          }

          &-skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            width: 6rem;
            height: 11rem;
            margin: 0 1.8rem;
            cursor: pointer;

            // 840px
            @media only screen and (max-width: 52.5em) {
              width: 5rem;
            }

            // 640px
            @media only screen and (max-width: 40em) {
              width: 4rem;
              height: 8.6rem;
            }

            // 440px
            @media only screen and (max-width: 27.5em) {
              margin: 0 0.8rem;
            }

            &:hover {
              .ab__skills-skill-img {
                margin-top: 1.5rem;
                transform: scale(1.05);
              }

              .ab__skills-skill-dot {
                background-color: rgb(203, 165, 95);
              }
            }

            &.active .ab__skills-skill-img {
              margin-top: 1rem;
              outline-offset: 0.5rem;
              outline: 0.1rem solid $color-ab;
            }

            &-img {
              width: 100%;
              margin-top: 2rem;
              transition: all linear 0.24s;
            }

            &-dot {
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 50%;
              background-color: rgb(96, 96, 96);
              transition: all linear 0.1s;

              position: relative;
              top: 0.3rem;

              // 1140px
              @media only screen and (max-width: 71.25em) {
                display: none;
              }
            }
          }
        }

        .ab__skills-desc {
          height: 14rem;
          position: relative;

          // 640px
          @media only screen and (max-width: 40em) {
            height: 16rem;
          }

          // 440px
          @media only screen and (max-width: 27.5em) {
            height: 20rem;
          }

          &.active .ab__skills-desc-s {
            opacity: 1;
            pointer-events: all;
          }

          &-s {
            font-family: Spiegel-Regular, Arial, sans-serif;
            padding: 4rem 12rem 4rem 4rem;
            transition: all linear 0.3s;

            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
            pointer-events: none;

            // 1240px
            @media only screen and (max-width: 77.5em) {
              padding: 4rem 8rem 4rem 4rem;
            }

            // 1140px
            @media only screen and (max-width: 71.25em) {
              text-align: center;
              padding: 0 0 4rem;
            }

            // 940px
            @media only screen and (max-width: 58.75em) {
              padding: 0 3rem 4rem;
            }

            // 840px
            @media only screen and (max-width: 52.5em) {
              padding: 0 1rem 4rem;
            }

            &-small {
              font-size: 1.2rem;
              color: rgba(255, 255, 255, 0.5);

              // 1140px
              @media only screen and (max-width: 71.25em) {
                display: none;
              }
            }

            &-big {
              font-family: Spiegel-Bold, Arial, sans-serif;
              font-size: 1.8rem;
              letter-spacing: 0.2rem;
              color: $header-text-color;
              margin: 0.6rem 0;
            }

            &-medium {
              font-size: 1.4rem;
              color: $header-navbar-color;
            }
          }
        }
      }

      &-video {
        flex: 1;

        display: flex;
        align-items: center;

        position: relative;

        // 1140px
        @media only screen and (max-width: 71.25em) {
          display: flex;
          justify-content: space-around;

          width: 100%;
          margin-top: 4rem;
        }

        &-img,
        &-s {
          width: 100%;
          height: 84%;
          @include video;

          position: relative;

          @include video-responsive;
        }

        &-s {
          position: absolute;
        }

        &-overlay {
          width: calc(100% - 2rem);
          height: calc(84% + 2rem);
          border: 1px solid $main-border;

          position: relative;
          z-index: 10;

          @include center-absolute;

          // 1240px
          @media only screen and (max-width: 77.5em) {
            height: calc(74% + 2rem);
          }

          // 1140px
          @media only screen and (max-width: 71.25em) {
            width: calc(100% - 2rem);
            height: calc(100% + 2rem);
          }
        }
      }
    }

    &-footer {
      width: 100%;
      font-family: 'Gloria Hallelujah', cursive, Arial, sans-serif;
      color: $header-text-color;
      text-align: center;

      position: absolute;
      top: 49.5rem;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        top: 85.5rem;
      }

      // 940px
      @media only screen and (max-width: 58.75em) {
        top: 79rem;
      }

      // 840px
      @media only screen and (max-width: 52.5em) {
        top: 74rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        top: 69rem;
      }

      // 648px
      @media only screen and (max-width: 40.5em) {
        top: 71rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        top: 63rem;
      }

      // 624px
      @media only screen and (max-width: 39em) {
        top: 65rem;
      }

      &-quote {
        font-size: 2.6rem;
        opacity: 0;
        transition: all linear 0.4s;

        &.scroll {
          opacity: 1;
        }

        // 1140px
        @media only screen and (max-width: 71.25em) {
          font-size: 2.2rem;
        }

        // 840px
        @media only screen and (max-width: 52.5em) {
          font-size: 2rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          font-size: 1.6rem;
        }
      }

      &-who {
        font-size: 1.6rem;
        color: $color-ab;
        margin-top: 2rem;

        // 1140px
        @media only screen and (max-width: 71.25em) {
          font-size: 1.4rem;
        }

        // 840px
        @media only screen and (max-width: 52.5em) {
          font-size: 1.2rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          font-size: 1rem;
          margin-top: 1.4rem;
        }
      }

      &::before {
        content: '';
        width: calc(100% - 10rem);
        height: 1px;
        background-color: $main-border;

        position: absolute;
        left: 50%;
        bottom: -5rem;
        transform: translateX(-50%);
      }
    }
  }
}
