.information {
  height: 84rem;
  background-color: $header-bg-color;

  position: relative;

  // 1240px
  @media only screen and (max-width: 77.5em) {
    height: 85rem;
  }

  // 1140px
  @media only screen and (max-width: 71.25em) {
    height: 92rem;
  }

  // 1096px
  @media only screen and (max-width: 68.5em) {
    height: 96rem;
  }

  // 968px
  @media only screen and (max-width: 60.5em) {
    height: 98rem;
  }

  // 742px
  @media only screen and (max-width: 60.5em) {
    height: 100rem;
  }

  // 654px
  @media only screen and (max-width: 40.875em) {
    height: 106rem;
  }

  // 640px
  @media only screen and (max-width: 40em) {
    height: 98rem;
  }

  // 561px
  @media only screen and (max-width: 35.0625em) {
    height: 102rem;
  }

  // 540px
  @media only screen and (max-width: 33.75em) {
    height: 88rem;
  }

  // 479px
  @media only screen and (max-width: 29.9375em) {
    height: 92rem;
  }

  // 444px
  @media only screen and (max-width: 27.75em) {
    height: 94rem;
  }

  // 422px
  @media only screen and (max-width: 26.375em) {
    height: 96rem;
  }

  // 392px
  @media only screen and (max-width: 26.375em) {
    height: 100rem;
  }

  // 377px
  @media only screen and (max-width: 23.5625em) {
    height: 104rem;
  }

  // 365px
  @media only screen and (max-width: 22.8125em) {
    height: 106rem;
  }

  // 350px
  @media only screen and (max-width: 21.875em) {
    height: 110rem;
  }

  &-img-bg {
    height: 65rem;
    background-image: url('../../src/img/Yasuo.About-Slow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;

    position: relative;

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba($header-bg-color, 1) 2%,
        rgba(0, 0, 0, 0.5) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }
  }

  &-img {
    width: calc(100% - 12rem);
    max-width: $width;
    height: 65rem;

    background-image: url('../../src/img/Yasuo.About.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include abs;
    top: 5.4rem;
    left: 50%;
    transform: translateX(-50%);

    // 740px
    @media only screen and (max-width: 46.25em) {
      background-position: 30% 50%;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 4rem);
      top: 1.6rem;
    }

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba($header-bg-color, 1) 2%,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }

    &-text {
      @include text-rotate;
      transform: rotate(-90deg) translate(70%, -30%);

      &::after {
        @include line-after;
      }
    }
  }
}

.champion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 14rem;
  height: 6rem;
  background-color: transparent;
  color: $header-text-color;
  border: 1px solid currentColor;
  border-radius: 0.6rem;
  cursor: pointer;

  position: absolute;
  top: 3rem;
  right: 3rem;

  // 640px
  @media only screen and (max-width: 40em) {
    width: 10rem;
    height: 24rem;
    background-image: url('../../src/img/information/pngegg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0) invert(1);
    border: none;
    top: 2rem;
    right: 2rem;

    &__icon,
    &__title,
    .view-all-champions {
      display: none;
    }
  }

  // 440px
  @media only screen and (max-width: 27.5em) {
    width: 8rem;
    height: 20rem;
    top: 1.6rem;
    right: 1.6rem;
  }

  &:hover {
    .champion-list__icon {
      fill: rgb(7, 239, 239);
    }

    .champion-list__title {
      color: rgb(7, 239, 239);
    }

    .view-all-champions {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      .champion-list__icon,
      .champion-list__title,
      .view-all-champions {
        display: none;
      }
    }
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor;
    transition: all linear 0.1s;
  }

  &__title {
    font-family: Spiegel-Bold, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: all linear 0.1s;

    &::before {
      @include line-before;
    }

    &::after {
      @include line-after;
    }
  }

  .view-all-champions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 16rem;
    height: 50%;
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(0, 207, 207);
    border-radius: 0.6rem;
    transform: translateY(-3rem);
    transition: all linear 0.2s;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 6.5rem;
    left: -1rem;

    &__title {
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      color: rgb(0, 207, 207);
      text-transform: uppercase;
    }
  }
}

.information-yasuo {
  width: 100%;
  max-width: 110rem;
  z-index: 1;

  @include abs;
  @include fifty-fifty;
  transform: translate(-50%, -20%);

  // 1240px
  @media only screen and (max-width: 77.5em) {
    width: calc(100% - 18rem);
  }

  // 640px
  @media only screen and (max-width: 40em) {
    width: calc(100% - 8rem);
  }

  &__name {
    color: $header-text-color;
    text-align: center;

    &-unforgiven {
      font-family: Spiegel-Regular, Arial, sans-serif;
      font-style: italic;
      font-size: 2.4rem;

      // 1240px
      @media only screen and (max-width: 77.5em) {
        font-size: 2.2rem;
      }

      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 2rem;
      }

      // 840px
      @media only screen and (max-width: 52.5em) {
        font-size: 1.8rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        font-size: 1.6rem;
      }

      // 440px
      @media only screen and (max-width: 33.75em) {
        font-size: 1.4rem;
      }
    }

    &--main {
      display: flex;
      align-items: center;
    }

    &-yasuo {
      font-family: Beaufort-Bold, serif;
      font-style: italic;
      font-size: 11.8rem;
      line-height: 0.8;
      letter-spacing: 0;
      margin-right: 2rem;

      // 1240px
      @media only screen and (max-width: 77.5em) {
        font-size: 10.8rem;
      }

      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 9rem;
      }

      // 840px
      @media only screen and (max-width: 52.5em) {
        font-size: 7rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        font-size: 6rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        font-size: 5rem;
      }
    }
  }

  .main-border__yasuo {
    content: '';
    height: 1px;
    width: 100%;
    background-color: $main-border;

    position: relative;
    top: 2rem;

    @media only screen and (max-width: 77.5em) {
      top: 1.5rem;
    }
  }

  //////////////////////////////////
  &__about {
    display: flex;

    color: $header-text-color;
    padding-top: 3rem;
    @include border-non-top;

    position: relative;
    top: -2.8rem;

    // 1140px
    @media only screen and (max-width: 71.25em) {
      flex-direction: column;
      top: -2.1rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      top: -1.3rem;
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      top: -0.5rem;
    }

    //
    &-characteristic {
      flex: 1;

      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      max-width: 55rem;
      font-family: Spiegel-Regular, Arial, sans-serif;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      text-align: center;
      padding: 6rem;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        max-width: 100%;
        padding: 3rem 12rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        padding-left: 6rem;
        padding-right: 6rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
    }

    &-role {
      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 1rem;
      }

      &-icon {
        width: 6rem;
        height: 6rem;
        fill: $color-story;
        padding-bottom: 1.5rem;
        margin-top: 1rem;

        // 1140px
        @media only screen and (max-width: 71.25em) {
          height: 5rem;
          margin-top: 2rem;
        }
      }

      &-fighter {
        color: $color-story;
      }
    }

    &-difficulty {
      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 1rem;
      }

      &-icon {
        height: 6rem;
        padding-top: 1.2rem;
        padding-bottom: 1.5rem;
        margin-top: 1.5rem;

        // 1140px
        @media only screen and (max-width: 71.25em) {
          height: 5rem;
          margin-top: 2.5rem;
        }

        &--part {
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          background-color: rgb(8, 215, 247);
          transform: skewX(-40deg);

          // 1140px
          @media only screen and (max-width: 71.25em) {
            width: 1.2rem;
            height: 1.2rem;
          }

          &:nth-child(1) {
            position: relative;
            right: -2px;
          }

          &:nth-child(3) {
            position: relative;
            left: -2px;
          }
        }
      }

      &-high {
        color: rgb(208, 168, 92);
      }
    }

    //
    &-story {
      flex: 1;

      max-width: 55rem;
      font-family: Spiegel-Regular, Arial, sans-serif;
      font-size: 1.4rem;
      padding: 6rem;

      position: relative;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        text-align: center;
        max-width: 100%;
        padding: 3rem 12rem 6rem;
      }

      // 940px
      @media only screen and (max-width: 58.75em) {
        padding-left: 10rem;
        padding-right: 10rem;
      }

      // 840px
      @media only screen and (max-width: 52.5em) {
        padding-left: 8rem;
        padding-right: 8rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        padding-left: 6rem;
        padding-right: 6rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        padding-left: 4rem;
        padding-right: 4rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      &::before {
        content: '';
        display: block;

        width: 1px;
        height: 72%;
        background-color: $main-border;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        // 1140px
        @media only screen and (max-width: 71.25em) {
          width: 60%;
          height: 1px;

          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &--dots {
        display: inline-block;

        &.hide {
          display: none;
        }
      }

      &--see-more {
        display: inline-block;
        font-size: 1rem;
        background-color: transparent;
        color: $color-story;
        cursor: pointer;

        &.hide {
          display: none;

          & + .information-yasuo__about-story--more {
            display: block;
          }
        }
      }

      &--more {
        display: none;

        color: rgb(208, 168, 92);
        margin-top: 1rem;

        &-yasuo {
          color: $header-text-color;
        }
      }
    }
  }

  &__plus {
    display: flex;
    text-align: center;
    justify-content: space-around;

    font-family: Spiegel-Regular, Arial, sans-serif;
    font-size: 1.4rem;
    height: 4rem;
    color: $header-text-color;
    padding: 1rem 26rem;
    letter-spacing: 0.2rem;
    @include border-non-top;

    position: relative;
    top: -2.8rem;

    // 1140px
    @media only screen and (max-width: 71.25em) {
      font-size: 1rem;
      padding: 1rem 20rem;
      top: -2.1rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      top: -1.3rem;
    }

    // 940px
    @media only screen and (max-width: 58.75em) {
      padding-left: 16rem;
      padding-right: 16rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      padding-left: 12rem;
      padding-right: 12rem;
    }

    // 740px
    @media only screen and (max-width: 46.25em) {
      padding-left: 6em;
      padding-right: 6em;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      padding-left: 2em;
      padding-right: 2em;
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      top: -0.5rem;
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    &--1 {
      color: $main-border;

      // 440px
      @media only screen and (max-width: 27.5em) {
        display: none;
      }
    }
  }

  &__sub-plus {
    text-align: center;

    position: relative;
    top: -1em;

    // 540px
    @media only screen and (max-width: 33.75em) {
      top: 0;
    }

    &-icon {
      stroke: $main-border;
    }
  }
}
