.information {
  height: 84rem;
  background-color: $header-bg-color;
  position: relative;

  &-img-bg {
    height: 65rem;
    background-image: url('../../src/img/Yasuo.About-Slow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;

    position: relative;

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba($header-bg-color, 1) 2%,
        rgba(0, 0, 0, 0.5) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }
  }

  &-img {
    width: calc(100% - 12rem);
    max-width: $width;
    height: 65rem;
    border-radius: 0.6rem;

    background-image: url('../../src/img/Yasuo.About.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include abs;
    top: 5.4rem;
    left: 50%;
    transform: translateX(-50%);

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba($header-bg-color, 1) 2%,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }

    &-text {
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1rem;
      color: $header-text-color;
      text-transform: uppercase;
      letter-spacing: 0.3rem;

      @include abs;
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(0, -30%);

      &::after {
        @include line-after;
      }
    }
  }
}

.champion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 14rem;
  height: 6rem;
  background-color: transparent;
  color: $header-text-color;
  border: 1px solid currentColor;
  border-radius: 0.6rem;
  cursor: pointer;

  position: absolute;
  top: 3rem;
  right: 3rem;

  &:hover {
    .champion-list__icon {
      fill: rgb(7, 239, 239);
    }

    .champion-list__title {
      color: rgb(7, 239, 239);
    }

    .view-all-champions {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor;
    transition: all linear 0.3s 0.2s;
  }

  &__title {
    font-family: Spiegel-Bold, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: all linear 0.1s;

    &::before {
      @include line-before;
    }

    &::after {
      @include line-after;
    }
  }

  .view-all-champions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 16rem;
    height: 50%;
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(0, 207, 207);
    border-radius: 0.6rem;
    transform: translateY(-3rem);
    transition: all linear 0.2s;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 6.5rem;
    left: -1rem;

    &__title {
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      color: rgb(0, 207, 207);
      text-transform: uppercase;
    }
  }
}

.information-yasuo {
  width: 100%;
  max-width: 110rem;
  z-index: 1;

  @include abs;
  @include fifty-fifty;
  transform: translate(-50%, -20%);

  &__name {
    color: $header-text-color;
    text-align: center;

    &-unforgiven {
      font-family: Spiegel-Regular, sans-serif;
      font-style: italic;
      font-size: 2.4rem;
    }

    &--main {
      display: flex;
      align-items: center;
    }

    &-yasuo {
      font-family: Beaufort-Bold, serif;
      font-style: italic;
      font-size: 11.8rem;
      line-height: 0.8;
      letter-spacing: 0;
      margin-right: 2rem;
    }
  }

  .main-border__yasuo {
    content: '';
    height: 1px;
    width: 100%;
    background-color: $main-border;

    position: relative;
    top: 2rem;
  }

  //////////////////////////////////
  &__about {
    display: flex;

    color: $header-text-color;
    padding-top: 3rem;
    @include border-non-top;

    position: relative;
    top: -2.8rem;

    //
    &-characteristic {
      flex: 1;

      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      max-width: 55rem;
      font-family: Spiegel-Regular;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      text-align: center;
      padding: 6rem;
    }

    &-role {
      &-icon {
        width: 6rem;
        height: 6rem;
        fill: $color-story;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
      }

      &-fighter {
        color: $color-story;
      }
    }

    &-difficulty {
      &-icon {
        height: 6rem;
        padding-top: 1.2rem;
        padding-bottom: 1.5rem;
        margin-top: 1.5rem;

        &--part {
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          background-color: rgb(8, 215, 247);
          transform: skewX(-40deg);

          &:nth-child(1) {
            position: relative;
            right: -2px;
          }

          &:nth-child(3) {
            position: relative;
            left: -2px;
          }
        }
      }

      &-high {
        color: rgb(208, 168, 92);
      }
    }

    //
    &-story {
      flex: 1;

      max-width: 55rem;
      font-family: Spiegel-Regular, sans-serif;
      font-size: 1.4rem;
      padding: 6rem;

      position: relative;

      &::before {
        content: '';
        display: block;

        width: 1px;
        height: 72%;
        background-color: $main-border;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &--dots {
        display: inline-block;

        &.hide {
          display: none;
        }
      }

      &--see-more {
        display: inline-block;
        font-size: 1rem;
        background-color: transparent;
        color: $color-story;
        cursor: pointer;

        &.hide {
          display: none;

          & + .information-yasuo__about-story--more {
            display: block;
          }
        }
      }

      &--more {
        display: none;

        color: rgb(208, 168, 92);
        margin-top: 1rem;

        &-yasuo {
          color: $header-text-color;
        }
      }
    }
  }

  &__plus {
    display: flex;
    text-align: center;
    justify-content: space-around;

    font-family: Spiegel-Regular, Arial, sans-serif;
    font-size: 1.4rem;
    height: 4rem;
    color: $header-text-color;
    padding: 1rem 26rem;
    letter-spacing: 0.2rem;
    @include border-non-top;

    position: relative;
    top: -2.8rem;

    &--1 {
      color: $main-border;
    }
  }

  &__sub-plus {
    text-align: center;

    position: relative;
    top: -1em;

    &-icon {
      stroke: $main-border;
    }
  }
}
