.information {
  height: 100rem;
  background-color: $header-bg-color;

  position: relative;

  &-img-bg {
    height: 65rem;
    background-image: url('../../src/img/Yasuo.About-Slow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;

    position: relative;

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0.5) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }
  }

  &-img {
    width: calc(100% - 12rem);
    max-width: $width;
    height: 65rem;
    border-radius: 0.6rem;

    background-image: url('../../src/img/Yasuo.About.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include abs;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);

    &-overlay {
      @include dimension100;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 0
      );

      @include abs;
      @include zero-zero;
    }

    &-text {
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1rem;
      color: $header-text-color;
      text-transform: uppercase;
      letter-spacing: 0.3rem;

      @include abs;
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(0, -30%);

      &::after {
        @include line-after;
      }
    }
  }
}

.champion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 14rem;
  height: 6rem;
  background-color: transparent;
  color: $header-text-color;
  border: 1px solid currentColor;
  border-radius: 0.6rem;
  cursor: pointer;

  position: absolute;
  top: 3rem;
  right: 3rem;

  &:hover {
    .champion-list__icon {
      fill: rgb(7, 239, 239);
    }

    .champion-list__title {
      color: rgb(7, 239, 239);
    }

    .view-all-champions {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor;
    transition: all linear 0.3s 0.2s;
  }

  &__title {
    font-family: Spiegel-Bold, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: all linear 0.1s;

    &::before {
      @include line-before;
    }

    &::after {
      @include line-after;
    }
  }

  .view-all-champions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 16rem;
    height: 50%;
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(0, 207, 207);
    border-radius: 0.6rem;
    transform: translateY(-3rem);
    transition: all linear 0.2s;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 6.5rem;
    left: -1rem;

    &__title {
      font-family: Spiegel-Bold, Arial, sans-serif;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      color: rgb(0, 207, 207);
      text-transform: uppercase;
    }
  }
}

.information-yasuo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
