// Main
.main-header {
  // Part 1
  &__riot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-svg {
      fill: $header-text-color;
      transition: all linear 0.2s;
    }

    &:hover &-svg,
    &:hover .arrow-down-red {
      fill: red;
    }
  }

  // Part 2
  &__lol-symbol {
    margin: 0 2rem;
    // margin-right: auto;
    position: relative;
    top: 0.2rem;
    cursor: pointer;

    &-logo {
      width: 4.2rem;
      height: 3rem;
    }
  }

  &-about {
    flex: 1;
    display: flex;
    align-items: center;
    height: 3rem;

    &__games {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 3rem;
      cursor: pointer;

      &-all {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        font-size: 1.8rem;
        transition: all linear 0.2s;
      }

      .arrow-down-games-all {
        position: relative;
        top: 0.2rem;
        transition: all linear 0.2s;
      }
    }

    &__games:hover .arrow-down-games-all,
    &__games:hover &__games-all {
      color: red;
      fill: red;
    }

    &__content {
      flex: 1;
      height: 100%;

      &-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 100%;
      }

      &-item {
        height: 100%;
        transition: all linear 0.2s;
        position: relative;

        &:hover {
          background-color: $color-link-header;
          border-radius: 0.6rem;

          &::before {
            transform: scaleX(1);
          }

          .more {
            color: $color-button-blue;
          }
        }

        &:last-child:hover {
          .arrow-down-more {
            fill: $color-button-blue;
          }
        }

        &::before {
          content: '';
          background-color: $color-button-blue;
          border-radius: 00.2rem;
          position: absolute;
          left: 0;
          bottom: -2rem;
          height: 0.4rem;
          width: 100%;
          z-index: 1;
          transform: scaleX(0);
          transform-origin: left;
          transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
        }

        &:last-child::before {
          width: 0;
        }
      }

      &-link:link,
      &-link:visited {
        font-family: FF-Mark-Bold, Arial, sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-decoration: none;
        min-width: 8rem;
        height: 100%;
        line-height: 3rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase;

        .arrow-down-more {
          margin-left: 0rem;
          position: relative;
          top: 0.4rem;
        }
      }
    }
  }

  //Part 2 Layer 1
  .find-more {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: red;
      opacity: 0;
    }

    &:hover {
      .list-1 {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  .list-1 {
    position: absolute;
    top: 4.6rem;
    left: 0;
    min-width: 21rem;
    min-height: 19rem;
    list-style: none;
    background-color: $color-layer;
    border-radius: 0.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-top: 0.4rem solid $color-button-blue;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1.5rem);
    transition: all linear 0.2s;
    z-index: 10;

    &__item {
      display: block;

      &:hover {
        background-color: $color-link-header;
        border-radius: 0.6rem;

        & .list-1__link:link,
        & .list-1__link:visited,
        & .list-1__link-icon {
          color: $color-button-blue;
          fill: $color-button-blue;
        }
      }
    }

    &__link:link,
    &__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      color: rgb(217, 217, 217);
      font-size: 1.3rem;
      text-decoration: none;
      padding: 0.6rem 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      transition: all linear 0.1s;
    }

    &__link-icon {
      fill: $arrow-color;
      width: 2.5rem;
      height: 1.25rem;
      transition: all linear 0.1s;
    }

    &__link-icon.universe-icon {
      transform: rotate(45deg);
    }
  }

  //Part 2 Layer 2
  .list-2.open {
    height: 6.4rem;
    opacity: 1;
  }

  .list-2__item.open {
    height: 100%;
  }

  .list-2 {
    list-style: none;
    padding: 0 2rem 0.4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
    opacity: 0;

    &__item {
      height: 0;
      overflow: hidden;
    }

    &__link:link,
    &__link:visited {
      display: block;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      text-decoration: none;
      color: rgb(217, 217, 217);
      font-size: 1rem;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0.6rem;
      transition: all linear 0.1s;
    }

    &__link:hover {
      background-color: $color-layer;
      color: $color-button-blue;

      .list-2__link-icon {
        fill: $color-button-blue;
      }
    }

    &__link-icon {
      fill: $arrow-color;
      width: 1.6rem;
      height: 0.8rem;
      transition: all linear 0.1s;
    }
  }

  // Part 3 ////////////////////////////////////////////////////
  &__play {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-languages {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      &:hover &-icon {
        fill: $color-small-lol-logo;
      }

      &-icon {
        width: 5.25rem;
        height: 2.625rem;
        fill: $header-text-color;
        transition: all linear 0.2s;
      }

      &:hover .languages-list {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0);
      }

      // Earth
      .languages-list {
        position: absolute;
        top: 5.6rem;
        left: -8.2rem;
        min-width: 21rem;
        height: 19rem;
        list-style: none;
        background-color: #202020;
        border-radius: 0.6rem;
        padding: 2rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
        pointer-events: none;
        opacity: 0;
        transform: translateX(1.5rem);
        transition: all linear 0.2s;
        z-index: 11;

        // https://codepen.io/zkreations/pen/bZRgqd
        &::-webkit-scrollbar {
          width: 0.6rem;
        }

        &::-webkit-scrollbar-track {
          border-bottom-right-radius: 0.6rem;
          background-color: rgba(255, 255, 255, 0.1);
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-button-blue;
          border-top-right-radius: 0.6rem;
          border-bottom-right-radius: 0.6rem;
          box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
        }
        // ///////

        .languages-item {
          display: block;

          .languages-link {
            &:link,
            &:visited {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-family: FF-Mark-Bold, Arial, sans-serif;
              color: #fff;
              font-size: 1.3rem;
              text-decoration: none;
              padding: 0.6rem 1rem;
              letter-spacing: 0.1rem;
              border-radius: 0.6rem;
              transition: all linear 0.1s;
            }

            &:link:hover,
            &:visited:hover {
              background-color: $color-link-header;
            }

            &:link:hover .languages-language,
            &:visited:hover .languages-language {
              color: $color-button-blue;
            }

            .languages-language {
              color: inherit;

              &.checked {
                color: $color-button-blue;
              }
            }

            .languages-used {
              position: relative;
              top: 0.1rem;
              width: 2rem;
              height: 1rem;
              fill: currentColor;
              color: $color-button-blue;
              opacity: 0;
              transition: all linear 0.1s;

              &.checked {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &-sign {
      font-family: FF-Mark-Bold, Arial, sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 0.4rem 1.8rem;
      cursor: pointer;
      border-radius: 0.6rem;
      transition: all linear 0.2s;
    }

    &-sign-in {
      background-color: $color-button-grey;
      margin-right: 1.4rem;

      &:hover {
        color: $color-button-blue;
      }
    }

    &-play-now {
      background-image: linear-gradient(
        135deg,
        $color-button-blue-dark 30%,
        $color-button-blue 70%
      );
      color: $color-button-grey;
      filter: brightness(100%);
      transition: all linear 0.2s;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}
