.skins {
  width: 100%;
  height: 100rem;
  background-color: $header-bg-color;

  // 1240px
  @media only screen and (max-width: 77.5em) {
    height: 90rem;
  }

  // 1140px
  @media only screen and (max-width: 71.25em) {
    height: 85rem;
  }

  // 1040px
  @media only screen and (max-width: 65em) {
    height: 80rem;
  }

  // 940px
  @media only screen and (max-width: 58.75em) {
    height: 75rem;
  }

  // 840px
  @media only screen and (max-width: 52.5em) {
    height: 70rem;
  }

  // 740px
  @media only screen and (max-width: 46.25em) {
    height: 62rem;
  }

  // 640px
  @media only screen and (max-width: 40em) {
    height: 96rem;
  }

  // 440px
  @media only screen and (max-width: 27.5em) {
    height: 86rem;
  }

  position: relative;

  &_container {
    width: calc(100% - 12rem);
    @include skins_container;

    @include center-absolute;

    // 740px
    @media only screen and (max-width: 46.25em) {
      width: calc(100% - 8rem);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 6rem);
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      width: calc(100% - 4rem);
    }

    &__header {
      text-align: center;

      position: absolute;
      top: -5.6rem;
      @include center_from_left;

      // 1040px
      @media only screen and (max-width: 65em) {
        top: -4.6rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        top: -4.4rem;
      }

      // 540px
      @media only screen and (max-width: 33.75em) {
        top: -5.6rem;
      }

      &-logo {
        width: 1.8rem;

        // 1040px
        @media only screen and (max-width: 65em) {
          width: 1.4rem;
        }

        &.dingdong {
          animation: skinChosen linear 0.4s;
        }
      }

      &-title {
        font-family: Beaufort-Regular, Arial, sans-serif;
        font-size: 2.4rem;
        color: #c4b998;
        letter-spacing: 0.7rem;

        &.scroll {
          animation: spacingExpanding linear 0.4s;
        }

        // 1040px
        @media only screen and (max-width: 65em) {
          font-size: 2rem;
        }

        // 740px
        @media only screen and (max-width: 46.25em) {
          font-size: 1.8rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          font-size: 1.6rem;
        }
      }
    }
  }

  &_images {
    width: calc(100% - 8rem);
    max-width: 136rem;
    height: 65rem;

    position: absolute;
    top: 5rem;
    @include center_from_left;

    overflow: hidden;

    // 1240px
    @media only screen and (max-width: 77.5em) {
      height: 55rem;
    }

    // 1140px
    @media only screen and (max-width: 71.25em) {
      height: 50rem;
    }

    // 1040px
    @media only screen and (max-width: 65em) {
      width: calc(100% - 6rem);
      height: 45rem;
    }

    // 940px
    @media only screen and (max-width: 58.75em) {
      height: 40rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      height: 35rem;
    }

    // 740px
    @media only screen and (max-width: 46.25em) {
      height: 30rem;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      display: none;
    }

    &__slider.scale {
      animation: skinScale linear 0.1s 0.4s;
    }
  }

  .skins_images__slider,
  .skins_images-mobile__slider {
    @include dimension100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all linear 0.4s;

    position: absolute;
    @include zero-zero;
  }

  &_images-mobile {
    width: calc(100% - 2rem);
    height: 75rem;

    position: absolute;
    top: 2.5rem;
    @include center_from_left;

    overflow: hidden;
    display: none;

    // 640px
    @media only screen and (max-width: 40em) {
      display: block;
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      height: 65rem;
    }
  }

  &_overlay {
    width: 100%;
    @include skins_container;
    background-color: transparent;
    border-bottom: 1px solid #423a26;

    position: absolute;

    &__mobile {
      width: 100%;
      height: 10rem;
      background-image: linear-gradient(
        to top,
        #000 60%,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 0
      );

      position: absolute;
      bottom: 0;

      display: none;

      // 640px
      @media only screen and (max-width: 40em) {
        display: block;
      }

      &-name {
        min-width: 28rem;
        font-family: Beaufort-Regular, Arial, sans-serif;
        font-size: 1.6rem;
        color: #c4b998;
        letter-spacing: 0.5rem;
        text-align: center;
        animation: fadeInOpa linear 0.4s;

        position: absolute;
        bottom: 2rem;
        @include center_from_left;

        // 440px
        @media only screen and (max-width: 27.5em) {
          min-width: 24rem;
        }
      }

      &-control {
        display: flex;
        justify-content: space-between;

        width: 100%;
        height: 6.4rem;
        padding: 0 2rem;

        position: absolute;
        bottom: 0;

        // 540px
        @media only screen and (max-width: 33.75em) {
          padding: 0;
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: all linear 0.1s;
        cursor: pointer;

        // 540px
        @media only screen and (max-width: 33.75em) {
          width: 5rem;
        }

        &:active {
          transform: scale(0.95);

          // 540px
          @media only screen and (max-width: 33.75em) {
            transform: scale(0.8);
          }
        }
      }

      &-text {
        font-size: 1rem;
        color: #d3c7aa;
        letter-spacing: 0.2rem;

        position: relative;

        // 540px
        @media only screen and (max-width: 33.75em) {
          display: none;
        }

        &--previous {
          left: -0.2rem;
        }

        &--next {
          right: -0.2rem;
        }
      }

      &-arrow {
        width: 2.4rem;
        height: 2.4rem;
        fill: #c4b998;

        // 540px
        @media only screen and (max-width: 33.75em) {
          width: 3rem;
          height: 3rem;
        }

        &--left {
          transform: rotate(90deg);

          // 540px
          @media only screen and (max-width: 33.75em) {
            margin-left: 1rem;
          }
        }

        &--right {
          transform: rotate(-90deg);

          // 540px
          @media only screen and (max-width: 33.75em) {
            margin-right: 1rem;
          }
        }
      }
    }

    &__container--big {
      width: 88%;
      height: 17.5rem;
      background-color: #131315;
      border: 1px solid #423a26;

      position: absolute;
      bottom: 5rem;
      @include center_from_left;

      // 1240px
      @media only screen and (max-width: 77.5em) {
        height: 15.5rem;
        bottom: 5rem;
      }

      // 1140px
      @media only screen and (max-width: 71.25em) {
        height: 13.5rem;
        bottom: 5.5rem;
      }

      // 940px
      @media only screen and (max-width: 58.75em) {
        height: 11.5rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        width: 85%;
        height: 8.5rem;
        bottom: 4.6rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        display: none;
      }
    }

    &__container--small {
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      background-color: #131315;
      border: 1px solid #423a26;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // 940px
      @media only screen and (max-width: 58.75em) {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
      }
    }

    &__about {
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
      background-color: #131315;
      border: 1px solid #c4b998;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // 940px
      @media only screen and (max-width: 58.75em) {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
      }

      & > div {
        float: left;
        font-family: Beaufort-Regular, Arial, Helvetica, sans-serif;
        letter-spacing: 0.2rem;
      }

      &-logo {
        @include center_with_flex;

        width: 13%;
        height: 100%;

        // 840px
        @media only screen and (max-width: 52.5em) {
          display: none;
        }

        &-fighter {
          width: auto;
          max-height: 70%;

          // 1240px
          @media only screen and (max-width: 77.5em) {
            max-height: 60%;
          }
        }
      }

      &-who {
        @include center_with_flex;

        width: 39%;
        height: 100%;
        border-left: 1px solid #c4b998;
        border-right: 1px solid #c4b998;

        // 840px
        @media only screen and (max-width: 52.5em) {
          width: 44%;
        }

        // 740px
        @media only screen and (max-width: 46.25em) {
          width: 69%;
        }

        &-name {
          font-size: 1.8rem;
          color: #d3c7aa;
          margin: 0 4rem;
          text-align: center;
          animation: fadeInOpa linear 0.4s;

          // 1040px
          @media only screen and (max-width: 65em) {
            font-size: 1.4rem;
          }

          // 840px
          @media only screen and (max-width: 52.5em) {
            font-size: 1.2rem;
          }
        }
      }

      &-more {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 21%;
        height: 100%;
        font-size: 1.1rem;
        border-right: 1px solid #c4b998;

        // 840px
        @media only screen and (max-width: 52.5em) {
          width: 25%;
        }

        // 740px
        @media only screen and (max-width: 46.25em) {
          display: none;
        }

        &-item {
          flex: 1;

          @include center_with_flex;

          width: 100%;
          font-size: 1.1rem;
          color: #d3c7aa;
        }

        &-price--separate {
          margin: 0 0.4rem;
        }

        &-sell {
          border-top: 1px solid #c4b998;

          .skin-ordered-number {
            font-size: 1.4rem;
            color: #c4b998;
          }
        }
      }

      &-explore {
        @include center_with_flex;

        width: 27%;
        height: 100%;

        // 1040px
        @media only screen and (max-width: 65em) {
          justify-content: flex-start;
        }

        // 840px
        @media only screen and (max-width: 52.5em) {
          width: 31%;
        }

        // 740px
        @media only screen and (max-width: 46.25em) {
          justify-content: center;
        }

        &-btn {
          font-family: inherit;
          font-size: 1.5rem;
          letter-spacing: 0.5rem;
          background-color: transparent;
          color: #b59758;
          padding: 2rem 2.4rem;
          transition: all linear 0.1s;
          cursor: pointer;

          position: relative;

          // 1040px
          @media only screen and (max-width: 65em) {
            font-size: 1.3rem;
          }

          // 840px
          @media only screen and (max-width: 52.5em) {
            padding-left: 1.6rem;
          }

          // 740px
          @media only screen and (max-width: 46.25em) {
            font-size: 1.1rem;
            padding: 0;
          }

          &:hover {
            color: #d3c7aa;

            .skins_overlay__about-explore-btn-arrow--main {
              right: -3rem;
              @include hide;
            }

            .skins_overlay__about-explore-btn-arrow--sub {
              right: 0;
              @include show;
            }
          }

          &-arrow {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-40%);
            transition: all linear 0.2s;

            // 740px
            @media only screen and (max-width: 46.25em) {
              display: none;
            }

            &--sub {
              right: 3rem;
              @include hide;

              // 740px
              @media only screen and (max-width: 46.25em) {
                display: none;
              }
            }
          }
        }
      }
    }

    .skins-btn {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      position: relative;

      // 640px
      @media only screen and (max-width: 40em) {
        display: none;
      }

      &:hover {
        .btn__circle--big {
          transform: scale(1.05);
        }

        .skins-btn-text {
          letter-spacing: 0.4rem;
        }
      }

      &:active .btn__circle--small {
        transform: scale(0.95);
      }

      &-logo {
        width: 5.6rem;
        height: 5.6rem;

        // 1040px
        @media only screen and (max-width: 65em) {
          width: 4.6rem;
          height: 4.6rem;
        }

        // 740px
        @media only screen and (max-width: 46.25em) {
          width: 4rem;
          height: 4rem;
        }
      }

      &-text {
        font-family: Spiegel-Bold, Arial, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        color: #d3c7aa;
        transition: all linear 0.1s;

        position: absolute;
        bottom: -1.2rem;
        @include center_from_left;

        // 740px
        @media only screen and (max-width: 46.25em) {
          display: none;
        }

        &::after {
          content: '';
          width: 4.6rem;
          height: 1rem;

          position: absolute;
          top: -1rem;
          @include center_from_left;
        }
      }
    }

    .btn__circle--big,
    .btn__circle--small {
      transform-origin: center;
      transition: all linear 0.1s;
    }

    .skins-btn__left {
      position: absolute;
      left: -3.2rem;
      @include center_from_top;

      // 740px
      @media only screen and (max-width: 46.25em) {
        left: -2.4rem;
      }
    }

    .skins-btn__right {
      position: absolute;
      right: -3.2rem;
      @include center_from_top;

      // 740px
      @media only screen and (max-width: 46.25em) {
        right: -2.4rem;
      }
    }

    &__border-above {
      width: 32%;
      height: 0.1rem;
      background-color: #423a26;

      position: absolute;

      // 1240px
      @media only screen and (max-width: 77.5em) {
        width: 30%;
      }

      // 940px
      @media only screen and (max-width: 58.75em) {
        width: 28%;
      }

      // 840px
      @media only screen and (max-width: 52.5em) {
        width: 24%;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        width: 20%;
      }

      &::after {
        @include square-border;
      }

      &--tl {
        top: 0;
        left: 0;

        &::after {
          right: $square_05;
          bottom: $square_02;
        }
      }

      &--tr {
        top: 0;
        right: 0;

        &::after {
          left: $square_05;
          bottom: $square_02;
        }
      }
    }

    &__border {
      width: 0.1rem;
      height: 30%;
      background-color: #423a26;

      position: absolute;

      &::after {
        @include square-border;
      }

      &--tl {
        top: 0;
        left: 0;

        &::after {
          left: $square_02;
          bottom: $square_05;
        }
      }

      &--tr {
        top: 0;
        right: 0;

        &::after {
          left: $square_02;
          bottom: $square_05;
        }
      }

      &--bl {
        left: 0;
        bottom: 0;

        &::after {
          top: $square_05;
          left: $square_02;
        }
      }

      &--br {
        right: 0;
        bottom: 0;

        &::after {
          top: $square_05;
          left: $square_02;
        }
      }
    }
  }

  &-ruined {
    display: flex;
    justify-content: center;

    width: 100%;

    position: absolute;
    bottom: 2.4rem;

    &__coming {
      font-family: 'Gloria Hallelujah', cursive, Arial, sans-serif;
      font-size: 2.4rem;
      color: #f9f9f9;
      opacity: 0;
      transition: all linear 0.4s;

      &.scroll {
        opacity: 1;
      }

      // 1040px
      @media only screen and (max-width: 65em) {
        font-size: 2rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        font-size: 1.6rem;
      }
    }
  }
}
