doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Yasuo' content='Get to know Yasuo better')
    meta(name='description' content='Learn about Yasuo, the King of All Kings in League of Legends.')
    meta(name='keywords' content='Yasuo, League of Legends, champion, King of All Kings')
    meta(name='audience' content='Everyone')
    meta(name='author' content='Tran Nhat Ky < nhatky.tran.2002@gmail.com >')
    meta(name='publisher' content='Tran Nhat Ky')
    meta(name='copyright' content='Tran Nhat Ky')
    meta(name='robots' content='index, follow')
    link(rel='stylesheet' href='/css/base.css')
    block header
  body
    block content