doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Yasuo' content='Get to know Yasuo better')
    meta(name='description' content='Learn about Yasuo, the King of All Kings in League of Legends.')
    meta(name='keywords' content='Yasuo, League of Legends, champion, King of All Kings')
    meta(name='audience' content='Everyone')
    meta(name='author' content='Tran Nhat Ky < nhatky.tran.2002@gmail.com >')
    meta(name='publisher' content='Tran Nhat Ky')
    meta(name='copyright' content='Tran Nhat Ky')
    meta(name='robots' content='index, follow')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/base.css')
    block header
  body
    block content