extends baseEmail

block content
  p Hi #{username},
  p Your password reset code (⏱️ it's only valid for 2 minutes):
  p.code= code
  p If you need any help, please don't hesitate to contact me!
  p - Trần Nhật Kỳ, Yasuo The King admin