@keyframes login-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Skeleton Loading
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

// Works great for 5.2rem
@keyframes diagonal-wipe-5d2 {
  0% {
    clip-path: polygon(-2.5rem 2.5rem, 2.5rem 7.5rem, -2.6rem 12.7rem, -7.7rem 7.6rem);
  }
  100% {
    clip-path: polygon(7.6rem -7.7rem, 12.7rem -2.6rem, 7.6rem 2.6rem, 2.5rem -2.6rem);
  }
}
@keyframes diagonal-wipe-7d2 {
  0% {
    clip-path: polygon(-2.5rem 2.5rem, 6.5rem 11.5rem, 2.4rem 16.7rem, -3.7rem 11.6rem);
  }
  100% {
    clip-path: polygon(7.6rem -7.7rem, 12.7rem -2.6rem, 7.6rem 1.6rem, 2.5rem -2.6rem);
  }
}

@keyframes sidebar-arrow-open {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 8rem, 25% 8rem, 0 8rem);
  }
  50% {
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 25% 70%, 0 40%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0 100%);
  }
}

@keyframes sidebar-arrow-close {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 25% 70%, 0 40%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 8rem, 25% 8rem, 0 8rem);
  }
}

///////////////////////

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    right: -40rem;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes goUp {
  0% {
    transform: translateY(-9rem);
  }
  100% {
    transform: translateY(0);
  }
}

// @keyframes skinChosen {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.2);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
