// Color
@mixin primary-background($opa) {
  background-image: linear-gradient(to bottom, rgba($color-primary-dark, $opa), rgba($color-primary-light, $opa));
  -webkit-background-image: -webkit-linear-gradient(
    to bottom,
    rgba($color-primary-dark, $opa),
    rgba($color-primary-light, $opa)
  );
}

@mixin background-clip-text {
  // Use backgound-clip directly on selector, not parent selector
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bg-sub-header {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

// Font
@mixin use-font($font-name) {
  font-family: $font-name, Arial, sans-serif;
}

// Display
@mixin display-responsive($width, $display) {
  @media only screen and (max-width: $width) {
    display: $display !important;
  }
}

@mixin hide {
  opacity: 0;
  pointer-events: none;
}

@mixin show {
  opacity: 1;
  pointer-events: all;
}

// Dimension
@mixin full-dimension {
  width: 100% !important;
  height: 100% !important;
}

@mixin square-dimension($dimension) {
  width: $dimension !important;
  height: $dimension !important;
}

// Position
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin absolute-position($x-translate, $y-translate, $type: absolute) {
  position: $type;
  top: 50%;
  left: 50%;
  transform: translate($x-translate, $y-translate);
}

@mixin absolute-position-x-axis {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-position-y-axis {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Pseudo
@mixin pseudo-element-features {
  content: "";
  position: absolute;
  display: block;
}

// Assets
@mixin scroll-bar($bg-color, $radius) {
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-color;
    border-radius: $radius;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
  }
}

@mixin text-rotate {
  color: $header-text-color;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 50%;
  left: 0;
  @include use-font(Spiegel-Bold);
}

@mixin line {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.4em;
  height: 1px;
  background-color: currentcolor;
}
@mixin line-before {
  @include line;
  margin-right: 0.7rem;
}
@mixin line-after {
  @include line;
  margin-left: 0.5rem;
}

@mixin border-no-top {
  border-left: 1px solid $main-border;
  border-right: 1px solid $main-border;
  border-bottom: 1px solid $main-border;
}

@mixin square-border-header {
  border: 1px solid #423a26;
  transform: rotate(45deg);
  @include square-dimension(0.5rem);
  @include pseudo-element-features;
}

@mixin button-border($height, $bg-color) {
  width: 0.2rem;
  height: $height;
  background-color: $bg-color;
  transform: skew(-45deg);
  transition: all ease 0.2s;
  @include pseudo-element-features;
}

@mixin diagonal-wipe-loading($width-responsive) {
  @include square-dimension(7.2rem);

  svg:nth-child(2) {
    animation: diagonal-wipe-7d2 1.5s ease infinite;
  }

  @media only screen and (max-width: $width-responsive) {
    @include square-dimension(5.2rem);

    svg:nth-child(2) {
      animation: diagonal-wipe-5d2 1.5s ease infinite;
    }
  }
}

@mixin img-error-column {
  flex-direction: column;
  @include flex-align-center;
  @include absolute-position(-50%, -50%);
}

@mixin img-error-responsive($width, $image-width, $font-size) {
  @media only screen and (max-width: $width) {
    img {
      width: $image-width;
    }
    button {
      font-size: $font-size;
    }
  }
}
