.remove {
  display: none !important;
}
.hide {
  // opacity: 0;
  // pointer-events: none;
  @include hide;
}
.show {
  @include show;
}
.blur {
  filter: blur(0.2rem);
}
.stop-overflow {
  overflow: hidden !important;
}

@mixin ease-24-forwards($animation) {
  animation: $animation ease 0.24s forwards;
}

.fade-in {
  @include ease-24-forwards(fade-in);
}
.fade-in-100 {
  animation: fade-in ease 0.1s forwards;
}
.fade-in-500 {
  animation: fade-in ease 0.5s forwards;
}

.fade-out {
  @include ease-24-forwards(fade-out);
}
.fade-out-480 {
  animation: fade-out ease 0.48s forwards;
}

.sidebar-arrow-open {
  @include ease-24-forwards(sidebar-arrow-open);
}
.sidebar-arrow-close {
  @include ease-24-forwards(sidebar-arrow-close);
}

.shimmer-loading {
  background: linear-gradient(to right, rgb(27, 27, 27) 0%, #252525 50%, rgb(27, 27, 27) 100%);
  background-size: 200% 100%;
  animation: shimmer cubic-bezier(0.42, 0, 0.002, 1) 1s forwards infinite;
}

.diagonal-wipe-loading {
  @include square-dimension(5.2rem);
  @include absolute-position(-50%, -50%);

  svg {
    @include full-dimension;
    @include absolute-position(-50%, -50%);
  }

  svg:nth-child(1) {
    fill: #252c32;
  }

  svg:nth-child(2) {
    fill: #00c8c8;
    animation: diagonal-wipe-5d2 1.5s ease infinite;
  }
}

.z-index-1 {
  z-index: 1 !important;
}
.z-index-1-neg {
  z-index: -1 !important;
}

// Colors
.turn-white {
  filter: brightness(0) invert(1);
}

// Assets
.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: $arrow-color;
  margin-left: 0.2rem;
  transition: all linear 0.2s;
}

.list-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.quote-part {
  width: 100%;
  color: $header-text-color;
  text-align: center;
  position: absolute;
  @include use-font(Gloria Hallelujah);

  @mixin footer-font-size($width, $font-size) {
    @media only screen and (max-width: $width) {
      font-size: $font-size;
    }
  }

  &-quote {
    font-size: 2.6rem;
    @include footer-font-size($px1140, 2.2rem);
    @include footer-font-size($px840, 2rem);
    @include footer-font-size($px640, 1.6rem);
    @include footer-font-size($px440, 1.3rem);
  }

  &-who {
    color: $color-ab;
    font-size: 1.6rem;
    margin-top: 2rem;

    @media only screen and (max-width: $px640) {
      margin-top: 1.4rem;
    }

    @include footer-font-size($px1140, 1.4rem);
    @include footer-font-size($px840, 1.2rem);
    @include footer-font-size($px640, 1rem);
  }
}

.line-section {
  width: calc(100% - 10rem);
  max-width: 120rem;
  height: 1px;
  background-color: $main-border;
  bottom: 2rem;
  @include absolute-position-x-axis;
  @include pseudo-element-features;
}

.social-list {
  list-style: none;
  justify-content: space-between;
  @include flex-align-center;

  &-item {
    background-color: #323232;
    border-radius: 1.2rem;
    @include square-dimension(3.2rem);
  }

  &-link {
    justify-content: center;
    @include flex-align-center;
    @include full-dimension;
  }

  &-icon {
    fill: #fff;
    @include square-dimension(50%);
  }
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  transition: all linear 0.2s;
  cursor: pointer;
}

.button-main {
  padding: 2rem 4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;

  @mixin button-padding($width, $tb, $rl) {
    @media only screen and (max-width: $width) {
      padding: $tb $rl !important;
    }
  }
  @include button-padding($px1040, 1.9rem, 3.8rem);
  @include button-padding($px840, 1.8rem, 3.6rem);
  @include button-padding($px640, 1.7rem, 3.4rem);
  @include button-padding($px440, 1.6rem, 3.2rem);

  &:hover &__border {
    background-size:
      100% 1px,
      1px 100%;

    &::before {
      left: -1.2rem;
    }
    &::after {
      right: -1.2rem;
    }
  }

  &__border {
    $border: #c7c7c7;
    $lg: linear-gradient($border, $border);
    background: $lg, $lg, $lg, $lg;
    background-repeat: no-repeat;
    background-size:
      calc(100% - 1.8rem) 1px,
      1px calc(100% - 1.8rem);
    background-position:
      right 0 top 0,
      left 0 bottom 0,
      left 0 bottom 0,
      right 0 top 0;
    transition: all ease 0.2s;
    overflow: hidden;
    pointer-events: none;
    @include square-dimension(calc(100% + 0.8rem));
    @include absolute-position(-50%, -50%);

    &::before {
      top: 0;
      left: 0.6rem;
      @include button-border(2.4rem, $border);
    }
    &::after {
      bottom: 0;
      right: 0.6rem;
      @include button-border(2.4rem, $border);
    }
  }

  span {
    color: $text-color;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    @include use-font(Spiegel-Bold);

    @media only screen and (max-width: $px640) {
      font-size: 1.3rem;
    }
  }
}

.error-container {
  width: 100%;
  text-align: center;
  @include absolute-position(-50%, -50%);
}

.text-error {
  color: $color-error-primary;
  font-size: 2.2rem;
  @include use-font(FF-Mark);
}

.button-error {
  color: $text-color;
  background-color: $color-error-primary;
  font-size: 1.5rem;
  padding: 0.5rem 0.9rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  transition: all ease 0.2s;
  @include use-font(FF-Mark-Medium);

  &:hover {
    background-color: $color-error-light;
  }
}
