.sh-footer {
  grid-column: full-start / full-end;

  @include bg-sub-header;
  border-bottom: 1px solid $color-primary-dark;
  overflow: hidden;

  position: relative;

  &-text {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    text-transform: uppercase;

    @include primary-background(1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include abs;
    @include fifty-fifty;
    transform: translate(-50%, -18%);
  }
}
