.sub-header {
  grid-column: full-start / full-end;

  @include bg-sub-header;
  z-index: 1;

  position: relative;

  // Yasuo heading
  .yasuo-heading {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    @include fadeInOpa(1.5s);

    @include center-absolute;

    .yasuo {
      @include primary-background(1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 1rem;

      @include abs;
      @include fifty-fifty;
      transform: translate(-65%, -55%);
    }

    .yasuo-round {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transform: translate(140%, -55%);
      background-image: url('../src/img/yasuo.jpg');
      background-position: 87.9835% 31.3808%;
      background-size: 350%;

      @include abs;
      @include fifty-fifty;

      &::before {
        border-radius: 50%;
        @include dimension100;
        @include sub-abs;
        @include primary-background(0.7);
      }

      &__frame {
        width: 5.6rem;
        height: 5.6rem;

        @include abs;
        top: -0.26rem;
        left: -0.26rem;
      }
    }
  }
}

.sub-header-line {
  grid-column: full-start / full-end;

  text-align: center;

  &__img {
    width: 100%;
    max-width: 130rem;
    z-index: 2;

    transform-origin: center;
    animation: goUp 1s linear, fadeInOpa 1s linear;
    -webkit-animation: goUp 1s linear, fadeInOpa 1s linear;

    position: relative;
    bottom: 2rem;
  }
}
