.sub-header {
  grid-column: full-start / full-end;

  @include bg-sub-header;
  z-index: 1;

  position: relative;

  // Yasuo heading
  .yasuo-heading {
    font-family: Beaufort-Regular, Arial, sans-serif;
    font-size: 6rem;
    @include fadeInOpa(1.5s);

    @include center-absolute;

    // 1040px
    @media only screen and (max-width: 65em) {
      font-size: 5.5rem;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      font-size: 5rem;
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      font-size: 4rem;
    }

    .yasuo {
      letter-spacing: 1rem;
      @include abs;
      @include fifty-fifty;
      transform: translate(-65%, -55%);

      &::after {
        content: 'YASU';
        border: 0.4rem solid transparent;
        @include primary-background(1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .yasuo-round {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transform: translate(140%, -55%);
      background-image: url('../src/img/yasuo.jpg');
      background-position: 87.9835% 31.3808%;
      background-size: 350%;

      @include abs;
      @include fifty-fifty;

      // 1040px
      @media only screen and (max-width: 65em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        width: 4rem;
        height: 4rem;
      }

      // 440px
      @media only screen and (max-width: 27.5em) {
        width: 3.8rem;
        height: 3.8rem;
      }

      &::before {
        border-radius: 50%;
        @include dimension100;
        @include sub-abs;
        @include primary-background(0.7);
      }

      &__frame {
        width: 5.6rem;
        height: 5.6rem;

        @media only screen and (max-width: 65em) {
          width: 5rem;
          height: 5rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          width: 4.6rem;
          height: 4.6rem;
        }

        // 440px
        @media only screen and (max-width: 27.5em) {
          width: 4.4rem;
          height: 4.4rem;
        }

        @include abs;
        top: -0.26rem;
        left: -0.26rem;
      }
    }
  }
}

.sub-header-line {
  grid-column: full-start / full-end;

  text-align: center;

  &__img {
    width: 100%;
    max-width: 130rem;
    z-index: 2;

    transform-origin: center;
    animation: goUp 1s linear, fadeInOpa 1s linear;
    -webkit-animation: goUp 1s linear, fadeInOpa 1s linear;

    position: relative;
    bottom: 2rem;

    // 1140px
    @media only screen and (max-width: 71.25em) {
      bottom: 1.95rem;
    }

    // 1040px
    @media only screen and (max-width: 65em) {
      bottom: 1.85rem;
    }

    // 940px
    @media only screen and (max-width: 58.75em) {
      bottom: 1.75rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      bottom: 1.65rem;
    }

    // 740px
    @media only screen and (max-width: 46.25em) {
      bottom: 1.55rem;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      bottom: 1.2rem;
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      bottom: 1rem;
    }
  }
}
