*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  // With by default is 100%, but when using feature like body stop scrolling, \
  // we need to set position is fixed. At that time, we need body is set to 100% \
  // to remain the layout
  width: 100%;
  min-height: 100vh;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  position: relative;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
