*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent
}

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4
}

body::-webkit-scrollbar {
  display: none
}

.roboto-regular {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-display: fallback;
  font-family: FF-Mark-Bold;
  src: url("../font/FontFont_FF.Mark.Pro.Bold.otf") format('opentype');
}

@font-face {
  font-display: fallback;
  font-family: FF-Mark-Medium;
  src: url("../font/FontFont_FF.Mark.Pro.Medium.otf") format('opentype');
}

@font-face {
  font-display: fallback;
  font-family: FF-Mark;
  src: url("../font/FontFont_FF.Mark.Pro.otf") format('opentype');
}

@font-face {
  font-display: fallback;
  font-family: FF-Mark-Hair;
  src: url("../font/FontFont_FF.Mark.Pro.Hairline.otf") format('opentype');
}

.ff-mark-bold {
  font-family: FF-Mark-Bold, sans-serif
}

.ff-mark-medium {
  font-family: FF-Mark-Medium, sans-serif
}

.ff-mark {
  font-family: FF-Mark, sans-serif
}

.ff-mark-hair {
  font-family: FF-Mark-Hair, sans-serif
}