/* General */
.block {
  max-width: 38rem;
  width: 100%
}

.remove {
  display: none !important
}

/* Main */
.container {
  align-items: center;
  background-image: linear-gradient(90deg, #0c0c0c 50%, #fff 0);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem 2rem
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 92rem;
  min-height: 48rem;
  width: 100%
}

/* Left */
.block-left {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  position: relative
}

.block-left__mobile {
  background-color: #0c0c0c;
  display: none;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  z-index: -1
}

.left-header {
  align-items: center;
  display: flex
}

.left-header__image {
  border-radius: 100%;
  height: 3rem;
  margin-right: 1rem;
  width: 3rem
}

.left-header__text {
  font-size: 1.6rem;
  letter-spacing: .2rem
}

.left-content {
  margin-top: 3.2rem
}

.left-content__name {
  color: #fff9;
  font-size: 1.7rem;
  text-transform: uppercase
}

.left-content__price {
  font-size: 3.4rem;
  letter-spacing: .1rem
}

.left-content__desc {
  color: #fff9;
  font-size: 1.5rem
}

.left-image__wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  padding-bottom: 2rem
}

.left-image {
  border-radius: .6rem;
  margin: 1.6rem 0;
  max-width: 30rem;
  width: 100%
}

.block-footer {
  color: #fff9;
  font-size: 1.2rem;
  margin-top: 1.2rem
}

.block-footer,
.block-footer__cod {
  align-items: center;
  display: flex;
  gap: .8rem
}

.block-footer__author {
  border-right: 1px solid #ffffff47;
  padding-right: .8rem
}

.block-footer__cod p {
  cursor: pointer
}

/* Right */
.block-right {
  color: #0c0c0c
}

.right-hr {
  background-color: #cccccc80;
  height: .1rem;
  margin: 2.4rem 0;
  width: 100%
}

.right-header {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 1.6rem
}

.right-header__icon {
  fill: #33c5df;
  margin-right: 1rem
}

.right-header__icon.error {
  fill: #f46275
}

.right-email {
  align-items: center;
  background-color: #cccccc50;
  border: 1px solid #cccccc80;
  border-radius: .4rem;
  box-shadow: 0 .2rem .4rem #00000010;
  display: flex;
  font-size: 1.4rem;
  padding: 1.2rem
}

.right-email__text {
  width: 30%
}

.right-message {
  font-size: 1.5rem;
  margin-top: 1rem
}

.right-info {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  margin-bottom: .8rem
}

.right-confirm-button:link,
.right-confirm-button:visited {
  align-items: center;
  background-color: #33c5df;
  border-radius: .4rem;
  color: #0c0c0c;
  cursor: pointer;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  padding: 1.2rem;
  text-decoration: none;
  transition: all .2s ease;
  width: 100%
}

.right-confirm-button.error {
  background-color: #f46275
}

.right-confirm-button:hover {
  filter: brightness(1.05)
}

.right-footer {
  display: none
}

/* Responsive */
@media only screen and (max-width:52.5em) {
  .container {
    background-image: unset;
    display: block;
    padding: 0
  }

  main {
    align-items: center;
    flex-direction: column
  }

  .block {
    max-width: 40rem;
    padding: 0 1rem
  }

  .block-left {
    background-color: #0c0c0c;
    padding-top: 3rem
  }

  .block-left__mobile {
    display: block
  }

  .left-footer {
    display: none
  }

  .block-right {
    padding-bottom: 3rem;
    padding-top: 3rem
  }

  .right-footer {
    color: #0c0c0c;
    display: flex;
    margin-top: 3rem
  }

  .block-footer__author {
    border-right: 1px solid #9a9a9a
  }
}

@media only screen and (max-width:25.25em) {
  .block-left {
    padding-top: 1rem
  }

  .block-right {
    padding-bottom: 1rem
  }
}