.explore-games {
  width: 100%;
  background-color: $header-bg-color;
  border-bottom: 1px groove $color-button-blue;
  top: 0;
  position: fixed;
  z-index: 1001;

  @media only screen and (max-width: $px1040) {
    height: 100vh;
    border-bottom: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.explore-games__header {
  max-width: 146rem;
  height: 7.2rem;
  color: $header-text-color;
  text-transform: uppercase;
  padding: 3.2rem;
  margin: 0 auto;
  transition: all ease 0.2s;
  justify-content: space-between;
  @include flex-align-center;

  @media only screen and (max-width: $px1040) {
    padding: 1.2rem 2rem;
  }
  @media only screen and (max-width: $px640) {
    height: 5.6rem;
    padding: 0.6rem 1rem 0;
  }

  &-riot {
    font-size: 2rem;
    @include use-font(FF-Mark-Bold);

    @mixin riot-font-size($width, $font-size) {
      @media only screen and (max-width: $width) {
        font-size: $font-size;
      }
    }
    @include riot-font-size($px640, 1.8rem);
    @include riot-font-size($px440, 1.6rem);
  }

  &-more {
    justify-content: space-between;
    @include flex-align-center;

    &-visit,
    &-visit:link,
    &-visit:active {
      color: $header-text-color;
      font-size: 1.1rem;
      text-decoration: none;
      padding: 0.43rem 1.2rem;
      margin-right: 0.6rem;
      border-radius: 0.6rem;
      transition: all ease 0.2s;
      top: 0.1rem;
      position: relative;
      cursor: pointer;
      @include use-font(FF-Mark-Medium);

      &:hover {
        color: $color-button-blue;
      }
    }

    &-close {
      background-color: rgb(50, 50, 50);
      border-radius: 0.6rem;
      top: 0.1rem;
      position: relative;
      justify-content: space-around;
      cursor: pointer;
      @include flex-align-center;
      @include square-dimension(2.4rem);

      @media only screen and (max-width: $px640) {
        @include square-dimension(2.8rem);
      }

      &-icon {
        fill: #fff;
        @include square-dimension(1.6rem);
      }
    }
  }
}

.explore-games__body {
  max-width: 146rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(8, 1fr);
  padding: 0 3.2rem 3.2rem;
  position: relative;

  @media only screen and (max-width: $px1040) {
    grid-gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem 2rem;
  }
  @media only screen and (max-width: $px640) {
    padding: 1rem;
  }

  &-state {
    position: absolute;
    justify-content: center;
    @include flex-align-center;
    @include full-dimension;

    @mixin error-dimension($width, $h) {
      @media only screen and (max-width: $width) {
        height: $h !important;
      }
    }
    @include error-dimension($px1040, calc(100vh - 7.2rem));
    @include error-dimension($px640, calc(100vh - 5.6rem));

    // &-loading {
    // }

    &-error {
      flex-direction: column;
      justify-content: center;
      @include flex-align-center;

      img {
        @include square-dimension(6.2rem);
      }

      button {
        font-size: 1.4rem;
      }
    }
  }

  &-poster {
    transition: all ease 0.2s;

    &:nth-child(1),
    &:nth-child(2) {
      grid-column: span 2;

      .eg-poster__description {
        @media only screen and (max-width: $px1140) {
          margin-top: 0.4rem;
        }
      }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      @media only screen and (max-width: $px640) {
        grid-column: span 2;
      }

      &:hover .eg-poster-img {
        border-bottom: 2px groove $button-color-blue-hover;
      }

      .eg-poster-img {
        flex-grow: 1;
        border-bottom: 2px groove $color-button-blue;
      }
    }
  }

  .eg-poster {
    $image-border-radius: 0.4rem;

    color: rgb(209, 209, 209);
    font-size: 1.1rem;
    text-decoration: none;
    flex-direction: column;
    position: relative;
    @include use-font(FF-Mark);
    @include full-dimension;
    @include flex-align-center;

    @media only screen and (max-width: $px1040) {
      padding-bottom: 0.8rem;
    }

    &:hover .eg-poster-img {
      box-shadow: 0 14px 28px rgba(#fff, 0.1);
    }

    &.loading:hover {
      cursor: default;

      .eg-poster-img {
        box-shadow: unset;
      }
    }

    &-img {
      width: 100%;
      object-fit: cover;
      border-radius: $image-border-radius;
      transition: all ease 0.2s;
    }

    &__description {
      font-size: 1rem;
      margin-top: 0.8rem;

      @media only screen and (max-width: $px1040) {
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }

    &__download {
      display: flex;
      gap: 0.8rem;
      fill: rgb(209, 209, 209);
      margin-top: 0.4rem;

      svg {
        @media only screen and (max-width: $px1040) {
          @include square-dimension(1rem);
        }
      }
    }

    &-loading {
      border-radius: $image-border-radius;
      position: absolute;
      @include full-dimension;
    }
  }
}
