// .sb-ag {
//   animation: navbarXg linear 0.2s;

//   &-header,
//   &-body {
//     @include show;
//   }
// }

.sb-ag {
  width: 100%;
  background-color: $header-bg-color;
  border-bottom: 1px groove $color-button-blue;
  top: 0;
  position: fixed;
  z-index: 1001;

  // &.close-special {
  //   animation: navbarXgClose linear 0.4s;

  //   .sb-ag-header,
  //   .sb-ag-body {
  //     opacity: 0;
  //   }
  // }

  @media only screen and (max-width: $px1040) {
    max-width: 48rem;
    height: 100vh;
    border-bottom: none;
    border-left: 1px groove $color-button-blue;
    right: 0;
    overflow-y: scroll;
  }

  @media only screen and (max-width: $px640) {
    max-width: 100%;
    border-left: none;
  }

  &::-webkit-scrollbar {
    @media only screen and (max-width: $px1040) {
      display: none;
    }
  }
}

.sb-ag-header {
  width: 100%;
  max-width: 146rem;
  height: 8rem;
  padding: 0 4rem;
  margin: 0 auto;
  transition: all ease 0.2s;
  justify-content: space-between;
  @include flex-align-center;

  // @include hide;

  @media only screen and (max-width: $px1040) {
    padding: 3rem 2.4rem;
  }

  &__riot-icon {
    fill: $header-text-color;
  }

  &__close {
    border-radius: 0.6rem;
    position: relative;
    cursor: pointer;
    @include square-dimension(3rem);

    &:hover .sb-ag-header__close-icon {
      fill: red;
    }

    &-icon {
      fill: $header-text-color;
      transition: all ease 0.2s;
      @include absolute-position(-50%, -50%);
      @include square-dimension(2rem);
    }
  }
}

.sb-ag-body {
  width: 100%;
  max-width: 146rem;
  padding: 0 3rem;
  margin: 0 auto;
  transition: all ease 0.2s;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  // @include hide;

  @media only screen and (max-width: $px1040) {
    flex-direction: column;
    padding: 0 0.8rem;
  }

  @mixin side-loading-dimension {
    width: 50%;
    min-height: 36.5rem;

    @media only screen and (max-width: $px1040) {
      width: 100%;
    }
  }

  &__left-loading {
    @include side-loading-dimension;

    span {
      width: 100%;
      height: 1rem;
      display: block;
      background: linear-gradient(to right, rgb(27, 27, 27) 0%, #252525 50%, rgb(27, 27, 27) 100%);
      background-size: 200% 100%;
      margin-bottom: 0.6rem;
      border-radius: 0.6rem;
      transition: all ease 1s;
      animation: shimmer cubic-bezier(0.42, 0, 0.002, 1) 1s forwards infinite;
    }
  }

  &__right-loading {
    position: relative;
    @include side-loading-dimension;

    &-inner {
      @include square-dimension(5.2rem);
      @include absolute-position(-50%, -50%);

      svg {
        @include full-dimension;
        @include absolute-position(-50%, -50%);
      }

      svg:nth-child(1) {
        fill: #252c32;
      }

      svg:nth-child(2) {
        fill: #00c8c8;
        animation: diagonal-wipe 1.5s ease infinite;
      }
    }
  }

  &__left {
    columns: auto 3;
    column-gap: 1rem;
    width: 50%;
    padding: 0 0.8rem;

    @media only screen and (max-width: $px1040) {
      width: 100%;
      columns: auto 1;
    }

    &-cover {
      break-inside: avoid;
      font-size: 1.2rem;
      padding-bottom: 1.6rem;
      text-transform: uppercase;
      transition: all ease 0.2s;

      @media only screen and (max-width: $px1140) {
        font-size: 1.1rem;
      }
      @media only screen and (max-width: $px1040) {
        height: 4.6rem;
        font-size: 1.3rem;
        padding: 0;
        overflow: hidden;

        &.show.sb-ag-body__left-cover--1 {
          height: 9.5rem;
        }
        &.show.sb-ag-body__left-cover--2 {
          height: 25.4rem;
        }
        &.show.sb-ag-body__left-cover--3 {
          height: 25.4rem;
        }
        &.show.sb-ag-body__left-cover--4 {
          height: 13.5rem;
        }
        &.show.sb-ag-body__left-cover--5 {
          height: 17.4rem;
        }
        &.show.sb-ag-body__left-cover--6 {
          height: 21.4rem;
        }

        &.show .ag-mobile__icon {
          transform: rotate(180deg);
        }
        &.show .sb-ag-body__left-link {
          @include show;
        }
      }
    }

    &-title {
      background-color: rgb(27, 27, 27);
      color: rgb(209, 209, 209);
      padding: 0.8rem 1.6rem;
      margin-bottom: 0.4rem;
      border-radius: 0.6rem;
      @include use-font(FF-Mark-Medium);

      @media only screen and (max-width: $px1040) {
        transition: all ease 0.2s;
        justify-content: space-between;
        cursor: pointer;
        @include flex-align-center;

        &:hover {
          background-color: rgb(31, 31, 31);
        }
      }

      .ag-mobile__icon {
        width: 3rem;
        height: 1.5rem;
        fill: rgb(209, 209, 209);
        left: 0.6rem;
        position: relative;
        transition: all ease 0.2s;
        @include display-responsive($px1040, block);
      }
    }

    &-link:link,
    &-link:visited {
      display: block;
      color: rgb(168, 168, 168);
      text-decoration: none;
      padding: 0.8rem 1.6rem;
      margin: 0.4rem 0;
      border-radius: 0.6rem;
      transition: all ease 0.2s;
      @include use-font(FF-Mark);

      @media only screen and (max-width: $px1040) {
        font-size: 1.2rem;
        @include hide;
      }
    }

    &-link:hover {
      background-color: rgb(19, 19, 19);
      color: $button-color-blue;
    }

    &-item {
      color: inherit;
    }
  }

  &__right {
    width: 50%;
    padding: 0 0.8rem;
    gap: 1.6rem;
    display: flex;

    @media only screen and (max-width: $px1040) {
      width: 100%;
      gap: 1.2rem;
      margin: 1.2rem 0;
      flex-direction: column;
    }

    &-cover {
      cursor: pointer;

      &:hover .sb-ag-body__right-img {
        box-shadow: 0 14px 28px rgba(#fff, 0.1);
      }
    }

    &-img {
      width: 100%;
      border-radius: 0.6rem;
      transition: all 0.2s ease;
    }

    &-text-detailed {
      color: rgb(209, 209, 209);
      font-size: 1.3rem;
      margin-top: 1.2rem;
      @include use-font(FF-Mark);

      @media only screen and (max-width: $px1040) {
        margin: 0.4rem 0 1.6rem;
      }
    }
  }
}

.ag-poster-container {
  width: 50%;
  padding: 0 0.8rem;
  position: relative;
}

.ag-poster {
  position: absolute;

  &__image {
    display: block;
    width: 80%;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    margin-left: auto;
  }

  &__background {
    width: 50%;
    height: 100%;
    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(17, 113, 200) 0%, rgb(10, 10, 10) 70%);
    text-align: center;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(77% 0, 63% 90%, 100% 100%, 100% 101%, 0% 101%, 0% 0%);
  }

  &__content {
    width: 76%;
    padding: 13% 8% 7.5% 0%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    @include flex-align-center;
  }

  &__header {
    flex-grow: 0.7;
    justify-content: space-around;
    @include flex-align-center;

    &-image {
      width: 65%;
    }

    &-label {
      color: rgb(209, 209, 209);
      font-size: 2.2rem;
      @include use-font(FF-Mark-Medium);
    }
  }

  &__description {
    width: 80%;
    color: #c7c7c7;
    font-size: 0.8rem;
    text-transform: uppercase;
    @include use-font(FF-Mark-Medium);
  }

  &__platform {
    height: 1.6rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 0 0.8rem;
    border-radius: 1.6rem;
    @include flex-align-center;

    svg {
      fill: #fff;
      margin: 0 0.4rem;
      transform: scale(1.1);
    }
  }
}
