.trailer {
  grid-column: 1 / -1;
  position: relative;

  @mixin bg-small-image-position($width, $x-translate) {
    @media only screen and (max-width: $width) {
      object-position: $x-translate 50% !important;
    }
  }
  @mixin content-width($width, $width-d) {
    @media only screen and (max-width: $width) {
      width: $width-d;
    }
  }
  @mixin button-padding($width, $tb, $rl) {
    @media only screen and (max-width: $width) {
      padding: $tb $rl !important;
    }
  }

  %image-position {
    object-fit: cover;
    -webkit-object-fit: cover;
    object-position: center;
    -webkit-object-position: center;
  }
  %background-position {
    position: absolute;
    top: 0;
    left: 0;
    @include full-dimension;
  }

  &__bg {
    z-index: 0;
    filter: blur(0.4rem);
    @extend %background-position;

    &-image {
      @include full-dimension;
      @extend %image-position;
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.8);
      @extend %background-position;
    }
  }

  &__bg-small {
    width: calc(100% - 12rem);
    max-width: 136rem;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    @include absolute-position(-50%, -38%);

    @media only screen and (max-width: $px640) {
      width: calc(100% - 4rem);
      height: 110%;
      top: 46%;
    }

    &-video {
      @include full-dimension;
      @extend %image-position;
    }

    &-image-wrapper {
      @extend %background-position;
    }

    &-image {
      @extend %image-position;
      @include full-dimension;
      @include bg-small-image-position($px840, 46%);
      @include bg-small-image-position($px740, 41%);
      @include bg-small-image-position($px640, 36%);
      @include bg-small-image-position($px540, 31%);
    }

    &-border {
      width: calc(100% - 2rem);
      height: calc(100% + 2rem);
      border: 1px solid $main-border;
      @include absolute-position(-50%, -50%);
    }
  }

  &__play-video {
    color: $header-text-color;
    font-size: 1rem;
    top: 1.8rem;
    right: 1rem;
    position: absolute;
    cursor: default;
    @include use-font(FF-Mark);

    button {
      color: inherit;
      font-family: inherit;
      font-size: 1.1rem;
      padding: 0.8rem 1.2rem;
      @include flex-align-center;

      svg {
        fill: $header-text-color;
      }
    }

    &-play {
      letter-spacing: 0.1rem;

      svg {
        margin-right: 0.2rem;
        @include square-dimension(2rem);
      }
    }

    &-loading {
      letter-spacing: 0.2rem;
      cursor: default;

      svg {
        margin-right: 0.7rem;
        animation: login-loading ease 1.2s infinite;
        @include square-dimension(1.8rem);
      }
    }

    &-message {
      @include flex-align-center;

      span {
        font-size: 1.1rem;
        text-decoration: underline;
        padding: 0.8rem 1.2rem 0.8rem 0.4rem;
        cursor: pointer;
      }
    }

    &-success {
      padding: 0.8rem 1.2rem;
      @include flex-align-center;

      svg {
        fill: $header-text-color;
      }

      &-control {
        margin-right: 0.6rem;

        svg {
          @include square-dimension(2rem);
          cursor: pointer;
        }
      }

      &-speakers {
        cursor: pointer;

        svg {
          @include square-dimension(1.6rem);
        }
      }

      &-bar {
        width: 8.6rem;
        height: 0.46rem;
        background-color: #838383;
        border-radius: 0.6rem;
        margin-left: 0.8rem;
        top: -0.2rem;
        position: relative;
        cursor: pointer;

        &:hover .trailer__play-video-success-bar-active::before {
          @include show;
        }

        &-active {
          width: 100%; // @include full-dimension --> width !important
          height: 100%;
          background-color: $header-text-color;
          border-radius: inherit;
          position: absolute;

          &::before {
            background-color: $header-text-color;
            border-radius: 50%;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            transition: all ease 0.2s;
            @include square-dimension(1rem);
            @include pseudo-element-features;
            @include hide;
          }
        }
      }
    }
  }

  &__content {
    width: 50rem;
    text-align: center;
    z-index: 2;
    @include absolute-position(-50%, -30%);

    @include content-width($px1040, 46rem);
    @include content-width($px940, 42rem);
    @include content-width($px840, 40rem);
    @include content-width($px740, 36rem);
    @include content-width($px640, 32rem);
    @include content-width($px540, 30rem);
    @include content-width($px440, 26rem);
    @include content-width($px340, 23rem);

    &-img {
      width: 100%;
    }

    &-button {
      padding: 2rem 4rem;
      margin-top: 1rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      position: relative;

      @include button-padding($px1040, 1.9rem, 3.8rem);
      @include button-padding($px840, 1.8rem, 3.6rem);
      @include button-padding($px640, 1.7rem, 3.4rem);
      @include button-padding($px440, 1.6rem, 3.2rem);

      &:hover .trailer__content-button-border {
        background-size:
          100% 1px,
          1px 100%;

        &::before {
          left: -1.2rem;
        }
        &::after {
          right: -1.2rem;
        }
      }

      &-border {
        $border: #c7c7c7;
        $lg: linear-gradient($border, $border);
        background: $lg, $lg, $lg, $lg;
        background-repeat: no-repeat;
        background-size:
          calc(100% - 1.8rem) 1px,
          1px calc(100% - 1.8rem);
        background-position:
          right 0 top 0,
          left 0 bottom 0,
          left 0 bottom 0,
          right 0 top 0;
        transition: all ease 0.2s;
        overflow: hidden;
        @include square-dimension(calc(100% + 0.8rem));
        @include absolute-position(-50%, -50%);

        &::before {
          top: 0;
          left: 0.6rem;
          @include button-border(2.4rem, $border);
        }
        &::after {
          bottom: 0;
          right: 0.6rem;
          @include button-border(2.4rem, $border);
        }
      }

      span {
        color: $text-color;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        @include use-font(Spiegel-Bold);

        @media only screen and (max-width: $px640) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
