.auth-overlay {
  width: 100%;
  height: 100vh;
  top: 0; // top is set again using JS
  padding: 0 0.8rem;
  position: absolute;
  overflow-y: scroll;
  z-index: 1001;
  @include scroll-bar(#211e1f, 0.4rem);
}

.auth-form {
  width: 100%;
  max-width: 50rem;
  background-color: $header-text-color;
  padding: 3.2rem;
  margin: 12rem auto;
  border-radius: 0.2rem;
  @include use-font(FF-Mark);

  @media only screen and (max-width: $px440) {
    padding: 2rem;
  }
  @media only screen and (max-width: $px340) {
    padding: 1.6rem;
  }
}

.auth-form__header {
  text-align: center;

  &-hero {
    justify-content: space-between;
    @include flex-align-center;

    svg {
      fill: $color-layer;
    }

    &-riot {
      width: 8rem;
    }

    &-close {
      width: 2.8rem;
      cursor: pointer;
    }
  }

  &-title {
    color: $color-layer;
    font-size: 3.6rem;
    margin: 2rem 0;
    @include use-font(FF-Mark-Medium);
  }

  &-warning-button {
    color: #be29cc;
    font-size: 1.2rem;
    margin: 0 auto;
    justify-content: center;
    @include flex-align-center;
    @include use-font(FF-Mark-Bold);

    @media only screen and (max-width: $px440) {
      font-size: 1rem;
    }

    &:hover {
      filter: brightness(1.1);
    }

    svg {
      margin-right: 0.4rem;
    }
  }

  &-warning-message {
    color: #be29cc;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0 2.4rem;
    @include use-font(FF-Mark-Bold);

    @media only screen and (max-width: $px540) {
      padding: 0;
    }
    @media only screen and (max-width: $px440) {
      font-size: 1rem;
    }
  }
}

.auth-form__body {
  padding: 0 2.4rem;
  margin-top: 2.6rem;

  @media only screen and (max-width: $px540) {
    padding: 0;
  }

  &-group {
    margin-bottom: 1.6rem;
    position: relative;

    &:nth-child(2) {
      margin-bottom: 2rem;
    }

    input {
      display: block;
      width: 100%;
      color: $color-layer;
      background-color: #e8f0fe;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      padding: 1.5rem 2rem;
      border: none;
      outline: none;
      border-radius: 0.2rem;
      @include use-font(Spiegel-Bold);

      &::placeholder {
        color: #565656;
        font-size: 1.2rem;
        text-transform: uppercase;
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(0.4rem);
        @include show;
      }
    }

    label {
      display: block;
      width: 100%;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      padding-left: 2rem;
      margin-right: 0.7rem;
      transform: translateY(-3.8rem);
      transition: all ease 0.2s;
      @include hide;
      @include use-font(Spiegel-Bold);
    }

    #login-form-password {
      padding: 1.5rem 5.4rem 1.5rem 2rem;

      &:not(:placeholder-shown) + label + .login-form-password__type-button {
        @include show;
      }
    }

    #signup-form-password {
      padding: 1.5rem 5.4rem 1.5rem 2rem;

      &:not(:placeholder-shown) + label + .signup-form-password__type-button {
        @include show;
      }
    }

    #forgot-password-form-new-password {
      padding: 1.5rem 5.4rem 1.5rem 2rem;

      &:not(:placeholder-shown) + label + .forgot-password-form-new-password__type-button {
        @include show;
      }
    }

    .auth-form-password__type-button {
      width: 5rem;
      height: 4.4rem;
      top: 0;
      right: 0;
      position: absolute;
      justify-content: center;
      @include flex-align-center;

      svg {
        fill: $header-bg-color;
        @include square-dimension(2rem);
      }
    }
  }

  &-button {
    width: 100%;
    background: linear-gradient(215deg, #dd4346, #d43639);
    padding: 1.35rem 0;
    margin: 0 auto;
    border-radius: 0.2rem;
    transition: all ease 0.2s;
    justify-content: center;
    opacity: 0.6;
    cursor: not-allowed;
    @include flex-align-center;

    &:hover {
      background: linear-gradient(35deg, #dd4346, #d43639);
    }

    svg {
      fill: $header-text-color;

      &:nth-child(2) {
        animation: login-loading 1.5s ease infinite;
      }
    }
  }
}

.auth-form__footer {
  padding: 0 2.4rem;
  margin-top: 2rem;

  @media only screen and (max-width: $px540) {
    padding: 0;
  }
}

.auth-form__actions {
  justify-content: space-between;
  @include flex-align-center;
  @include use-font(FF-Mark-Medium);

  a {
    color: $color-layer;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

.auth-form__options {
  margin: 2rem 0;
  justify-content: space-between;
  @include flex-align-center;

  @media only screen and (max-width: $px440) {
    justify-content: center;
    gap: 0.4rem;
  }

  &-button {
    padding: 1rem 3.2rem;
    border-radius: 0.2rem;
    justify-content: center;
    @include flex-align-center;

    @mixin button-dimension($width, $padding) {
      @media only screen and (max-width: $width) {
        padding: $padding;
      }
    }
    @include button-dimension($px440, 1rem 2.2rem);
    @include button-dimension($px340, 1rem 2rem);

    svg {
      @include square-dimension(2rem);
    }
  }

  &-google {
    background-color: $header-text-color;
    border: 1px groove #ccc;
  }

  &-facebook,
  &-github,
  &-apple {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &-facebook {
    background-color: #0966de;
    border: 1px groove #0966de;

    svg {
      fill: $header-text-color;
    }
  }

  &-github {
    background-color: $header-text-color;
    border: 1px groove #ccc;
  }

  &-apple {
    background-color: $color-layer;
    border: 1px groove $color-layer;

    svg {
      fill: $header-text-color;
    }
  }
}

// Activate //////////
.activate-form__footer {
  margin-bottom: 3.6rem;
}
