.pur {
  height: 100vh;
  overflow-y: scroll;
  @include scroll-bar(#211e1f, 0.4rem);

  &::-webkit-scrollbar {
    display: none;
  }
}

.pur-intro {
  padding: 4rem 2rem 0;
  margin-top: 8rem;
  position: relative;

  @media only screen and (max-width: $px740) {
    padding: 0;
  }
  @media only screen and (max-width: $px440) {
    margin-top: 6rem;
  }

  &__background {
    width: 100%;
    height: 66%;
    top: 0;
    left: 0;
    position: absolute;
    @include display-responsive($px740, none);

    @media only screen and (max-width: $px940) {
      height: 64%;
    }
    @media only screen and (max-width: $px840) {
      height: 62%;
    }

    img {
      width: calc(100% + 6rem);
      height: calc(100% + 6rem);
      object-fit: cover;
      margin: -4rem;
      filter: blur(1rem);
    }

    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      width: calc(100% + 6rem);
      height: calc(100% + 6rem);
      filter: blur(1rem);
      @include pseudo-element-features;
      @include absolute-position(-50%, -50%);
    }
  }

  &__content {
    width: 100%;
    max-width: 108rem;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;

    @media only screen and (max-width: $px740) {
      padding-top: 0;
    }

    &-overlay {
      border: 1px solid #444;
      z-index: 1;
      clip-path: polygon(0 0, calc(100% - 4rem) 0, 100% 4rem, 100% 100%, 0 100%);
      pointer-events: none;
      @include full-dimension;
      @include absolute-position(-50%, -50%);

      @media only screen and (max-width: $px740) {
        border: none;
        border-bottom: 1px solid #444;
        clip-path: none;
      }

      &::before {
        width: 0.2rem;
        height: 7.5rem;
        transform: skew(45deg);
        background-color: #444;
        top: 0;
        right: 0;
        @include pseudo-element-features;
        @include display-responsive($px740, none);
      }
    }

    &-image-wrapper {
      width: 100%;
      padding-top: 55.45%;
      position: relative;

      @media only screen and (max-width: $px740) {
        padding-top: 80%;
      }
      @media only screen and (max-width: $px540) {
        padding-top: 100%;
      }

      img {
        width: calc(100% + 2rem);
        height: 100%;
        object-fit: cover;
        @include absolute-position(-50%, -50%);
      }
    }

    &-text {
      text-align: center;
      padding: 4%;

      @media only screen and (max-width: $px740) {
        text-align: start;
        padding: 0;
        margin: 3rem 2rem;
      }

      a {
        min-width: 20%;
        color: $color-story;
        font-size: 1rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        transition: all ease 0.2s;
        @include use-font(Spiegel-Bold);
        @include display-responsive($px740, block);

        &:hover {
          text-decoration: underline;
        }
      }

      h2 {
        color: #e8e8e8;
        font-size: 3.6rem;
        font-style: italic;
        text-transform: uppercase;
        @include use-font(Beaufort-Bold);

        @media only screen and (max-width: $px740) {
          font-size: 2rem;
        }
      }

      p {
        color: $header-navbar-color;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        @include use-font(Spiegel-Regular);

        @media only screen and (max-width: $px740) {
          margin-top: 1rem;
          margin-bottom: 3rem;
        }
      }

      div {
        color: #e6e6e6;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        @include use-font(Spiegel-Bold);
        @include display-responsive($px740, block);

        span {
          display: block;

          &:first-child {
            margin-bottom: 0.4rem;
          }
          &:last-child {
            color: #8c8c8c;
          }
        }
      }
    }

    &-footer {
      color: #e6e6e6;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      border-top: 1px solid #444;
      justify-content: space-between;
      @include flex-align-center;
      @include use-font(Spiegel-Bold);

      &-time {
        padding: 1.5rem 3rem 1.5rem 4rem;

        @media only screen and (max-width: $px740) {
          flex: 1;
          padding: 1.5rem 3rem 1.5rem 2rem;
          border-right: 1px solid #444;
        }
      }

      &-info {
        flex: 1;
        padding: 1.5rem 0;
        border-left: 1px solid #444;
        border-right: 1px solid #444;
        @include flex-align-center;
        @include display-responsive($px740, none);

        &-more {
          padding: 0 1rem;
        }

        &-update {
          min-width: 20%;
          color: $color-story;
          text-align: right;
          text-decoration: none;
          margin-left: 1rem;
          border-right: 1px solid #444;
          transition: all ease 0.2s;

          &:hover {
            text-decoration: underline;
          }
        }

        &-collection {
          span:first-child {
            margin-right: 0.4rem;
          }
          span:last-child {
            color: #8c8c8c;
          }
        }
      }

      &-socials {
        height: 3rem;
        padding: 0 4rem 0 3rem;

        @media only screen and (max-width: $px740) {
          padding: 0 2rem;
        }

        ul {
          height: 100%;
          list-style: none;
          justify-content: space-around;
          @include flex-align-center;
        }

        li {
          height: 100%;
        }

        a:link,
        a:visited {
          display: block;
          height: 100%;
          padding: 0.8rem 1rem;
          text-decoration: none;

          &:hover svg {
            filter: brightness(1.2);
          }
        }

        svg {
          height: 100%;
          fill: $color-story;
          transition: all ease 0.2s;
        }
      }
    }
  }
}

.pur-article {
  width: 100%;
  max-width: 90rem;
  color: $header-navbar-color;
  font-size: 1.7rem;
  line-height: 1.66667;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 7rem 0;
  @include use-font(Spiegel-Regular);

  @media only screen and (max-width: $px740) {
    padding: 5rem 0;
  }
  @media only screen and (max-width: $px540) {
    font-size: 1.5rem;
    padding: 4rem 0;
  }

  &__text {
    padding: 0 2rem;

    p:not(:last-child) {
      margin-bottom: 1.4rem;

      @media only screen and (max-width: $px540) {
        margin-bottom: 0.8rem;
      }
    }

    a:link,
    a:visited {
      color: $header-navbar-color;
      text-decoration: none;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid $color-button-blue;
    }
  }

  &__tag {
    color: $header-navbar-color;
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    margin: 6.4rem 0 7rem;
    @include use-font(Beaufort-Regular);

    @media only screen and (max-width: $px740) {
      margin: 5.4rem 0 7rem;
    }
    @media only screen and (max-width: $px540) {
      margin: 4.4rem 0 6rem;
    }

    &-header {
      justify-content: flex-start;
      @include flex-align-center;

      label {
        font-size: 1.4rem;
        margin-right: 1rem;
      }

      hr {
        width: 100%;
        height: 1px;
        flex: 1 1 0%;
        border: 0px;
        background: #444;
      }
    }

    &-wrapper {
      padding: 0 0 2.5rem 2.5rem;
      border-bottom: 1px solid #444;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include flex-align-center;

      & > * {
        margin: 1.5rem 2.5rem 0 0;
      }

      button {
        color: $header-navbar-color;
        font-size: 1.2rem;
        text-transform: none;
        letter-spacing: 0.1rem;
        padding: 1rem 3rem;
        border: 1px solid #755f33;
        position: relative;
        @include use-font(Beaufort-Bold);

        &:hover::after,
        &:hover::before {
          display: block;
        }

        &::after,
        &::before {
          content: "";
          display: none;
          background-color: $header-bg-color;
          transform: rotate(45deg);
          position: absolute;
          pointer-events: none;
          @include square-dimension(2rem);
        }

        &::after {
          border-right: 1px solid #755f33;
          top: -1rem;
          left: -1rem;
        }
        &::before {
          border-left: 1px solid #755f33;
          right: -1rem;
          bottom: -1rem;
        }
      }
    }
  }

  &__video {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem 6.4rem;

    @media only screen and (max-width: $px740) {
      padding: 0 0 6.4rem;
    }
    @media only screen and (max-width: $px540) {
      padding: 0 0 5.4rem;
    }

    &-wrapper {
      width: 100%;
      padding-top: 56.25%;
      position: relative;

      iframe {
        @include full-dimension;
        @include absolute-position(-50%, -50%);
      }
    }
  }

  &__buy {
    width: 100%;
    max-width: 44rem;
    color: $header-navbar-color;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    padding: 0 2rem;
    @include use-font(Beaufort-Bold);

    &-header {
      justify-content: center;
      @include flex-align-center;

      label {
        font-size: 1.4rem;
        font-style: italic;
        margin: 0 1rem;
      }

      hr {
        width: 100%;
        height: 1px;
        flex: 1 1 0%;
        border: 0px;
        background: #444;
      }
    }

    &-content {
      padding: 2rem 0 3rem;
      text-align: center;
      border-bottom: 1px solid #444;

      button {
        background-color: transparent;
        border: 1px solid #755f33;

        &:hover {
          filter: brightness(1.2);
        }

        span {
          color: $color-story;
          transition: all ease 0.2s;
        }
      }
    }

    &-line {
      width: 1.5px;
      height: 2rem;
      background: #444;
      margin: 0 auto;
    }

    svg {
      display: block;
      width: 1.2rem;
      height: 2rem;
      margin: auto;
      fill: none;
      stroke: #444;
    }
  }

  &__card {
    width: 100%;
    max-width: 48rem;
    background-color: #121212;
    margin: 4.8rem auto 0;
    padding: 2.5rem;
    border-radius: 1.8rem;
    position: relative;

    @media only screen and (max-width: $px540) {
      transform: scale(0.9);
    }

    &-header {
      justify-content: space-between;
      @include flex-align-center;
    }

    &-logo {
      justify-content: space-between;
      @include flex-align-center;

      img {
        width: 4.8rem;
        margin-right: 1rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    &-chip {
      width: 6rem;
    }

    &-content {
      margin-top: 4.8rem;
    }

    &-details {
      &-cvc {
        font-size: 1.4rem;
      }

      &-number {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        @include use-font(Spiegel-Regular);
      }
    }

    &-info {
      margin-top: 2.4rem;
      justify-content: space-between;
      @include flex-align-center;

      &-name {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
        @include use-font(Spiegel-Regular);
      }

      &-valid {
        &-text {
          font-size: 1.4rem;
        }

        &-date {
          font-size: 1.6rem;
          line-height: 1.7rem;
        }
      }
    }
  }
}

.pur-relate {
  width: 100%;

  &__skins {
    width: 100%;
    max-width: 128rem;
    margin: 0px auto;
    padding: 2rem 4rem;
    position: relative;

    @media only screen and (max-width: $px740) {
      padding: 4rem 1.2rem 0;
    }

    &-overlay-text {
      @include text-rotate;
      top: 1rem;
      left: -10rem;
      transform: rotate(-90deg);
      transform-origin: right bottom;

      @media only screen and (max-width: $px740) {
        top: 3rem;
        left: 2rem;
        transform: none;
      }

      &::after {
        @include line-after;
      }
    }

    ul {
      width: 100%;
      margin: 1.6rem 0;
      list-style: none;
      flex-wrap: wrap;
      justify-content: flex-start;
      @include flex-align-center;

      @media only screen and (max-width: $px740) {
        justify-content: center;
      }
    }

    &-item {
      width: calc(100% / 3);
      max-width: 40rem;

      @media only screen and (max-width: $px1040) {
        width: calc(100% / 2);
      }
      @media only screen and (max-width: $px740) {
        width: 100%;
      }

      a:link,
      a:visited {
        display: block;
        color: $header-navbar-color;
        text-decoration: none;
        margin: 0.8rem;
        @include use-font(Spiegel-Bold);

        img {
          width: 100%;
          display: block;
        }
      }
    }

    &-text {
      padding: 1rem 1.2rem;
      letter-spacing: 0.1rem;

      span {
        color: $color-button-blue;
        font-size: 1rem;
        text-transform: uppercase;
      }

      h3 {
        font-size: 2.1rem;
        margin-top: 0.5rem;

        @media only screen and (max-width: $px440) {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.2rem;
        margin: 1rem 0;
        @include use-font(Spiegel-Regular);

        @media only screen and (max-width: $px440) {
          margin: 0.8rem 0;
        }
      }

      label {
        font-size: 1.2rem;
      }
    }
  }
}

.pur-footer {
  margin-top: 7.5rem;
  padding-bottom: 3rem;

  &__links {
    background-color: $color-layer;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2.4rem;
    letter-spacing: 0.1rem;
    @include use-font(FF-Mark-Bold);

    ul {
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;
      @include flex-align-center;

      @media only screen and (max-width: $px740) {
        gap: 2rem;
        flex-direction: column;
      }
    }

    a:link,
    a:visited {
      display: block;
      color: $header-text-color;
      padding: 0.8rem 1.6rem;
      text-decoration: none;
      border-radius: 0.6rem;
      transition: all ease 0.2s;

      &:hover {
        background-color: $color-button-grey;
      }
    }
  }

  &__more {
    width: 100%;
    max-width: 86rem;
    margin: 3rem auto 0;
    text-align: center;

    svg {
      width: 9.9rem;
      height: 3.2rem;
      fill: #7e7e7e;
    }

    p {
      max-width: 68rem;
      color: #7e7e7e;
      font-size: 1.3rem;
      margin: 2rem auto 0;
      padding: 0 2rem;
      @include use-font(FF-Mark-Medium);
    }
  }
}
