.server-running {
  width: 100%;
  height: 100vh;
  background-color: $header-bg-color;
  color: #ebebeb;
  background-image: url("/src/assets/img/profile-background.svg");
  background-size: cover;
  top: 0; // top is set again using JS
  position: absolute;
  z-index: 10000;
  @include use-font(FF-Mark-Medium);

  &__loading {
    @include diagonal-wipe-loading($px1040);
  }

  &__text {
    font-size: 1.2rem;
    padding-right: 1rem;
    left: 1rem;
    bottom: 1rem;
    position: absolute;

    @media only screen and (max-width: $px1040) {
      font-size: 1rem;
    }
  }
}
