#toast {
  top: 2.8rem;
  right: 2.8rem;
  position: fixed;
  z-index: 10000;

  @media only screen and (max-width: $px840) {
    top: 2rem;
    right: 2rem;
  }
}

.toast {
  min-width: 35rem;
  max-width: 45rem;
  height: 8rem;
  transition: all ease 0.24s;
  top: 0;
  right: 0;
  position: absolute;
  animation:
    toast-fade-in ease 0.4s,
    fade-out ease 1s 4s forwards;

  @media only screen and (max-width: 390px) {
    min-width: unset;
    max-width: unset;
    width: calc(100vw - 4rem);
  }

  @mixin toast-feature($image, $bright-color, $dark-color) {
    box-shadow: 0 2px 4px rgba($bright-color, 0.4);

    .toast-overlay {
      background-image: url("/src/assets/img/toast/#{$image}");
    }

    .toast-content__main {
      border-left: 0.24rem solid $bright-color;

      &-title {
        color: $bright-color;
      }
    }

    .toast-close {
      fill: $dark-color;

      &:hover {
        fill: $bright-color;
      }
    }
  }

  &.toast-welcome {
    @include toast-feature("the-soul_optimized.jpeg", #43afc2, #3b92a1);
  }

  &.toast-information {
    @include toast-feature("information_optimized.jpeg", #dbf9ff, #b7cace);
  }

  &.toast-abilities {
    @include toast-feature("yasuo-bloodmoon_optimized.jpg", #f94646, #c63737);
  }

  &.toast-skins {
    @include toast-feature("looks_optimized.jpeg", #ffa43c, #c9812e);
  }

  &.toast-ruined {
    @include toast-feature("ruined_optimized.jpeg", #4bc497, #3a9775);
  }

  &.toast-gallery {
    @include toast-feature("blossom_optimized.jpeg", #fb9ec5, #cf7fa0);
  }

  &.toast-success {
    @include toast-feature("blossom_optimized.jpeg", #47d764, #52d26c);
  }

  &.toast-fail {
    @include toast-feature("oops_optimized.png", #f94646, #c63737);
  }

  &.toast-warning {
    @include toast-feature("the-soul_optimized.jpeg", #be29cc, #bb35c7);
  }

  &-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include full-dimension;
  }

  &-content {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: absolute;
    @include full-dimension;
    @include flex-align-center;

    &__main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      color: #fff;
      padding: 1rem 0 1rem 2.4rem;

      &-title {
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        @include use-font(Spiegel-Regular);
      }

      &-content {
        font-size: 1rem;
        margin-top: 0.2rem;
        letter-spacing: 0.2rem;
        @include use-font(Spiegel-Bold);
      }
    }

    &__right {
      width: 6rem;
      justify-content: center;
      @include flex-align-center;
    }
  }

  &-close {
    margin: 0 2rem 0 1rem;
    transition: all ease 0.2s;
    cursor: pointer;
    @include square-dimension(2.6rem);
  }
}
