.sub-header {
  @include bg-sub-header;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  .yasuo-heading {
    @include useFont(Beaufort-Regular);
    @include fadeInOpa(1.5s);
    @include center-absolute;
    font-size: 6rem;

    @mixin yasuo-heading--font-size($width, $size) {
      @media only screen and (max-width: $width) {
        font-size: $size;
      }
    }

    @include yasuo-heading--font-size(65em, 5.5rem); // 1040px
    @include yasuo-heading--font-size(40em, 5rem); // 640px
    @include yasuo-heading--font-size(27.5em, 4rem); // 440px

    .yasuo {
      @include abs;
      @include fifty-fifty;
      letter-spacing: 1rem;
      transform: translate(-65%, -55%);

      &::after {
        @include primary-background(1);
        content: 'YASU';
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .yasuo-round {
      @include abs;
      @include fifty-fifty;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transform: translate(140%, -55%);
      background-image: url('../../src/assets/img/subHeader/sub-header-yasuo-logo.jpeg');
      background-position: 60% 32%;
      background-size: 350%;

      // 1040px
      @media only screen and (max-width: 65em) {
        width: 4.5rem;
        height: 4.5rem;
      }
      // 640px
      @media only screen and (max-width: 40em) {
        width: 4rem;
        height: 4rem;
      }
      // 440px
      @media only screen and (max-width: 27.5em) {
        width: 3.8rem;
        height: 3.8rem;
      }

      &::before {
        @include dimension100;
        @include sub-abs;
        @include primary-background(0.7);
        border-radius: 50%;
      }

      &__frame {
        @include abs;
        width: 5.6rem;
        height: 5.6rem;
        top: -0.26rem;
        left: -0.26rem;

        @mixin yasuo_round__frame--dimension($width, $dimension) {
          @media only screen and (max-width: $width) {
            width: $dimension;
            height: $dimension;
          }
        }

        @include yasuo_round__frame--dimension(65em, 5rem); // 1040px

        // 640px
        @media only screen and (max-width: 40em) {
          width: 4.6rem;
          height: 4.6rem;
        }
        // 440px
        @media only screen and (max-width: 27.5em) {
          width: 4.4rem;
          height: 4.4rem;
        }
      }
    }
  }

  &__content {
    @include flex-align-center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 110rem;
    margin: 0 6rem;

    #homepage__logo {
      width: 8rem;
      filter: brightness(0.75);
      transition: all ease 0.3s;

      &:hover {
        filter: brightness(0.9);
        cursor: pointer;
      }
    }

    &-login {
      @include flex-align-center;
      cursor: pointer;

      &:hover &-icon {
        transform: translateX(7.2rem);
      }

      &:hover &-title {
        filter: brightness(1.2);
      }

      &-icon,
      &-title {
        transition: all ease 0.15s;
      }

      &-icon {
        fill: $color-primary-light;
        margin-right: 0.6rem;
      }

      &-title {
        @include useFont(FF-Mark);
        color: $color-primary-light;
        text-transform: uppercase;
        font-size: 1.4rem;
      }
    }
  }
}

.sub-header-line {
  grid-column: 1 / -1;
  width: 126rem;
  position: relative;
  left: 50%;
  bottom: 1.8rem;
  transform: translateX(-50%);
  z-index: 2;

  @mixin sub-header-line--bottom($width, $bottom) {
    @media only screen and (max-width: $width) {
      bottom: $bottom;
    }
  }

  // 1140px
  // @include sub-header-line--bottom(71.25em, 1.rem);

  // @media only screen and (max-width: 71.25em) {
  //   bottom: 1.95rem;
  // }
  // 1040px
  // @media only screen and (max-width: 65em) {
  //   bottom: 1.85rem;
  // }
  // // 940px
  // @media only screen and (max-width: 58.75em) {
  //   bottom: 1.75rem;
  // }
  // // 840px
  // @media only screen and (max-width: 52.5em) {
  //   bottom: 1.65rem;
  // }
  // // 740px
  // @media only screen and (max-width: 46.25em) {
  //   bottom: 1.55rem;
  // }
  // // 640px
  // @media only screen and (max-width: 40em) {
  //   bottom: 1.2rem;
  // }
  // // 540px
  // @media only screen and (max-width: 33.75em) {
  //   bottom: 1rem;
  // }
}
