.sub-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  @include bg-sub-header;
  @include use-font(Beaufort-Regular);

  @mixin yasuo-round-dimension($width, $dimension, $type: none-type) {
    @media only screen and (max-width: $width) {
      @if $type == none-type {
        @include square-dimension($dimension);
      } @else if $type == width-type {
        width: $dimension;
      }
    }
  }
  @mixin yasuo-round-position($width, $x-translate, $y-translate) {
    @media only screen and (max-width: $width) {
      transform: translate($x-translate, $y-translate);
    }
  }
  @mixin yasuo-heading-font-size($width, $size) {
    @media only screen and (max-width: $width) {
      font-size: $size;
    }
  }
  @mixin yasuo-heading-position($width, $left) {
    @media only screen and (max-width: $width) {
      left: $left;
    }
  }

  .yasuo-heading {
    font-size: 6rem;
    @include absolute-position(-50%, -50%);
    @include yasuo-heading-font-size($px1040, 5.6rem);
    @include yasuo-heading-font-size($px840, 5.2rem);
    @include yasuo-heading-font-size($px640, 4.8rem);
    @include yasuo-heading-font-size($px440, 4.4rem);
    @include yasuo-heading-position($px840, 16rem);
    @include yasuo-heading-position($px640, 12rem);
    @include yasuo-heading-position($px540, 7rem);

    .yasuo {
      letter-spacing: 1rem;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include primary-background(1);
      @include absolute-position(-65%, -55%);

      @media only screen and (max-width: $width) {
        letter-spacing: 0.4rem;
      }

      &--1 {
        @include display-responsive($px540, none);
      }

      &--2 {
        display: none;
        @include display-responsive($px540, block);
        @include display-responsive($px440, none);
      }
    }

    .yasuo-round {
      border-radius: 50%;
      background-image: url('../../src/assets/img/subHeader/sub-header-yasuo-logo.jpeg');
      background-position: 60% 32%;
      background-size: 350%;
      @include square-dimension(5.1rem);
      @include absolute-position(140%, -55%);
      @include yasuo-round-dimension($px1040, 4.7rem);
      @include yasuo-round-dimension($px840, 4.3rem);
      @include yasuo-round-dimension($px640, 3.9rem);
      @include yasuo-round-dimension($px440, 3.5rem);
      @include yasuo-round-position($px540, 65%, -55%);
      @include yasuo-round-position($px440, -110%, -55%);

      &::before {
        border-radius: 50%;
        @include full-dimension;
        @include primary-background(0.6);
        @include sub-abs;
      }

      &__frame {
        @include abs;
        top: -0.26rem;
        left: -0.26rem;
        @include square-dimension(5.6rem);
        @include yasuo-round-dimension($px1040, 5.2rem);
        @include yasuo-round-dimension($px840, 4.8rem);
        @include yasuo-round-dimension($px640, 4.4rem);
        @include yasuo-round-dimension($px440, 4rem);
      }
    }
  }

  &__content {
    justify-content: space-between;
    max-width: 110rem;
    margin: 0 7.4rem;
    @include full-dimension;
    @include flex-align-center;

    @media only screen and (max-width: $px840) {
      justify-content: flex-end;
    }
    @media only screen and (max-width: $px640) {
      margin: 0 3rem;
    }

    #homepage__logo {
      width: 8rem;
      filter: brightness(0.75);
      transition: all ease 0.3s;
      @include yasuo-round-dimension($px1040, 7rem, width-type);
      @include display-responsive($px840, none);

      &:hover {
        filter: brightness(0.9);
        cursor: pointer;
      }
    }

    &-login {
      cursor: pointer;
      @include flex-align-center;

      &:hover &-icon {
        transform: translateX(7.2rem);
      }

      &:hover &-title {
        filter: brightness(1.2);
      }

      %ub-header__content-login--transition {
        transition: all ease 0.15s;
      }

      &-icon {
        fill: $color-primary-light;
        margin-right: 0.6rem;
        @extend %ub-header__content-login--transition;
      }

      &-title {
        color: $color-primary-light;
        text-transform: uppercase;
        font-size: 1.4rem;
        @include use-font(FF-Mark);
        @extend %ub-header__content-login--transition;
      }
    }
  }
}

.sub-header-line {
  grid-column: 1 / -1;
  width: 126rem;
  position: relative;
  left: 50%;
  bottom: 1.8rem;
  transform: translateX(-50%);
  z-index: 2;

  @mixin sub-header-line-position($width, $width-prop, $left, $bottom) {
    @media only screen and (max-width: $width) {
      width: $width-prop;
      left: $left;
      bottom: $bottom;
    }
  }
  @include sub-header-line-position($px840, 176rem, 0, 2.2rem);
  @include sub-header-line-position($px640, 146rem, 0, 1.8rem);
}
