.trailer__bg-big,
.trailer__bg-big-overlay {
  @include dimension100;
  @include abs;
  @include zero-zero;
}

.trailer {
  grid-column: 1 / -1;
  position: relative;

  // Big background
  &__bg-big {
    overflow: hidden;
    z-index: 0;
    filter: blur(0.4rem);

    &-video {
      @include dimension100;
      @include video;
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  // Small background
  &__bg-small {
    width: calc(100% - 12rem);
    max-width: $width;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;

    @include abs;
    @include fifty-fifty;
    transform: translate(-50%, -38%);

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 4rem);
      height: 110%;
      top: 46%;
    }

    &-video {
      @include dimension100;
      @include video;
      // object-fit: cover;
      // object-position: center;
      filter: brightness(60%);

      // 640px
      @media only screen and (max-width: 40em) {
        object-position: 80% 50%;
      }
    }

    &-border {
      width: calc(100% - 2rem);
      height: calc(100% + 2rem);
      border: 1px solid $main-border;

      @include center-absolute;
    }
  }

  // Content
  &__content {
    width: 50rem;
    text-align: center;
    animation: fadeInOpa linear 1s;
    z-index: 2;

    @include abs;
    @include fifty-fifty;
    transform: translate(-50%, -30%);

    // 1040px
    @media only screen and (max-width: 65em) {
      width: 45rem;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: 35rem;
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      width: 30rem;
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      width: 25rem;
    }

    &-img {
      width: 100%;
      transition: all linear 0.2s;
    }

    &-button {
      width: 19.5rem;
      height: 5.6rem;
      padding: 0 4rem;
      margin-top: 1rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

      position: relative;

      // 640px
      @media only screen and (max-width: 40em) {
        width: 15.5rem;
        height: 4.6rem;
        padding: 0 1.5rem;
      }

      .play-for-free {
        font-family: Spiegel-Bold, Arial, sans-serif;
        font-size: 1.3rem;
        color: $text-color;
        letter-spacing: 0.1rem;

        // 640px
        @media only screen and (max-width: 40em) {
          font-size: 1rem;
        }
      }

      &::after {
        @include button-after;
        background-color: $button-color-blue-hover;
      }

      @media (hover: hover) {
        &:hover {
          transform: translateY(-0.4rem);

          &::after {
            transform: scale(1.5);
            opacity: 0;
          }
        }
      }

      &:active {
        transform: translateY(0.4rem);
      }
    }
  }
}
