// Color
@mixin primary-background($opa) {
  background-image: linear-gradient(
    to bottom,
    rgba($color-primary-dark, $opa),
    rgba($color-primary-light, $opa)
  );
  -webkit-background-image: -webkit-linear-gradient(
    to bottom,
    rgba($color-primary-dark, $opa),
    rgba($color-primary-light, $opa)
  );
}

@mixin background-clip-text {
  // Use backgound-clip directly on selector, not parent selector
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bg-sub-header {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

// Font
@mixin use-font($font-name) {
  font-family: $font-name, Arial, sans-serif;
}

// Position
@mixin absolute-position($x-translate, $y-translate, $type: absolute) {
  position: $type;
  top: 50%;
  left: 50%;
  transform: translate($x-translate, $y-translate);
}

// Display
@mixin display-responsive($width, $display) {
  @media only screen and (max-width: $width) {
    display: $display !important;
  }
}

@mixin hide {
  opacity: 0;
  pointer-events: none;
}

@mixin show {
  opacity: 1;
  pointer-events: all;
}

// Dimension
@mixin full-dimension {
  width: 100%;
  height: 100%;
}

@mixin square-dimension($dimension) {
  width: $dimension;
  height: $dimension;
}

// Position
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

// Pseudo
@mixin pseudo-element-features {
  content: '';
  position: absolute;
  display: block;
}

// Assets
@mixin scroll-bar($bg-color, $radius) {
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-color;
    border-radius: $radius;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.12);
  }
}

/////////////////////

@mixin line {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.4em;
  height: 1px;
  background-color: currentcolor;
}
@mixin line-before {
  @include line;
  margin-right: 0.7rem;
}
@mixin line-after {
  @include line;
  margin-left: 0.5rem;
}

@mixin border-non-top {
  border-left: 1px solid $main-border;
  border-right: 1px solid $main-border;
  border-bottom: 1px solid $main-border;
}

@mixin text-rotate {
  font-family: Spiegel-Bold, Arial, sans-serif;
  font-size: 1rem;
  color: $header-text-color;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  @include abs;
  top: 50%;
  left: 0;
}

// Skins
@mixin center_from_top {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center_from_left {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center_with_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin skins_container {
  max-width: 146rem;
  height: 84rem;

  // 1240px
  @media only screen and (max-width: 77.5em) {
    height: 73rem;
  }

  // 1140px
  @media only screen and (max-width: 71.25em) {
    height: 67rem;
  }

  // 1040px
  @media only screen and (max-width: 65em) {
    height: 62rem;
  }

  // 940px
  @media only screen and (max-width: 58.75em) {
    height: 56rem;
  }

  // 840px
  @media only screen and (max-width: 52.5em) {
    height: 51rem;
  }

  // 740px
  @media only screen and (max-width: 46.25em) {
    height: 44rem;
  }

  // 640px
  @media only screen and (max-width: 40em) {
    height: 80rem;
  }

  // 440px
  @media only screen and (max-width: 27.5em) {
    height: 70rem;
  }
}

@mixin square-border {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #423a26;
  transform: rotate(45deg);

  position: absolute;
}

// Keyframes //////////////////////// Not used in some files
@mixin fadeInOpa($s) {
  animation: fadeInOpa linear $s;
  -webkit-animation: fadeInOpa $s;
}
