// Colors
$color-primary-dark: #67471f;
$color-primary-light: #cbac62;

//////////
// Blue button sub-header
$button-color-blue: #2fc1db;
$button-color-blue-hover: #25d8f6;
$text-color: #010101;
$canvas-color: #7e7e7e;

//////////
$header-bg-color: rgb(12, 12, 12);
$header-text-color: rgb(249, 249, 249);
$header-navbar-color: rgb(217, 217, 217);
$arrow-color: rgb(126, 126, 126);
$bg-link-header: #333333;
$color-layer: #171717;
$color-button-blue: #1db2cf;
$color-button-blue-dark: #0f8ca4;
$color-globe: #c28f2b;
$color-button-grey: #282828;

// Dimension
$width: 160rem;
