.sb-ag-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;
  @include abs;
  top: 0;
  left: 0;
  @include hide;

  &.show {
    @include show;

    .sb-ag {
      animation: navbarXg linear 0.2s;

      &-header,
      &-body {
        @include show;
      }
    }
  }

  // display: none;

  .sb-ag {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 160rem;
    background-color: $header-bg-color;
    border-bottom: 1px groove $color-button-blue;
    box-shadow: 0 1px 3px rgba(rgb(115, 115, 115), 0.2),
      0 1px 2px rgba(rgb(136, 136, 136), 0.4);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &.close-special {
      animation: navbarXgClose linear 0.4s;

      .sb-ag-header,
      .sb-ag-body {
        opacity: 0;
      }
    }

    // 1040px
    @media only screen and (max-width: 65em) {
      max-width: 48rem;
      height: 100vh;
      border-right: 1px groove $color-button-blue;
      border-bottom: none;
      overflow-y: scroll;

      left: 0;
      transform: translateX(0);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      max-width: 100%;
      border-right: none;
    }

    &::-webkit-scrollbar {
      @media only screen and (max-width: 65em) {
        display: none;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 8rem;
      padding: 0 3rem;

      transition: all linear 0.2s;

      @include hide;

      // 1040px
      @media only screen and (max-width: 65em) {
        padding: 3rem 2.4rem;
      }

      &__ag {
        &-back {
          display: flex;
          align-items: center;
          justify-content: space-between;

          cursor: pointer;

          &:hover .sb-ag-header__ag-back-icon,
          &:hover .sb-ag-header__ag-back-icon-up {
            fill: red;
          }

          &-icon {
            fill: $header-text-color;
            transition: all linear 0.2s;
          }

          &-icon-up {
            width: 1.5rem;
            height: 1.5rem;
            fill: #7e7e7e;
            margin-left: 0.2rem;
            transform: rotate(180deg);
            transition: fill linear 0.2s;
          }
        }
      }

      &__close {
        width: 3rem;
        height: 3rem;
        border-radius: 0.6rem;
        transition: all linear 0.2s;
        cursor: pointer;

        position: relative;

        &:hover {
          .sb-ag-header__close-icon {
            fill: red;
          }
        }

        &-icon {
          width: 2rem;
          height: 2rem;
          fill: $header-text-color;
          transition: all linear 0.2s;
          @include absolute-position(-50%, -50%);
        }
      }
    }

    &-body {
      flex: 1;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;
      padding: 0 3rem;
      transition: all linear 0.2s;

      @include hide;

      // 1040px
      @media only screen and (max-width: 65em) {
        flex-direction: column;
        padding: 0 0.8rem;
      }

      &__left {
        columns: auto 3;
        column-gap: 1rem;

        width: 50%;
        background-color: $header-bg-color;
        padding: 0 0.8rem;

        // 1040px
        @media only screen and (max-width: 65em) {
          width: 100%;
          columns: auto 1;
        }

        &-cover {
          break-inside: avoid;

          height: auto;
          font-size: 1.2rem;
          padding-bottom: 1.6rem;
          text-transform: uppercase;

          // 1040px
          @media only screen and (max-width: 65em) {
            font-size: 1.4rem;
            height: 4.6rem;
            overflow: hidden;
            transition: all linear 0.2s;

            &.show {
              padding: 0;

              &.show.sb-ag-body__left-cover--1 {
                height: 9.5rem;
              }
              &.show.sb-ag-body__left-cover--2 {
                height: 25.4rem;
              }
              &.show.sb-ag-body__left-cover--3 {
                height: 25.4rem;
              }
              &.show.sb-ag-body__left-cover--4 {
                height: 13.5rem;
              }
              &.show.sb-ag-body__left-cover--5 {
                height: 17.4rem;
              }
              &.show.sb-ag-body__left-cover--6 {
                height: 21.4rem;
              }

              .ag-mobile__icon {
                transform: rotate(180deg);
              }
            }
          }
        }

        &-title {
          font-family: FF-Mark-Medium, Arial, sans-serif;
          color: rgb(209, 209, 209);
          background-color: rgb(21, 21, 21);
          padding: 0.8rem 1.6rem;
          margin-bottom: 0.4rem;
          border-radius: 0.6rem;

          // 1040px
          @media only screen and (max-width: 65em) {
            background-color: rgb(21, 21, 21);
            transition: all linear 0.1s;
            cursor: pointer;

            &:hover {
              background-color: rgb(27, 27, 27);
            }
          }
        }

        &-link:link,
        &-link:visited {
          display: block;
          font-family: FF-Mark, Arial, sans-serif;
          color: rgb(168, 168, 168);
          padding: 0.8rem 1.6rem;
          margin: 0.4rem 0;
          border-radius: 0.6rem;
          text-decoration: none;
          transition: all linear 0.1s;
        }

        &-link:hover {
          background-color: rgb(27, 27, 27);
          color: rgb(209, 209, 209);
        }

        &-item {
          color: inherit;
        }
      }

      &__right {
        flex: 1;

        display: flex;
        gap: 1.6rem;

        width: 50%;
        padding: 0 0.8rem;

        // 1040px
        @media only screen and (max-width: 65em) {
          gap: 1.2rem;
          width: 100%;
          margin: 1.2rem 0 3.6rem;
        }

        // 640px
        @media only screen and (max-width: 40em) {
          display: block;
          margin-bottom: 0;
        }

        &-cover {
          cursor: pointer;

          &:hover {
            &.show.sb-ag-body__right-img {
              box-shadow: 0 14px 28px rgba(#fff, 0.05),
                0 10px 10px rgba(#fff, 0.02);
            }
          }
        }

        &-img {
          display: block;

          width: 100%;
          border-radius: 0.6rem;
          box-shadow: 0 1px 3px rgba(rgb(151, 151, 151), 0.12),
            0 1px 2px rgba(#fff, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        &-text-detailed {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.3rem;
          color: rgb(209, 209, 209);
          margin-top: 1.6rem;

          // 1040px
          @media only screen and (max-width: 65em) {
            margin: 0.8rem;
          }

          // 640px
          @media only screen and (max-width: 40em) {
            margin: 0.4rem 0 1.6rem;
          }
        }
      }
    }
  }
}

// Mobile
.sb-ag-body__left-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ag-mobile__icon {
  display: none;

  width: 3rem;
  height: 1.5rem;
  fill: rgb(209, 209, 209);
  transition: all linear 0.2s;

  position: relative;
  left: 0.6rem;

  // 1040px
  @media only screen and (max-width: 65em) {
    display: block;
  }
}

// Hover
.sb-ag-body__right--hover {
  width: 100%;

  position: relative;

  .sb-ag-body__right--hover-frame {
    width: 100%;
    padding-top: 45%;
  }

  .ag__hover-content {
    width: 50%;
    height: 100%;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    text-align: center;
    clip-path: polygon(77% 0, 63% 90%, 100% 100%, 100% 101%, 0% 101%, 0% 0%);
    z-index: 1;

    @include abs;
    top: 0;
    left: 0;

    &--child {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      width: 76%;
      padding: 13% 8% 7.5% 0%;
      height: 100%;
    }

    .ag__hover-imgs-cover {
      flex-grow: 0.7;

      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .ag__hover-imgs {
      width: 65%;

      &.hide {
        display: none;
      }

      &--text {
        font-family: FF-Mark-Medium, Arial, sans-serif;
        font-size: 2.2rem;
        color: rgb(209, 209, 209);

        &.hide {
          display: none;
        }
      }
    }

    .ag__hover-text {
      width: 80%;
      font-family: FF-Mark-Medium, Arial, sans-serif;
      font-size: 0.8rem;
      color: #c7c7c7;
      text-transform: uppercase;
    }

    .ag__hover-icon {
      display: flex;
      align-items: center;

      height: 1.6rem;
      background-color: rgba(128, 128, 128, 0.2);
      padding: 0 0.8rem;
      border-radius: 1.6rem;

      &.hide {
        display: none;
      }

      &--1,
      &--2,
      &--3 {
        fill: #fff;
        margin: 0 0.2rem;

        display: none;

        &.show {
          display: block;
        }
      }
    }
  }
  .ag__hover-img {
    width: 80%;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;

    position: absolute;
    top: 0;
    right: 0;
  }
}

.sb-ag-body__right {
  &.hide &-cover {
    display: none;
  }
}
