.explore-games {
  width: 100%;
  background-color: $header-bg-color;
  border-bottom: 1px groove $color-button-blue;
  top: 0;
  position: fixed;
  z-index: 1001;

  // &.close-special {
  //   animation: navbarXgClose linear 0.45s;
  // }

  // &.show {
  //   animation: navbarXg linear 0.2s forwards;
  // }

  // // 1040px
  // @media only screen and (max-width: 65em) {
  //   max-width: 104rem;
  //   height: 100vh;
  //   border-bottom: none;

  //   overflow-y: scroll;
  // }
}

.explore-games__header {
  height: 7.2rem;
  color: $header-text-color;
  text-transform: uppercase;
  padding: 3.2rem;
  transition: all ease 0.2s;
  justify-content: space-between;
  @include flex-align-center;

  // // 1040px
  // @media only screen and (max-width: 65em) {
  //   padding: 1.2rem 1.8rem;
  // }
  // // 640px
  // @media only screen and (max-width: 40em) {
  //   padding: 1.6rem 1.2rem 0.6rem;
  // }

  &-riot {
    font-size: 2rem;
    cursor: pointer;
    @include use-font(FF-Mark-Bold);

    // // 1040px
    // @media only screen and (max-width: 65em) {
    //   margin: 0;
    // }
    // // 640px
    // @media only screen and (max-width: 40em) {
    //   font-size: 1.8rem;
    // }
    // // 340px
    // @media only screen and (max-width: 21.25em) {
    //   display: none;
    // }
  }

  &-more {
    justify-content: space-between;
    @include flex-align-center;

    // // 1040px
    // @media only screen and (max-width: 65em) {
    //   margin-right: 0;
    // }
    // // 340px
    // @media only screen and (max-width: 21.25em) {
    //   flex: 1;
    // }

    &-visit {
      font-size: 1.1rem;
      padding: 0.43rem 1.2rem;
      margin-right: 0.6rem;
      border-radius: 0.6rem;
      transition: all ease 0.2s;
      top: 0.1rem;
      position: relative;
      cursor: pointer;
      @include use-font(FF-Mark);

      // @media only screen and (max-width: 21.25em) {
      //   font-size: 1.4rem;
      //   padding: 0;
      // }

      &:hover {
        color: $color-button-blue;
      }
    }

    &-close {
      background-color: rgb(50, 50, 50);
      border-radius: 0.6rem;
      cursor: pointer;
      justify-content: space-around;
      @include flex-align-center;
      @include square-dimension(2.4rem);

      // // 1040px
      // @media only screen and (max-width: 65em) {
      //   width: 3.6rem;
      //   height: 3.6rem;
      // }
      // // 640px
      // @media only screen and (max-width: 40em) {
      //   width: 3.6rem;
      //   height: 3.6rem;
      // }

      &-icon {
        fill: #fff;
        @include square-dimension(1.6rem);
      }
    }
  }
}

.explore-games__body {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(8, 1fr);
  padding: 0 3.2rem 3.2rem;

  // // 1040px
  // @media only screen and (max-width: 65em) {
  //   grid-gap: 1.6rem;
  //   grid-template-columns: repeat(2, 1fr);
  //   padding: 0 2rem 2rem;
  // }
  // // 640px
  // @media only screen and (max-width: 40em) {
  //   grid-gap: 0.8rem;
  //   padding: 1rem;
  // }

  &-poster {
    transition: all linear 0.2s;

    &:nth-child(1),
    &:nth-child(2) {
      grid-column: span 2;
    }
  }

  .eg-poster {
    color: rgb(209, 209, 209);
    font-size: 1.1rem;
    text-decoration: none;
    @include use-font(FF-Mark);

    &:hover .eg-poster-img {
      box-shadow: 0 14px 28px rgba(#fff, 0.1);
    }

    &-img {
      width: 100%;
      border-radius: 0.4rem;
      transition: all ease 0.2s;
    }

    &__description {
      padding-top: 1rem;

      &:nth-last-child(1) {
        // 1040px
        @media only screen and (max-width: 65em) {
          padding-bottom: 1rem;
        }
      }

      // 1040px
      @media only screen and (max-width: 65em) {
        font-size: 1.6rem;
        padding-top: 0.2rem;
      }
    }

    &__download {
      display: flex;
      gap: 0.8rem;

      fill: rgb(209, 209, 209);
      margin-top: 0.8rem;

      // 1040px
      @media only screen and (max-width: 65em) {
        padding-bottom: 0.8rem;
      }

      &-window-icon,
      &-macOS-icon {
        // 1040px
        @media only screen and (max-width: 65em) {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }
}
