.footer {
  width: 100%;

  &__1 {
    @include center_with_flex;

    background-color: rgb(6, 28, 37);
    padding: 1.2rem 0;
    border-top: 1px solid $main-border;
    border-bottom: 1px solid $main-border;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 100%;
      max-width: 140rem;
      color: #d1dade;
      margin: 0 6rem;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        flex-direction: column;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        margin: 0 2rem;
      }

      &--1 {
        font-family: Beaufort-Regular, Arial, sans-serif;
        font-size: 1.6rem;
      }

      &--2 {
        font-family: Spiegel-Regular, Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        margin: 0.8rem 0;
        text-align: center;
      }

      &--3 {
        display: flex;
        align-items: center;
        justify-content: space-around;

        & > * {
          cursor: pointer;
          transition: all linear 0.1s;

          &:hover {
            transform: translateY(-0.2rem);
          }
        }

        &-AS {
          width: 11rem;
        }

        &-GL {
          width: 14rem;
        }
      }
    }
  }

  &__2 {
    @include center_with_flex;

    background-color: #292929;
    padding: 2.2rem 0;

    // 1240px
    @media only screen and (max-width: 77.5em) {
      padding: 1.2rem 0;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 100%;
      max-width: 120rem;

      margin: 0 6rem;
      list-style: none;

      // 1240px
      @media only screen and (max-width: 77.5em) {
        flex-direction: column;
      }

      & > * {
        font-family: FF-Mark, Arial, Helvetica, sans-serif;
        font-size: 1.3rem;

        // 1240px
        @media only screen and (max-width: 77.5em) {
          padding: 1.2rem 2rem;
        }
      }

      &-link {
        color: $header-text-color;
        text-decoration: none;
        border-radius: 0.6rem;
        padding: 0.8rem 1.6rem;
        transition: all linear 0.1s;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #404040;
        }
      }
    }
  }

  &__3 {
    @include center_with_flex;
    flex-direction: column;

    background-color: #111111;

    &-social {
      display: flex;
      align-items: center;
      justify-content: space-between;

      min-width: 22rem;
      padding: 2.4rem 0 1rem;

      &-item {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        background-color: #323232;
        border-radius: 1.2rem;
      }

      &-link {
        width: 100%;
        height: 100%;
        @include center_with_flex;
      }

      &-icon {
        width: 50%;
        height: 50%;
        fill: #fff;
        stroke: #fff;
        stroke-width: 0;
      }
    }

    &-riot {
      padding: 2.4rem 0 2rem;

      &-icon {
        fill: #737373;
      }
    }

    &-copyright {
      max-width: 64rem;
      font-family: FF-Mark, Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      color: #7e7e7e;
      margin: 0 6rem;
      text-align: center;
    }

    &-privacy {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 2.4rem 0 2.8rem;
      list-style: none;

      // 740px
      @media only screen and (max-width: 46.25em) {
        flex-direction: column;
      }

      &-item {
        // 740px
        @media only screen and (max-width: 46.25em) {
          &:nth-child(2) {
            margin: 2rem 0;
          }
        }
      }

      &-link,
      &-link:visited,
      &-link:active {
        font-family: FF-Mark, Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        color: #fff;
        padding: 0.8rem 1.6rem;
        border-radius: 0.6rem;
        text-decoration: none;
        transition: all linear 0.1s;

        &:hover {
          background-color: #323232;
        }
      }
    }

    &-rating {
      display: flex;

      background-color: #323232;
      border-radius: 0.6rem;
      padding: 0.8rem 1.2rem;

      // 440px
      @media only screen and (max-width: 27.5em) {
        transform: scale(0.8);
      }

      &-rate {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        margin-left: 1.2rem;
        list-style: none;

        &-item {
          font-family: FF-Mark, Arial, Helvetica, sans-serif;
          font-size: 1.3rem;
          color: #fff;
        }
      }
    }
  }
}

.author {
  font-family: Spiegel-Regular;
  color: #7e7e7e;
  margin: 1.6rem 0 3.2rem;
  text-align: center;

  &-info {
    font-size: 1.2rem;
  }

  &-quote {
    font-size: 1rem;
  }
}
