.ruined {
  width: 100%;
  height: 70rem;
  background-color: #0c0c0c;

  position: relative;

  &__king {
    height: 100%;
    transform: translate(-10rem, -2rem) scale(1.2);

    // 840px
    @media only screen and (max-width: 52.5em) {
      transform: translate(-14rem, -2rem) scale(1.2);
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      transform: translate(-18rem, -2rem) scale(1.2);
      -webkit-transform: translate(-18rem, -2rem) scale(1.2);
    }
  }

  &__banner-cover {
    width: calc(100% - 12rem);
    max-width: 160rem;
    height: 65rem;
    @include absolute-position(-50%, -50%);

    // 740px
    @media only screen and (max-width: 46.25em) {
      width: calc(100% - 8rem);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 6rem);
    }
  }

  &__banner {
    width: 36%;
    height: 20%;
    font-family: Spiegel-Regular, Arial, Helvetica, sans-serif;
    background-color: rgb(12, 47, 63);
    color: #fff;
    padding: 2.4rem 7rem 2rem;

    // 1240px
    @media only screen and (max-width: 77.5em) {
      padding: 2.4rem 6rem 3rem 4rem;
    }

    // 1140px
    @media only screen and (max-width: 71.25em) {
      height: 16%;
      padding: 2rem 6rem 3rem 4rem;
    }

    // 940px
    @media only screen and (max-width: 58.75em) {
      padding: 1.6rem 4rem 3rem 3rem;
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      padding: 1.6rem 1.6rem 3rem 2rem;
    }

    // 740px
    @media only screen and (max-width: 46.25em) {
      height: 10%;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      height: 8%;
      padding: 1.4rem 1.6rem 1.6rem 2rem;
    }

    // 540px
    @media only screen and (max-width: 33.75em) {
      display: none;
    }

    @include abs;
    left: 0;
    bottom: 0;

    &-title {
      font-size: 2.4rem;
      margin-bottom: 0.6rem;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 2rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        font-size: 1.6rem;
      }
    }

    &-desc {
      font-size: 1.4rem;

      // 1140px
      @media only screen and (max-width: 71.25em) {
        font-size: 1rem;
      }

      // 740px
      @media only screen and (max-width: 46.25em) {
        display: none;
      }
    }
  }

  &__bg {
    width: calc(100% - 12rem);
    max-width: 160rem;
    height: 65rem;
    background-image: url("/src/img/Ruined/RuinedKing_Yasuo_PromoModule01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
    @include absolute-position(-50%, -50%);

    // 740px
    @media only screen and (max-width: 46.25em) {
      width: calc(100% - 8rem);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 6rem);
    }

    &-logo {
      width: 16rem;

      position: absolute;
      top: 2rem;
      @include center_from_left;

      display: none;

      // 540px
      @media only screen and (max-width: 33.75em) {
        display: block;
      }
    }
  }

  &__bg-border {
    width: calc(100% - 12rem - 2rem);
    max-width: calc(160rem - 2rem);
    height: calc(65rem + 2rem);
    border: 1px solid $main-border;
    @include absolute-position(-50%, -50%);

    pointer-events: none;

    // 740px
    @media only screen and (max-width: 46.25em) {
      width: calc(100% - 8rem - 2rem);
    }

    // 640px
    @media only screen and (max-width: 40em) {
      width: calc(100% - 6rem - 2rem);
    }
  }
}

.ruined-sub {
  grid-column: Full-start / Full-end;
  content: "";
  background-color: rgb(12, 47, 63);
  height: 2rem;
}
