.skins {
  $height: 108rem;
  width: 100%;
  height: $height;
  background-color: $header-bg-color;
  position: relative;

  $map: (
    $px1540: 0.3,
    $px1440: 0.8,
    $px1340: 1.4,
    $px1240: 2,
    $px1140: 2.7,
    $px1040: 3.2,
    $px940: 3.8,
    $px840: 4.65,
    $px740: 4.95,
    $px640: 4.35,
    $px540: 4.95,
    $px440: 5.45,
    $px340: 6.05,
  );
  @each $width, $i in $map {
    @media only screen and (max-width: $width) {
      height: +($height - $i * 10);
    }
  }

  @mixin skins-width($width, $width_d) {
    @media only screen and (max-width: $width) {
      width: $width_d;
    }
  }

  &_container {
    $height: 80rem;
    width: calc(100% - 12rem);
    max-width: 136rem;
    height: $height;
    top: 10rem;
    z-index: 2;
    @include absolute-position-x-axis;

    @media only screen and (max-width: $px840) {
      top: 8rem;
    }
    @media only screen and (max-width: $px640) {
      top: 6rem;
    }

    $map: (
      $px1540: 0.2,
      $px1440: 0.7,
      $px1340: 1.3,
      $px1240: 1.9,
      $px1140: 2.5,
      $px1040: 3,
      $px940: 3.6,
      $px840: 4.2,
      $px740: 4.5,
      $px640: 4.3,
      $px540: 4.9,
      $px440: 5.4,
      $px340: 6,
    );
    @each $width, $i in $map {
      @media only screen and (max-width: $width) {
        height: +($height - $i * 10);
      }
    }

    @include skins-width($px740, calc(100% - 8rem));
    @include skins-width($px640, 100%);

    &__header {
      text-align: center;
      top: -5.6rem;
      @include absolute-position-x-axis;

      @media only screen and (max-width: $px640) {
        width: 100%;
        justify-content: center;
        transform: translate(-50%, -100%);
        @include flex-align-center;
      }

      @mixin header-top($width, $top) {
        @media only screen and (max-width: $width) {
          top: $top;
        }
      }
      @include header-top($px1040, -4.6rem);
      @include header-top($px740, -4.4rem);
      @include header-top($px640, 0);

      &-logo {
        width: 1.8rem;

        @media only screen and (max-width: $px1040) {
          width: 1.4rem;
        }
        @media only screen and (max-width: $px640) {
          margin: 1.2rem;
        }
        @media only screen and (max-width: $px540) {
          width: 1.2rem;
        }

        &.dingdong {
          animation: skinChosen ease 0.4s;
          -webkit-animation: skinChosen ease 0.4s;
        }
      }

      &-title {
        color: #c4b998;
        font-size: 2.4rem;
        letter-spacing: 0.7rem;
        @include use-font(Beaufort-Regular);

        @mixin title-font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include title-font-size($px1040, 2rem);
        @include title-font-size($px740, 1.8rem);
        @include title-font-size($px640, 2.4rem);
        @include title-font-size($px540, 2rem);
        @include title-font-size($px440, 1.8rem);
        @include title-font-size($px340, 1.6rem);

        &.scroll {
          animation: spacingExpanding ease 0.4s;
          -webkit-animation: spacingExpanding ease 0.4s;
        }
      }
    }
  }

  &_images {
    width: calc(100% - 8rem);
    max-width: 136rem;
    height: 90%;
    overflow: hidden;
    @include absolute-position(-50%, -50%);

    @include skins-width($px1040, calc(100% - 6rem));
    @include skins-width($px640, 100%);

    &__slider {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: all ease 0.4s;
      position: absolute;
      top: 0;
      left: 0;
      @include full-dimension;
    }
  }

  &-overlay {
    width: 100%;
    max-width: 146rem;
    height: 100%;
    background-color: transparent;
    border-bottom: 1px solid #423a26;
    position: absolute;

    @media only screen and (max-width: $px640) {
      border-bottom: none;
    }

    &__container-big {
      width: 88%;
      height: 16rem;
      background-color: #131315;
      border: 1px solid #423a26;
      bottom: 6rem;
      @include absolute-position-x-axis;

      @mixin container-big-height-bottom($width, $height, $bottom) {
        @media only screen and (max-width: $width) {
          height: $height;
          bottom: $bottom;
        }
      }
      @include container-big-height-bottom($px1340, 14rem, 5.5rem);
      @include container-big-height-bottom($px1240, 13.5rem, 5rem);
      @include container-big-height-bottom($px1140, 12.5rem, 4.5rem);
      @include container-big-height-bottom($px1040, 11.5rem, 4rem);
      @include container-big-height-bottom($px940, 9.5rem, 3.5rem);
      @include container-big-height-bottom($px840, 8.5rem, 3rem);
      @include container-big-height-bottom($px740, 7.5rem, 2.5rem);

      @media only screen and (max-width: $px840) {
        width: 85%;
      }
      @media only screen and (max-width: $px640) {
        width: 100%;
        height: 6.5;
        bottom: 0;
        transform: translate(-50%, 100%);
      }
    }

    %container-inner {
      // Due to CSS selector priority, create new square-dimension mixin with out !important
      @mixin square-dimension-inner($dimension) {
        width: $dimension;
        height: $dimension;
      }

      background-color: #131315;
      @include square-dimension-inner(calc(100% - 3rem));
      @include absolute-position(-50%, -50%);

      @media only screen and (max-width: $px1240) {
        @include square-dimension-inner(calc(100% - 2rem));
      }
    }

    &__container-small {
      border: 1px solid #423a26;
      @extend %container-inner;

      @media only screen and (max-width: $px940) {
        @include full-dimension;
      }
    }

    &__about {
      border: 1px solid #c4b998;
      overflow: hidden;
      @extend %container-inner;

      & > div {
        float: left;
        letter-spacing: 0.2rem;
        @include use-font(Beaufort-Regular);
      }

      &-logo {
        width: 13%;
        height: 100%;
        justify-content: center;
        @include flex-align-center;
        @include display-responsive($px840, none);

        &-fighter {
          width: auto;
          max-height: 70%;

          @media only screen and (max-width: $px1240) {
            max-height: 60%;
          }
        }
      }

      &-who {
        width: 39%;
        height: 100%;
        border-left: 1px solid #c4b998;
        border-right: 1px solid #c4b998;
        justify-content: center;
        @include flex-align-center;

        @mixin who-width($width, $width_d) {
          @media only screen and (max-width: $width) {
            width: $width_d;
          }
        }
        @include who-width($px840, 44%);
        @include who-width($px740, 69%);
        @include who-width($px640, 100%);

        &-name {
          color: #d3c7aa;
          font-size: 1.8rem;
          text-align: center;
          margin: 0 4rem;
          animation: fadeInOpa ease 0.4s;
          -webkit-animation: fadeInOpa ease 0.4s;

          @mixin name-font-size($width, $font-size) {
            @media only screen and (max-width: $width) {
              font-size: $font-size;
            }
          }
          @include name-font-size($px1140, 1.6rem);
          @include name-font-size($px1040, 1.4rem);
          @include name-font-size($px840, 1.2rem);
        }
      }

      &-more {
        width: 21%;
        height: 100%;
        font-size: 1.1rem;
        border-right: 1px solid #c4b998;
        flex-direction: column;
        @include flex-align-center;
        @include display-responsive($px740, none);

        @media only screen and (max-width: $px840) {
          width: 25%;
        }

        &-item {
          flex: 1;
          width: 100%;
          color: #d3c7aa;
          font-size: 1.1rem;
          justify-content: center;
          @include flex-align-center;
        }

        &-price {
          border-bottom: 1px solid #c4b998;

          &-separate,
          &-number {
            margin-right: 0.4rem;
          }
        }
      }

      &-explore {
        width: 27%;
        height: 100%;
        justify-content: center;
        @include flex-align-center;
        @include display-responsive($px640, none);

        @media only screen and (max-width: $px1040) {
          justify-content: flex-start;
        }
        @media only screen and (max-width: $px840) {
          width: 31%;
        }
        @media only screen and (max-width: $px740) {
          justify-content: center;
        }

        &-btn {
          background-color: transparent;
          color: #b59758;
          font-family: inherit;
          font-size: 1.5rem;
          letter-spacing: 0.5rem;
          padding: 2rem 2.4rem;
          transition: all ease 0.2s;
          position: relative;
          cursor: pointer;

          @mixin btn-font-and-padding($width, $font-size, $padding) {
            @media only screen and (max-width: $width) {
              font-size: $font-size;
              padding: $padding;
            }
          }
          @include btn-font-and-padding(1040, 1.3rem, 2rem 2.4rem);
          @include btn-font-and-padding(840, 1.3rem, 0 0 0 1.6rem);
          @include btn-font-and-padding(740, 1.1rem, 0);

          &:hover {
            color: #d3c7aa;

            .skins-overlay__about-explore-btn-arrow-main {
              right: -3rem;
              @include hide;
            }
            .skins-overlay__about-explore-btn-arrow-sub {
              right: 0;
              @include show;
            }
          }
        }

        &-btn-arrow {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-40%);
          transition: all ease 0.2s;
          @include display-responsive($px740, none);

          &-sub {
            right: 3rem;
            @include hide;
          }
        }
      }
    }
  }

  &-quote {
    bottom: 5rem;
    z-index: 2;
  }

  &-bg-icon {
    height: 96%;
    fill: $background-icon-color;
    z-index: 1;
    @include absolute-position-x-axis;
  }
}

// This is the button used for "explore" on mobile device
.skins-overlay__explore {
  $color: #c4b998;
  $folder-width-top: 1.2rem;
  $folder-width-bottom: calc(100% - 1.2rem);

  width: 11rem;
  height: 3.6rem;
  background-color: #0c0c0c;
  color: $color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: 1px solid $color;
  clip-path: polygon(
    $folder-width-top 0,
    100% 0,
    100% $folder-width-bottom,
    $folder-width-bottom 100%,
    0 100%,
    0 $folder-width-top
  );
  transition: all ease 0.2s;
  justify-content: center;
  @include flex-align-center;
  @include absolute-position(-50%, -50%);
  @include use-font(Spiegel-Bold);
  @include display-responsive($px640, flex);

  @media only screen and (max-width: $px440) {
    transform: translate(-50%, -50%) scale(0.9);
  }

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    $position: -1.2rem;

    &::after {
      right: $position;
    }
    &::before {
      left: $position;
    }
  }

  &::before {
    top: 0;
    left: 0;
    @include button-border(2rem, $color);
  }
  &::after {
    bottom: 0;
    right: 0;
    @include button-border(2rem, $color);
  }
}

.skins-btn {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;

  &-logo {
    @include square-dimension(5.6rem);

    @mixin logo-square-dimension($width, $dimension) {
      @media only screen and (max-width: $width) {
        @include square-dimension($dimension);
      }
    }
    @include logo-square-dimension($px1040, 4.6rem);
    @include logo-square-dimension($px740, 4rem);
  }

  .btn__circle-small {
    transition: all ease 0.1s;
    transform-origin: center;
    cursor: pointer;

    &:hover path {
      transition: all ease 0.2s;
      filter: brightness(1.3);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &-text {
    color: #d3c7aa;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    bottom: -1.2rem;
    transition: all ease 0.2s;
    @include use-font(Spiegel-Bold);
    @include absolute-position-x-axis;
    @include display-responsive($px740, none);
  }

  @mixin button-mobile-position($width, $side, $value, $y-translate: none) {
    @media only screen and (max-width: $width) {
      @if $side == left {
        left: $value;
      }
      @if $side == right {
        right: $value;
      }
      @if $y-translate != none {
        transform: translateY($y-translate);
      }
    }
  }

  &__left {
    left: -3.2rem;
    @include absolute-position-y-axis;
    @include button-mobile-position($px740, left, -2.4rem);
    @include button-mobile-position($px640, left, 0, -42%);
  }

  &__right {
    right: -3.2rem;
    @include absolute-position-y-axis;
    @include button-mobile-position($px740, right, -2.4rem);
    @include button-mobile-position($px640, right, 0, -42%);
  }
}

.skins-overlay__border {
  $square_05: -0.5rem;
  $square_02: -0.2rem;

  width: 0.1rem;
  height: 30%;
  background-color: #423a26;
  position: absolute;
  @include display-responsive($px640, none);

  &::after {
    @include square-border-header;
  }

  &--tl {
    top: 0;
    left: 0;

    &::after {
      left: $square_02;
      bottom: $square_05;
    }
  }

  &--tr {
    top: 0;
    right: 0;

    &::after {
      left: $square_02;
      bottom: $square_05;
    }
  }

  &--bl {
    left: 0;
    bottom: 0;

    &::after {
      top: $square_05;
      left: $square_02;
    }
  }

  &--br {
    right: 0;
    bottom: 0;

    &::after {
      top: $square_05;
      left: $square_02;
    }
  }

  &-above {
    width: 32%;
    height: 0.1rem;
    background-color: #423a26;
    position: absolute;
    @include display-responsive($px640, none);

    @mixin border-above-width($width, $width_d) {
      @media only screen and (max-width: $width) {
        width: $width_d;
      }
    }
    @include border-above-width($px1240, 30%);
    @include border-above-width($px940, 28%);
    @include border-above-width($px840, 24%);
    @include border-above-width($px740, 20%);

    &::after {
      @include square-border-header;
    }

    &-left {
      top: 0;
      left: 0;

      &::after {
        right: $square_05;
        bottom: $square_02;
      }
    }

    &-right {
      top: 0;
      right: 0;

      &::after {
        left: $square_05;
        bottom: $square_02;
      }
    }
  }
}
