.skins {
  width: 100%;
  height: 100rem;
  background-color: $header-bg-color;
  position: relative;

  @mixin skins-height($width, $height) {
    @media only screen and (max-width: $width) {
      height: $height;
    }
  }
  @include skins-height($px1240, 90rem);
  @include skins-height($px1140, 85rem);
  @include skins-height($px1040, 80rem);
  @include skins-height($px940, 75rem);
  @include skins-height($px840, 70rem);
  @include skins-height($px740, 62rem);
  @include skins-height($px640, 96rem);
  @include skins-height($px440, 86rem);

  &_container {
    width: calc(100% - 12rem);
    max-width: 146rem;
    height: 84rem;
    @include absolute-position(-50%, -50%);

    @include skins-height($px1240, 73rem);
    @include skins-height($px1140, 67rem);
    @include skins-height($px1040, 62rem);
    @include skins-height($px940, 56rem);
    @include skins-height($px840, 51rem);
    @include skins-height($px740, 44rem);
    @include skins-height($px640, 80rem);
    @include skins-height($px440, 70rem);

    @mixin container-width($width, $width_d) {
      @media only screen and (max-width: $width) {
        width: $width_d;
      }
    }
    @include container-width($px740, calc(100% - 8rem));
    @include container-width($px640, calc(100% - 6rem));
    @include container-width($px440, calc(100% - 4rem));

    &__header {
      text-align: center;
      top: -5.6rem;
      @include absolute-position-x-axis;

      @mixin header-top($width, $top) {
        @media only screen and (max-width: $width) {
          top: $top;
        }
      }
      @include header-top($px1040, -4.6rem);
      @include header-top($px740, -4.4rem);
      @include header-top($px540, -5.6rem);

      &-logo {
        width: 1.8rem;

        @media only screen and (max-width: $px1040) {
          width: 1.4rem;
        }

        &.dingdong {
          animation: skinChosen ease 0.4s;
          -webkit-animation: skinChosen ease 0.4s;
        }
      }

      &-title {
        color: #c4b998;
        font-size: 2.4rem;
        letter-spacing: 0.7rem;
        @include use-font(Beaufort-Regular);

        @mixin title-font-size($width, $font-size) {
          @media only screen and (max-width: $width) {
            font-size: $font-size;
          }
        }
        @include title-font-size($px1040, 2rem);
        @include title-font-size($px740, 1.8rem);
        @include title-font-size($px640, 1.6rem);

        &.scroll {
          animation: spacingExpanding ease 0.4s;
          -webkit-animation: spacingExpanding ease 0.4s;
        }
      }
    }
  }

  &_images {
    width: calc(100% - 8rem);
    max-width: 136rem;
    height: 65rem;
    top: 5rem;
    overflow: hidden;
    @include absolute-position-x-axis;

    @media only screen and (max-width: $px1040) {
      width: calc(100% - 6rem);
    }

    @include skins-height($px1240, 55rem);
    @include skins-height($px1140, 50rem);
    @include skins-height($px1040, 45rem);
    @include skins-height($px940, 40rem);
    @include skins-height($px840, 35rem);
    @include skins-height($px740, 30rem);

    &__slider {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: all ease 0.4s;
      position: absolute;
      top: 0;
      left: 0;
      @include full-dimension;
    }
  }

  &-overlay {
    width: 100%;
    max-width: 146rem;
    height: 84rem;
    background-color: transparent;
    border-bottom: 1px solid #423a26;
    position: absolute;

    @include skins-height($px1240, 73rem);
    @include skins-height($px1140, 67rem);
    @include skins-height($px1040, 62rem);
    @include skins-height($px940, 56rem);
    @include skins-height($px840, 51rem);
    @include skins-height($px740, 44rem);
    @include skins-height($px640, 80rem);
    @include skins-height($px440, 70rem);

    &__container-big {
      width: 88%;
      height: 17.5rem;
      background-color: #131315;
      border: 1px solid #423a26;
      bottom: 5rem;
      @include absolute-position-x-axis;

      @media only screen and (max-width: $px740) {
        width: 85%;
      }

      @mixin container-big-height-bottom($width, $height, $bottom) {
        @media only screen and (max-width: $width) {
          height: $height;
          bottom: $bottom;
        }
      }
      @include container-big-height-bottom($px1240, 15.5rem, 5rem);
      @include container-big-height-bottom($px1140, 13.5rem, 5.5rem);
      @include container-big-height-bottom($px940, 11.5rem, 5.5rem);
      @include container-big-height-bottom($px740, 8.5rem, 4.6rem);
    }

    %container-inner {
      background-color: #131315;
      @include absolute-position(-50%, -50%);

      @media only screen and (max-width: $px940) {
        @include square-dimension(calc(100% - 2rem));
      }
    }

    &__container-small {
      border: 1px solid #423a26;
      @include square-dimension(calc(100% - 3rem));
      @extend %container-inner;
    }

    &__about {
      border: 1px solid #c4b998;
      @include square-dimension(calc(100% - 4rem));
      @extend %container-inner;

      & > div {
        float: left;
        letter-spacing: 0.2rem;
        @include use-font(Beaufort-Regular);
      }

      &-logo {
        width: 13%;
        height: 100%;
        justify-content: center;
        @include flex-align-center;
        @include display-responsive($px840, none);

        &-fighter {
          width: auto;
          max-height: 70%;

          @media only screen and (max-width: $px1240) {
            max-height: 60%;
          }
        }
      }

      &-who {
        width: 39%;
        height: 100%;
        border-left: 1px solid #c4b998;
        border-right: 1px solid #c4b998;
        justify-content: center;
        @include flex-align-center;

        @mixin who-width($width, $width_d) {
          @media only screen and (max-width: $width) {
            width: $width_d;
          }
        }
        @include who-width($px840, 44%);
        @include who-width($px740, 69%);

        &-name {
          color: #d3c7aa;
          font-size: 1.8rem;
          text-align: center;
          margin: 0 4rem;
          animation: fadeInOpa ease 0.4s;
          -webkit-animation: fadeInOpa ease 0.4s;

          @mixin name-font-size($width, $font-size) {
            @media only screen and (max-width: $width) {
              font-size: $font-size;
            }
          }
          @include name-font-size($px1140, 1.6rem);
          @include name-font-size($px1040, 1.4rem);
          @include name-font-size($px840, 1.2rem);
        }
      }

      &-more {
        width: 21%;
        height: 100%;
        font-size: 1.1rem;
        border-right: 1px solid #c4b998;
        flex-direction: column;
        @include flex-align-center;
        @include display-responsive($px740, none);

        @media only screen and (max-width: $px840) {
          width: 25%;
        }

        &-item {
          flex: 1;
          width: 100%;
          color: #d3c7aa;
          font-size: 1.1rem;
          justify-content: center;
          @include flex-align-center;
        }

        &-price {
          border-bottom: 1px solid #c4b998;

          &-separate,
          &-number {
            margin-right: 0.4rem;
          }
        }
      }

      &-explore {
        width: 27%;
        height: 100%;
        justify-content: center;
        @include flex-align-center;

        @media only screen and (max-width: $px1040) {
          justify-content: flex-start;
        }
        @media only screen and (max-width: $px840) {
          width: 31%;
        }
        @media only screen and (max-width: $px740) {
          justify-content: center;
        }

        &-btn {
          background-color: transparent;
          color: #b59758;
          font-family: inherit;
          font-size: 1.5rem;
          letter-spacing: 0.5rem;
          padding: 2rem 2.4rem;
          transition: all ease 0.2s;
          position: relative;
          cursor: pointer;

          @mixin btn-font-and-padding($width, $font-size, $padding) {
            @media only screen and (max-width: $width) {
              font-size: $font-size;
              padding: $padding;
            }
          }
          @include btn-font-and-padding(1040, 1.3rem, 2rem 2.4rem);
          @include btn-font-and-padding(840, 1.3rem, 0 0 0 1.6rem);
          @include btn-font-and-padding(740, 1.1rem, 0);

          &:hover {
            color: #d3c7aa;

            .skins-overlay__about-explore-btn-arrow-main {
              right: -3rem;
              @include hide;
            }
            .skins-overlay__about-explore-btn-arrow-sub {
              right: 0;
              @include show;
            }
          }
        }

        &-btn-arrow {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-40%);
          transition: all ease 0.2s;
          @include display-responsive($px740, none);

          &-sub {
            right: 3rem;
            @include hide;
          }
        }
      }
    }
  }
}

.skins-btn {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  @include display-responsive($px640, none);

  &-logo {
    @include square-dimension(5.6rem);

    @mixin logo-square-dimension($width, $dimension) {
      @media only screen and (max-width: $width) {
        @include square-dimension($dimension);
      }
    }
    @include logo-square-dimension($px1040, 4.6rem);
    @include logo-square-dimension($px740, 4rem);
  }

  .btn__circle-small {
    transition: all ease 0.1s;
    transform-origin: center;
    cursor: pointer;

    &:hover path {
      transition: all ease 0.2s;
      filter: brightness(1.3);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &-text {
    color: #d3c7aa;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    bottom: -1.2rem;
    transition: all ease 0.2s;
    @include use-font(Spiegel-Bold);
    @include absolute-position-x-axis;
    @include display-responsive($px740, none);
  }

  &__left {
    left: -3.2rem;
    @include absolute-position-y-axis;

    @media only screen and (max-width: $px740) {
      left: -2.4rem;
    }
  }

  &__right {
    right: -3.2rem;
    @include absolute-position-y-axis;

    @media only screen and (max-width: $px740) {
      right: -2.4rem;
    }
  }
}

.skins-overlay__border-above {
  width: 32%;
  height: 0.1rem;
  background-color: #423a26;
  position: absolute;

  @mixin border-above-width($width, $width_d) {
    @media only screen and (max-width: $width) {
      width: $width_d;
    }
  }
  @include border-above-width($px1240, 30%);
  @include border-above-width($px940, 28%);
  @include border-above-width($px840, 24%);
  @include border-above-width($px740, 20%);

  &::after {
    @include square-border-header;
  }

  &-left {
    top: 0;
    left: 0;

    &::after {
      right: $square_05;
      bottom: $square_02;
    }
  }

  &-right {
    top: 0;
    right: 0;

    &::after {
      left: $square_05;
      bottom: $square_02;
    }
  }
}

.skins-overlay__border {
  width: 0.1rem;
  height: 30%;
  background-color: #423a26;
  position: absolute;

  &::after {
    @include square-border-header;
  }

  &--tl {
    top: 0;
    left: 0;

    &::after {
      left: $square_02;
      bottom: $square_05;
    }
  }

  &--tr {
    top: 0;
    right: 0;

    &::after {
      left: $square_02;
      bottom: $square_05;
    }
  }

  &--bl {
    left: 0;
    bottom: 0;

    &::after {
      top: $square_05;
      left: $square_02;
    }
  }

  &--br {
    right: 0;
    bottom: 0;

    &::after {
      top: $square_05;
      left: $square_02;
    }
  }
}
