.main-header__cover {
  width: 100%;
  height: 7rem;
  background-color: $header-bg-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1000;

  @media only screen and (max-width: $px640) {
    height: 6rem;
  }

  &.sticky {
    position: fixed;

    .main-header-about {
      border-bottom: 1px groove $color-button-blue;
    }
  }
}

.main-header {
  max-width: 126rem;
  background-color: transparent;
  color: $header-text-color;
  margin: 0 6rem;
  justify-content: space-between;
  @include full-dimension;
  @include use-font(FF-Mark-Bold);
  @include flex-align-center;

  @media only screen and (max-width: $px640) {
    margin: 0 2rem;
  }
}
