.main-header {
  @mixin items-scale($width, $scale) {
    @media only screen and (max-width: $width) {
      transform: scale($scale) !important;
    }
  }

  &__riot,
  &__lol-symbol,
  &__games {
    @include items-scale($px1040, 0.9);
    @include items-scale($px840, 0.85);
    @include items-scale($px640, 0.8);
    @include items-scale($px540, 0.75);
  }

  &__riot {
    padding: 1rem 0;
    cursor: pointer;
    @include flex-align-center;

    &:hover &-logo,
    &:hover &-icon {
      fill: $main-header-riot-logo;
    }

    &-logo {
      fill: $header-text-color;
      transition: all ease 0.2s;
    }
  }

  &__lol-symbol {
    margin: 0 1.6rem;
    top: 0.2rem;
    position: relative;
    @include display-responsive($px440, none);

    @mixin lol-symbol-margin($width, $margin) {
      @media only screen and (max-width: $width) {
        margin: $margin;
      }
    }
    @include lol-symbol-margin($px1040, 0 0.8rem);
    @include lol-symbol-margin($px840, 0 0.4rem);
    @include lol-symbol-margin($px540, 0);

    &-logo {
      width: 4.2rem;
      height: 3rem;
    }
  }

  &__games {
    line-height: 3rem;
    padding: 1rem 0;
    margin-right: 0.8rem;
    cursor: pointer;
    @include flex-align-center;

    @media only screen and (max-width: $px1040) {
      margin-right: 0;
    }
    @media only screen and (max-width: $px440) {
      position: relative;
      left: -1rem;
    }

    &:hover &-text {
      color: $main-header-riot-logo;
    }
    &:hover &-icon {
      fill: $main-header-riot-logo;
    }

    &-text {
      font-size: 1.8rem;
      transition: all linear 0.2s;

      @media only screen and (max-width: $px440) {
        font-size: 1.6rem;
      }
    }

    &-icon {
      top: 0.3rem;
      position: relative;

      @media only screen and (max-width: $px440) {
        top: 0.1rem;
        width: 1rem;
      }
    }
  }
}
