.main-header__play {
  justify-content: space-between;
  @include flex-align-center;

  @media only screen and (max-width: $px1140) {
    justify-content: flex-end;
    margin-right: 0.6rem;
  }
  @media only screen and (max-width: $px740) {
    flex: 1;
  }
  @media only screen and (max-width: $px640) {
    margin-right: 0;
  }
  @media only screen and (max-width: $px640) {
    margin-right: 0.6rem;
  }

  &-languages {
    justify-content: center;
    position: relative;
    cursor: pointer;
    @include square-dimension(6rem);
    @include flex-align-center;

    @media only screen and (max-width: $px440) {
      @include square-dimension(4rem);
    }

    &:hover &-icon {
      fill: $color-globe;
    }

    &-icon {
      width: 5.25rem;
      height: 2.625rem;
      fill: $header-text-color;
      transition: all linear 0.2s;

      @mixin languages-icon-dimension($width, $w_d, $h_d) {
        @media only screen and (max-width: $width) {
          width: $w_d;
          height: $h_d;
        }
      }
      @include languages-icon-dimension($px640, 5rem, 2.5rem);
      @include languages-icon-dimension($px440, 4rem, 2rem);
    }

    &:hover .languages-list {
      transform: translateX(0);
      @include show;
    }
  }

  &-sign {
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.4rem 1.8rem;
    transition: all ease 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $px1140) {
      display: none;
    }
  }

  &-sign-in {
    background-color: $color-button-grey;
    margin-right: 1.4rem;

    &:hover {
      color: $color-button-blue;
    }
  }

  &-play-now {
    background-image: linear-gradient(135deg, $color-button-blue-dark 30%, $color-button-blue 70%);
    -webkit-background-image: linear-gradient(135deg, $color-button-blue-dark 30%, $color-button-blue 70%);
    color: $color-button-grey;
    transition: all linear 0.2s;

    &:hover {
      filter: brightness(120%);
    }
  }
}

.languages-item {
  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  &.inactive .languages-link {
    color: $arrow-color !important;
    text-decoration: line-through !important;
    cursor: not-allowed !important;

    &:hover {
      .languages-language {
        color: $arrow-color !important;
      }
    }
  }
}

.languages-list {
  width: 21rem;
  height: 19rem;
  background-color: #202020;
  border-radius: 0.6rem;
  list-style: none;
  padding: 1.8rem 2rem 1.6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateX(1.5rem);
  transition: all ease 0.2s;
  overflow-y: scroll;
  position: absolute;
  top: 5.6rem;
  left: -8.2rem;
  z-index: 11;
  cursor: default;
  @include hide;
  @include scroll-bar($color-button-blue, 0 0.6rem 0.6rem 0);

  @media only screen and (max-width: $px440) {
    top: 4.2rem;
    left: -10.2rem;
  }
}

.languages-link {
  &:link,
  &:visited {
    color: #fff;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: all ease 0.2s;
    justify-content: space-between;
    @include flex-align-center;
  }

  &:link:hover,
  &:visited:hover {
    background-color: $bg-link-header;

    .languages-language {
      color: $color-button-blue;
    }
  }

  .languages-language {
    color: inherit;

    &.checked {
      color: $color-button-blue;

      & ~ svg {
        opacity: 1;
      }
    }

    & ~ svg {
      width: 3rem;
      height: 1.5rem;
      fill: $color-button-blue;
      opacity: 0;
      top: 0.1rem;
      transition: all linear 0.1s;
      position: relative;
    }
  }
}
