.main-header-about,
.main-header-about__list {
  flex: 1;

  display: flex;
  align-items: center;
}

.main-header {
  &-about {
    height: 100%;
    border-radius: 1rem;
    border-bottom: 1px groove $color-button-blue;

    // 1140px
    @media only screen and (max-width: 71.25em) {
      display: none;
    }

    &__list {
      justify-content: space-around;

      list-style: none;
    }

    &__item {
      transition: all linear 0.2s;

      position: relative;

      &:hover {
        background-color: $bg-link-header;
        border-radius: 0.6rem;

        &::before {
          transform: scaleX(1);
        }

        .more {
          color: $color-button-blue;
        }
      }

      &:last-child:hover {
        .arrow-down-more {
          fill: $color-button-blue;
        }
      }

      &::before {
        content: '';

        width: 100%;
        height: 0.4rem;
        background-color: $color-button-blue;
        border-radius: 0.2rem;
        transform: scaleX(0);
        transform-origin: left;
        transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
        z-index: 1;

        position: absolute;
        left: 0;
        bottom: -2rem;
      }

      &:last-child::before {
        width: 0;
      }
    }

    &__link:link,
    &__link:visited {
      min-width: 8rem;
      height: 100%;
      font-family: FF-Mark-Bold, Arial, sans-serif;
      font-size: 1.3rem;
      line-height: 3rem;
      color: inherit;
      padding: 0.5rem 1rem;
      letter-spacing: 0.2rem;
      text-decoration: none;
      text-transform: uppercase;

      .arrow-down-more {
        position: relative;
        top: 0.3rem;
      }
    }

    .find-more {
      position: relative;

      &::after {
        content: '';

        width: 100%;
        height: 2rem;
        opacity: 0;

        position: absolute;
        top: 3rem;
        left: 0;
      }

      &:hover {
        .list-1 {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }
  }
}

.mh-quote {
  display: none;

  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
  font-family: 'Gloria Hallelujah', cursive, Arial, sans-serif;

  flex: 1;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
  margin: 0 2rem;

  // 1140px
  @media only screen and (max-width: 71.25em) {
    display: block;
  }

  // 752px
  @media only screen and (max-width: 47em) {
    display: none;
  }

  &__ys {
    display: inline-block;

    font-size: 1.5rem;

    // 940px + 3px
    @media only screen and (max-width: 58.9375em) {
      display: block;

      position: relative;

      &--1 {
        left: -1rem;
      }

      &--2 {
        left: 6rem;
      }
    }

    // 840px
    @media only screen and (max-width: 52.5em) {
      font-size: 1.3rem;

      &--1 {
        left: 0;
      }

      &--2 {
        left: 4rem;
      }
    }
  }
}
