.main-header {
  // Item 1
  &__riot-logo {
    display: flex;
    align-items: center;

    padding: 1rem 0;

    &-svg {
      fill: $header-text-color;
      transition: all linear 0.2s;
    }

    &:hover &-svg,
    &:hover .arrow-down-red {
      fill: red;
    }

    // 640px
    @media only screen and (max-width: 40em) {
      margin-right: 2rem;
    }

    // 440px
    @media only screen and (max-width: 27.5em) {
      width: 6rem;
      margin-right: 1.2rem;
    }
  }

  // Item 2
  &__lol-symbol {
    margin: 0 2rem;

    position: relative;
    top: 0.2rem;

    // 640px
    @media only screen and (max-width: 40em) {
      display: none;
    }

    &-logo {
      width: 4.2rem;
      height: 3rem;
    }
  }

  // Item 3
  &__games {
    display: flex;
    align-items: center;

    line-height: 3rem;
    padding: 1rem 0;

    &-all {
      font-size: 1.8rem;
      transition: all linear 0.2s;

      // 440px
      @media only screen and (max-width: 27.5em) {
        font-size: 1.3rem;
      }
    }

    .arrow-down-games-all {
      position: relative;
      top: 0.3rem;

      // 440px
      @media only screen and (max-width: 27.5em) {
        top: 0.1rem;
        width: 1rem;
      }
    }
  }

  &__games:hover .arrow-down-games-all,
  &__games:hover &__games-all {
    color: red;
    fill: red;
  }
}
