.main-header__cover {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 8rem;
  background-color: $header-bg-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  position: sticky;
  top: -1px !important;
  left: 0;

  // 640px
  @media only screen and (max-width: 40em) {
    height: 6rem;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include dimension100;
  max-width: $width;
  font-family: FF-Mark-Bold, Arial, sans-serif;
  background-color: transparent;
  color: $header-text-color;
  margin: 0 6rem;

  // // 640px
  @media only screen and (max-width: 40em) {
    margin: 0 2rem;
  }
}

// Cursor
.main-header__riot-logo,
.main-header__lol-symbol,
.main-header__games,
.main-header__play-languages,
.main-header__play-sign,
.mh-menu {
  cursor: pointer;
}
