.main-header {
  @mixin riot-logo-margin-right($width, $right) {
    @media only screen and (max-width: $width) {
      margin-right: $right;
    }
  }

  &__riot {
    padding: 1rem 0;
    @include flex-align-center;

    @include riot-logo-margin-right($px640, 2rem);
    @include riot-logo-margin-right($px440, 1.2rem);

    &:hover &-logo,
    &:hover &-icon {
      fill: $main-header-riot-logo;
    }

    &-logo {
      fill: $header-text-color;
      transition: all ease 0.2s;
      cursor: pointer;
    }
  }

  &__lol-symbol {
    margin: 0 2rem;
    top: 0.2rem;
    position: relative;
    @include display-responsive($px640, none);

    &-logo {
      width: 4.2rem;
      height: 3rem;
    }
  }

  &__games {
    line-height: 3rem;
    padding: 1rem 0;
    cursor: pointer;
    @include flex-align-center;

    &:hover &-text {
      color: $main-header-riot-logo;
    }
    &:hover &-icon {
      fill: $main-header-riot-logo;
    }

    &-text {
      font-size: 1.8rem;
      transition: all linear 0.2s;

      @media only screen and (max-width: $px440) {
        font-size: 1.3rem;
      }
    }

    &-icon {
      top: 0.3rem;
      position: relative;

      @media only screen and (max-width: $px440) {
        top: 0.1rem;
        width: 1rem;
      }
    }
  }
}
