.mh-menu {
  display: none;

  background-color: #222222;
  padding: 1rem 0.6rem;
  border-radius: 0.6rem;
  transition: all linear 0.1s;

  // 440px
  @media only screen and (max-width: 27.5em) {
    padding: 0.5rem 0.3rem;
  }

  // 1140px
  @media only screen and (max-width: 71.25em) {
    display: block;
  }

  &:hover {
    background-color: $bg-link-header;
  }

  &__icon {
    width: 4rem;
    height: 2rem;
    fill: currentColor;

    position: relative;
    top: 0.1rem;
  }
}

.mh-table__cover {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.6);
  z-index: 1001;

  @include abs;
  top: 0;
  left: 0;
}

.mh-table {
  width: 100%;
  max-width: 48rem;
  height: 100vh;
  font-family: FF-Mark-Bold, Arial, sans-serif;
  background-color: $color-layer;
  padding: 0 1.6rem 1.6rem;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    border-bottom-right-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #256b79;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 8rem;

    &-close {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 4.2rem;
      height: 4.2rem;
      background-color: #222222;
      border-radius: 0.6rem;
      transition: all linear 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $bg-link-header;
      }

      &-icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $header-text-color;
      }
    }
  }

  // &__section {}
  &__list {
    list-style: none;
  }

  &__item {
    padding: 1.2rem 1.6rem;
    margin: 0.8rem 0;
    border-radius: 0.6rem;
    transition: all linear 0.1s;
    cursor: pointer;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(7) {
      margin-bottom: 0.4rem;
    }

    &:nth-child(9) {
      margin-top: 0.8rem;
    }

    &:hover {
      background-color: rgb(35, 35, 35);
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    color: $header-text-color;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;

    // 640px
    @media only screen and (max-width: 40em) {
      font-size: 1.4rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-icon {
      height: 2.25rem;

      position: relative;
      top: 0.2rem;
    }
  }

  &__footer {
    margin-top: 2rem;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 4.8rem;
      font-size: 1.6rem;
      padding: 0.8rem 1.6rem;
      border-radius: 0.6rem;
      transition: all linear 0.1s;
      cursor: pointer;

      // 640px
      @media only screen and (max-width: 40em) {
        font-size: 1.4rem;
      }

      &--sign-in {
        background-color: rgb(35, 35, 35);
        color: $header-text-color;

        &:hover {
          background-color: rgb(41, 41, 41);
        }
      }

      &--play-now {
        background-color: $color-button-blue;
        margin-top: 1.2rem;

        &:hover {
          background-color: $button-color-blue;
        }
      }
    }
  }

  &-more {
    padding: 0 1.6rem;
    overflow: hidden;
    transition: height linear 0.2s, opacity linear 0.4s;

    opacity: 1;
    pointer-events: none;
    height: 0;

    &.show {
      opacity: 1;
      pointer-events: all;
      height: 14.8rem;
    }

    &__item {
      padding: 1.2rem 1.6rem;
      border-radius: 0.6rem;
      transition: all linear 0.1s;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0.8rem 0;
      }

      &:hover {
        background-color: rgb(35, 35, 35);
      }
    }

    &__link:link,
    &__link:visited {
      font-size: 1.4rem;

      // 640px
      @media only screen and (max-width: 40em) {
        font-size: 1.2rem;
      }
    }

    &__link {
      &-icon {
        height: 2rem;

        position: relative;
        top: 0.2rem;
      }
    }
  }
}

.mh-table__cover {
  @include show;
  transition: all linear 0.2s;

  &.hide {
    @include hide;
  }
}

.mh-table {
  transform: translateX(100%);
  transition: all ease 0.6s;

  &.show {
    transform: translateX(0);
  }
}

.mh-table__universe-x {
  transition: all linear 0.2s;

  &.universe-x {
    transform: rotate(45deg);
  }
}
