.button {
  border: none;
  outline: none;
  text-transform: uppercase;
}

.button-blue {
  background-color: $button-color-blue;
  transition: all linear 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $button-color-blue-hover;
  }
}
