@keyframes toggleFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOpa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes goUp {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0);
  }
}
