.fake-id {
  @include hide;

  position: absolute;
  top: -7.2rem;
}

// Buttons
.button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.button-blue {
  background-color: $button-color-blue;
  transition: all linear 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $button-color-blue-hover;
  }
}

.button-yellow {
  background-color: #c4b998;
  transition: all linear 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #d4ccb2;
  }
}

// Icons
.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: $arrow-color;
  margin-left: 0.2rem;
  transition: all linear 0.2s;
}

// Toast
#toast {
  width: 0;
  height: 0;
  z-index: 10000;

  position: fixed;
  top: 3.2rem;
  right: 3.2rem;

  // 640px
  @media only screen and (max-width: 40em) {
    top: 2rem;
    right: 2rem;
  }

  // 440px
  @media only screen and (max-width: 27.5em) {
    transform: scale(0.8);
  }
}

.toast {
  display: block;
  min-width: 35rem;
  max-width: 45rem;
  height: 8rem;
  box-shadow: 0 2px 2px rgba(#fff, 0.4);
  transition: all linear 0.24s;
  animation: fadeInFromRight ease 0.4s, fadeOut linear 1s 4s forwards;

  position: absolute;
  top: 0;
  right: 0;

  &-overlay {
    @include dimension100;
    opacity: 0.7;

    position: absolute;
    @include zero-zero;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.welcome {
      background-image: url('../../src/img/Toast/the-soul_optimized.jpeg');
    }

    &.toast-information {
      background-image: url('../../src/img/Toast/information_optimized.jpeg');
    }

    &.toast-abilities {
      background-image: url('../../src/img/Toast/yasuo-bloodmoon_optimized.jpg');
    }

    &.toast-skins {
      background-image: url('../../src/img/Toast/looks_optimized.jpeg');
    }

    &.toast-ruined {
      background-image: url('../../src/img/Toast/ruined_optimized.jpeg');
    }

    &.toast-gallery {
      background-image: url('../../src/img/Toast/blossom_optimized.jpeg');
    }

    &.toast-oopsie {
      background-image: url('../../src/img/Toast/oops_optimized.png');
    }
  }

  &-content {
    display: flex;

    @include dimension100;
    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    @include zero-zero;

    &__left {
      @include center_with_flex;

      width: 0.5rem;

      &.welcome {
        background-color: #43afc2;
      }

      &.toast-information {
        background-color: #dbf9ff;
      }

      &.toast-abilities {
        background-color: rgb(249, 70, 70);
      }

      &.toast-skins {
        background-color: #ffa43c;
      }

      &.toast-ruined {
        background-color: rgb(75, 196, 151);
      }

      &.toast-gallery {
        background-color: #fb9ec5;
      }

      &.toast-oopsie {
        background-color: #269aae;
      }
    }

    &__center {
      flex: 1;

      font-family: Spiegel-Regular, Arial, sans-serif;
      color: #fff;
      padding: 1rem 0 1rem 4rem;

      &-title {
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
      }

      &-content {
        font-size: 1rem;
        margin-top: 0.2rem;
        letter-spacing: 0.2rem;
      }
    }

    &__right {
      @include center_with_flex;

      width: 6rem;

      &-icon {
        width: 2.6rem;
        height: 2.6rem;
        transition: all linear 0.1s;
        cursor: pointer;

        &.welcome {
          fill: #3b92a1;

          &:hover {
            fill: #43afc2;
          }
        }

        &.toast-information {
          fill: #b7cace;

          &:hover {
            fill: #dbf9ff;
          }
        }

        &.toast-abilities {
          fill: rgb(198, 55, 55);

          &:hover {
            fill: rgb(249, 70, 70);
          }
        }

        &.toast-skins {
          fill: #c9812e;

          &:hover {
            fill: #ffa43c;
          }
        }

        &.toast-ruined {
          fill: rgb(58, 151, 117);

          &:hover {
            fill: rgb(75, 196, 151);
          }
        }

        &.toast-gallery {
          fill: #cf7fa0;

          &:hover {
            fill: #fb9ec5;
          }
        }

        &.toast-oopsie {
          fill: #1d7888;

          &:hover {
            fill: #269aae;
          }
        }
      }
    }
  }
}
