// Buttons
.button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.button-blue {
  background-color: $button-color-blue;
  transition: all linear 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $button-color-blue-hover;
  }
}

// Icons
.arrow-down {
  width: 1.5rem;
  height: 1.5rem;
  fill: $arrow-color;
  margin-left: 0.2rem;
  transition: all linear 0.2s;
}
