.explore-games-container {
  @include dimension100;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;

  @include abs;
  @include zero-zero;

  @include hide;

  &.show {
    @include show;
  }

  .explore-games {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 160rem;
    background-color: $header-bg-color;
    border-bottom: 1px groove $color-button-blue;
    box-shadow: 0 1px 3px rgba(rgb(115, 115, 115), 0.2),
      0 1px 2px rgba(rgb(136, 136, 136), 0.4);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &.close-special {
      animation: navbarXgClose linear 0.2s;
    }

    &.show {
      animation: navbarXg linear 0.2s forwards;
    }

    // 1040px
    @media only screen and (max-width: 65em) {
      max-width: 104rem;
      height: 100vh;
      border-bottom: none;

      overflow-y: scroll;
    }

    // Header /////////////////////////////////////
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 7.2rem;
      color: $header-text-color;
      padding: 2.4rem;
      text-transform: uppercase;
      transition: all linear 0.2s;

      opacity: 0;
      pointer-events: none;

      &.show {
        opacity: 1;
        pointer-events: all;
      }

      // 1040px
      @media only screen and (max-width: 65em) {
        padding: 1.2rem 1.8rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        padding: 1.6rem 1.2rem 0.6rem;
      }

      &-riot {
        margin: 0 1.6rem;
        cursor: pointer;

        // 1040px
        @media only screen and (max-width: 65em) {
          margin: 0;
        }

        // 340px
        @media only screen and (max-width: 21.25em) {
          display: none;
        }

        &-games {
          font-family: FF-Mark-Bold, Arial, sans-serif;
          font-size: 2rem;

          // 640px
          @media only screen and (max-width: 40em) {
            font-size: 1.8rem;
          }
        }
      }

      &-more {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-right: 1.6rem;

        // 1040px
        @media only screen and (max-width: 65em) {
          margin-right: 0;
        }

        // 340px
        @media only screen and (max-width: 21.25em) {
          flex: 1;
        }

        &-visit {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.1rem;
          padding: 0.43rem 1.2rem;
          margin-right: 1rem;
          border-radius: 0.6rem;
          transition: background-color linear 0.1s;

          position: relative;
          top: 0.1rem;

          @media only screen and (max-width: 21.25em) {
            font-size: 1.4rem;
            padding: 0;
          }

          &:hover {
            background-color: rgb(56, 56, 56);
          }
        }

        &-visit,
        &-close {
          cursor: pointer;
        }

        &-close {
          display: flex;
          align-items: center;
          justify-content: space-around;

          width: 2.4rem;
          height: 2.4rem;
          background-color: rgb(56, 56, 56);
          border-radius: 0.6rem;

          // 1040px
          @media only screen and (max-width: 65em) {
            width: 3.6rem;
            height: 3.6rem;
          }

          // 640px
          @media only screen and (max-width: 40em) {
            width: 3.6rem;
            height: 3.6rem;
          }

          &-icon {
            width: 1.6rem;
            height: 1.6rem;
            fill: #fff;
          }
        }
      }
    }

    // Body /////////////////////////////////////
    &__body {
      flex: 1;

      display: grid;
      grid-gap: 0.8rem;
      grid-template-columns: repeat(8, 1fr);

      padding: 0 3.2rem 3.2rem;

      // 1040px
      @media only screen and (max-width: 65em) {
        grid-gap: 1.6rem;
        grid-template-columns: repeat(2, 1fr);

        padding: 0 2rem 2rem;
      }

      // 640px
      @media only screen and (max-width: 40em) {
        grid-gap: 0.8rem;
        padding: 1rem;
      }

      &--1,
      &--2 {
        grid-column: span 2;
      }

      &--1,
      &--2,
      &--3,
      &--4,
      &--5,
      &--6 {
        transition: all linear 0.2s;

        @include hide;

        &.show {
          @include show;
        }
      }

      .egbl-poster:link,
      .egbl-poster:visited {
        color: rgb(209, 209, 209);
        font-family: FF-Mark, Arial, sans-serif;
        font-size: 1.1rem;
        text-decoration: none;

        &:hover .egbl-poster-img {
          box-shadow: 0 14px 20px rgba(#fff, 0.05), 0 10px 10px rgba(#fff, 0.08);
        }
      }

      .egbl-poster {
        &-img {
          width: 100%;
          height: auto;
          border-radius: 0.4rem;
          box-shadow: 0 1px 3px rgba(rgb(115, 115, 115), 0.12),
            0 1px 2px rgba(rgb(136, 136, 136), 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        &__description {
          padding-top: 1rem;

          &:nth-last-child(1) {
            // 1040px
            @media only screen and (max-width: 65em) {
              padding-bottom: 1rem;
            }
          }

          // 1040px
          @media only screen and (max-width: 65em) {
            font-size: 1.6rem;
            padding-top: 0.2rem;
          }
        }

        &__download {
          display: flex;
          gap: 0.8rem;

          fill: rgb(209, 209, 209);
          margin-top: 0.8rem;

          // 1040px
          @media only screen and (max-width: 65em) {
            padding-bottom: 0.8rem;
          }

          &-window-icon,
          &-macOS-icon {
            // 1040px
            @media only screen and (max-width: 65em) {
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }
      }
    }
  }
}
