.sb-ag-container {
  @include dimension100;

  @include abs;
  @include zero-zero;

  display: none;

  .sb-ag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $header-bg-color;
    z-index: 201;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 8rem;
      padding: 0 3rem;

      &__ag {
        &-back {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          &:hover .sb-ag-header__ag-back-icon,
          &:hover .sb-ag-header__ag-back-icon-up {
            fill: red;
          }

          &-icon {
            fill: $header-text-color;
            transition: all linear 0.2s;
          }

          &-icon-up {
            width: 1.5rem;
            height: 1.5rem;
            fill: #7e7e7e;
            margin-left: 0.2rem;
            transform: rotate(180deg);
            transition: fill linear 0.2s;
          }
        }
      }

      &__close {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 0.6rem;
        transition: all linear 0.2s;
        cursor: pointer;

        &:hover {
          .sb-ag-header__close-icon {
            fill: red;
          }
        }

        &-icon {
          @include center-absolute;
          fill: $header-text-color;
          width: 2rem;
          height: 2rem;
          transition: all linear 0.2s;
        }
      }
    }

    &-body {
      flex: 1;
      width: 100%;
      padding: 0 3rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;

      &__left {
        background-color: $header-bg-color;
        width: 50%;
        padding: 0 0.8rem;
        columns: auto 3;
        column-gap: 1rem;

        &-cover {
          font-size: 1.2rem;
          text-transform: uppercase;
          height: auto;
          padding-bottom: 1.6rem;
          break-inside: avoid;
        }

        &-title {
          font-family: FF-Mark-Medium, Arial, sans-serif;
          color: rgb(209, 209, 209);
          background-color: rgb(21, 21, 21);
          border-radius: 0.6rem;
          padding: 0.8rem 1.6rem;
          margin-bottom: 0.4rem;
        }

        &-link:link,
        &-link:visited {
          display: block;
          // font-family: FF-Mark-Hair, Arial, sans-serif;
          font-family: FF-Mark, Arial, sans-serif;
          color: rgb(168, 168, 168);
          text-decoration: none;
          padding: 0.8rem 1.6rem;
          margin: 0.4rem 0;
          border-radius: 0.6rem;
          transition: all linear 0.1s;
        }

        &-link:hover {
          background-color: rgb(27, 27, 27);
          color: rgb(209, 209, 209);
        }

        &-item {
          color: inherit;
        }
      }

      &__right {
        width: 50%;
        padding: 0 0.8rem;

        &-main {
          width: 100%;
          display: flex;
          gap: 1.6rem;
        }

        &-cover {
          width: 50%;
          cursor: pointer;

          &:hover {
            .sb-ag-body__right-img {
              box-shadow: 0 14px 28px rgba(#fff, 0.05),
                0 10px 10px rgba(#fff, 0.02);
            }
          }
        }

        &-img-container {
          width: 100%;
          height: fit-content;
        }

        &-img {
          display: block;
          width: 100%;
          max-width: 452px;
          border-radius: 0.6rem;
          box-shadow: 0 1px 3px rgba(rgb(151, 151, 151), 0.12),
            0 1px 2px rgba(#fff, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        &-detailed {
          margin-top: 1.6rem;
        }

        &-text-detailed {
          font-family: FF-Mark, Arial, sans-serif;
          font-size: 1.3rem;
          color: rgb(209, 209, 209);
        }
      }
    }
  }
}
